[2021-10-28 09:19] CSimpiFoN opened #1503 "`vsphere_host_virtual_switch` resource attempts to change the VMNIC order"
### Terraform Version
v1.0.3
### vSphere Provider Version
v2.0.2

### Affected Resource(s)
- `vsphere_host_virtual_switch`

### Terraform Configuration Files

[code]
[code]
![image](https://user-images.githubusercontent.com/35144906/139226395-aff5e741-1963-4fc4-b5c7-fb196e455d2b.png)

### Debug Output
[code]
[code]

### Panic Output

### Expected Behavior
Terraform should not see any changes made,

[2021-10-29 20:40] tenthirtyam commented on #1007
As @codeopen1 mentions above, the method to achieve this configuration would be similar to the following:

[code]

Which would result in the following:

<img width="1550" alt="image" src="https://user-images.githubusercontent.com/7771363/139498677-b1379e6f-7f23-4ac8-bbd1-687f628d0943.png">

I suggest that the documentation for the the resources should be updated to reflect the logic instead of int

[2021-10-29 21:13] tenthirtyam commented on #919
I'm not seeing this occur with the following:
- vSphere 7.0 Update 3a (7.0.3.00100)
- Terraform v1.0.9
- Terraform Provider for vSphere v2.0.2

Below is the configuration snippet which is similar to the reported.

[code]

The result is as seen below:

<img width="736" alt="image" src="https://user-images.githubusercontent.com/7771363/139500448-267b9edb-2883-40d6-8998-95d710db2998.png">

If I updat

[2021-10-29 22:31] arizvisa commented on #916
@lostplan, it seems that PR #1407 is working on that. It might be beneficial to help facilitate the merging of that particular PR by testing it and giving opinions so that people don't lose interest and it stalls out.

[2021-10-29 23:03] tenthirtyam commented on #978
No response from @Satak in >1 year.

Recommend to consider an update to the `vsphere_storage_policy` with an quality example as it's rather sparse.

Ryan

cc @tenthirtyam

[2021-10-29 23:11] tenthirtyam commented on #1132
@redeux - Can you review and confirm if this was resolved in the above?

- @tenthirtyam

[2021-10-30 14:37] tenthirtyam commented on #1202
@ShotgunSpider

I suspect that this is more of an issue with your Ubuntu 20.04 template having a conflict between VM Guest Customization and cloud-init, which is installed by default in Ubuntu 20.04 LTS, rather than an issue with the provider.

Also, as @hungtran84 points out, for some Linux distributions _(e.g. RHEL and RHEL derivatives)_, `perl` must be installed alongside `open-vm-tools` for vm

[2021-10-30 20:29] tenthirtyam commented on #1496
Ideal fix: Investigate adding the ability to return the `firmware` setting in the `content_library_item` data source.

Potential fix: https://github.com/hashicorp/terraform-provider-vsphere/blob/ee62ff06fdcc8b0ca6185a03f02fbc0b1430d31f/vsphere/virtual_machine_config_structure.go#L277-L282

* Change to the following:
[code]
* Update the documentation.
* Release note the breaking changes for users a

[2021-10-31 17:34] tenthirtyam commented on #1297
See https://github.com/hashicorp/terraform-provider-vsphere/pull/1506.

* `tools_upgrade_policy` - (Optional) Enable automatic upgrade of the VMware Tools
version when the virtual machine is rebooted. If necessary, VMware Tools is upgraded
to the latest version supported by the host on which the virtual machine is running.
Requires VMware tools to be installed. One of `manual` or `upgradeAtPowerCy

[2021-10-31 18:40] tenthirtyam commented on #1492
Yes, you can **absolutely**__ use the `vsphere_folder` data source to drive placement, but you need to make some slight modifications as illustrated below:

[code]
and...

[code]

I've posted an example here: https://github.com/tenthirtyam/terrafom-examples-vmware/tree/main/vsphere/vsphere-virtual-machine/clone-template-linux-nested-folder

Ryan
@tenthirtyam

Recommend: `close/not-a-bug`

[2021-10-31 22:40] tenthirtyam commented on #1487
This is _**most likely**_ an issue with the Linux distribution if cloud-init is installed and if the configuration for the machine image has not been configured to address use of the correct data source (e.g. [VMware] with cloud-init 21.3+) and order of customization operations.

**Recommend**: `close/not-a-bug`.

Ryan
@tenthirtyam

[2021-10-31 23:39] tenthirtyam commented on #1484
Can you clarify if you receive the same issue if you deploy a content library item of the type `ovf`, too? Does it occur for both types or is it limited to the type `vm-template`?

Ryan
@tenthirtyam

[2021-11-01 02:15] tenthirtyam commented on #1382
Have you attempted to recreate the use case with the newer changes to ovf in the provider?

Ryan
@tenthirtyam

[2021-11-01 02:19] tenthirtyam commented on #1364
Can you provider more detail and example?

Otherwise, since the issue is rather stale, suggest to close if not example for reproduction.

Ryan
@tenthirtyam

[2021-11-01 02:24] tenthirtyam commented on #1342
This issue really needs more information for community support. If you are unable to provide additional information or if the problem is resolved, please update.

Ryan
@tenthirtyam

[2021-11-01 02:31] tenthirtyam commented on #1332
One critically important piece of information is missing from the issue description is which version of vSphere is being used in the environment? The would help to ensure that the version of vSphere in the environment fully supports Windows 2019 as a guest OS since the it appears `windows2019srv_64Guest` is not being allowed.

With regards to Windows 2016, the value would be `windows9Server64Guest

[2021-11-01 03:08] tenthirtyam commented on #1331
@DI-DaveGoodine -

The max characters for a virtual machine name in vSphere is 80; therefore the code below would matches the supported max character length in vSphere:

https://github.com/hashicorp/terraform-provider-vsphere/blob/ee62ff06fdcc8b0ca6185a03f02fbc0b1430d31f/vsphere/virtual_machine_config_structure.go#L192-L198.

Therefore, regarding the vm naming, this is not a bug, but as designed t

[2021-11-01 03:08] tenthirtyam commented on #1331
@patrick-hermann-sva can you provide you configuration(s) that is failing.

Ryan

[2021-11-01 03:21] tenthirtyam commented on #1319
One critically important prince of information missing is the version of vSphere in the environment.

RHEL 8 is only supported on vSphere 7.0 or higher.

https://www.vmware.com/resources/compatibility/search.php?deviceCategory=software&details=1&partner=75&operatingSystems=258&page=1&display_interval=10&sortColumn=Partner&sortOrder=Asc&testConfig=16

Please advise if this error is seen on 7.0+ and

[2021-11-01 04:12] aishwarya128 commented on #1394
Hi @koikonom ,

I would like to contribute on this issue, so picking up this if its not already worked upon

[2021-11-01 04:17] tenthirtyam commented on #1245
The `type` was added to the `vsphere_content_library_item` in https://github.com/hashicorp/terraform-provider-vsphere/commit/7d83a8acc5345f5231f5f200b620634a0afbdeec#diff-59360f584f8f07cd75690f835baf71576e2a064e091268f7d3364611cd75bea3. As such, when this was added there would have been design choice to set this a Required vs Optional and setting `vm-template` as the default.

The result was a goo

[2021-11-01 14:01] tenthirtyam commented on #1471
@indreek - it should be done similar to as follows so that the `vsphere_datacenter` ID (`moref`) can be returned from the data source and then passed to the resource `vsphere_compute_cluster`.

[code]

Of course, if you want to do this with the tags, then it would look similar to the following. Note that I put in the `depends_on` to help ensure the order of operations.

[code]

Hope that helps.

R

[2021-11-01 14:12] tenthirtyam commented on #1435
The configration should look similar to the below:

[code]

@AdrianBegg - can you test and update the issue accordingly?

Ryan
@tenthirtyam

[2021-11-01 15:53] magnusstrandberg1 commented on #851
any updates on resizing disks, we really want need this feature.

[2021-11-01 16:27] tenthirtyam commented on #1340
Submitted https://github.com/hashicorp/terraform-provider-vsphere/pull/1507 to address this issue.

Ryan
@tenthirtyam

[2021-11-01 16:28] tenthirtyam commented on #1245
Submitted https://github.com/hashicorp/terraform-provider-vsphere/pull/1507 to address the gap in the documentation for the `type` argument and updated the examples.

Ryan
@tenthirtyam

[2021-11-01 17:05] tenthirtyam commented on #1351
@cleeistaken,

Upstream, this is a requirement in [`vmware/govmoni`](https://github.com/vmware/govmomi/blob/af7458910e2a4a5f6a5a3cd043d777e9a2e5dcfa/vapi/library/library.go#L37-L50). The best method to address this is to update the documentation for the `vsphere_content_library` resource to the depict the need to convert it to a `set` as follows:

[code]

I'll submit a PR to resolve the issue in t

[2021-11-01 19:35] tenthirtyam commented on #1480
@tsalata - thank filing the issue. You are correct regarding the `map` function.

The correct usage would be as seen below with the use of the `tomap` function.

Abbreviated example:
[code]

Full example:

[code]

I'll submit a PR to address the gaps in the `vsphere_custom_attribute` resource documentation. and update the example.

Ryan
@tenthirtyam

[2021-11-01 19:42] arizvisa commented on #1180
If I recall correctly, some of the things mentioned in this issue were noted in issue #1126. That issue discusses some weaknesses with how content libraries actually work in vSphere which results in the `terraform-provider-vsphere` plugin having to do a lot of work in order to use them effectively. As a result of this, a workaround was introduced by exposing the "Type" field as a "Data Source" for

[2021-11-01 19:51] arizvisa commented on #977
Just curious, is there some particular reason (technical) that `terraform-provider-vsphere` uses gigabytes instead of megabytes for the denomination of the disk size?

[2021-11-01 20:10] arizvisa commented on #809
It seems that the vsphere_virtual_machine data source needs another entry added to its schema. Either it's the following attribute in the schema.
https://github.com/hashicorp/terraform-provider-vsphere/blob/814675b5da80f286a082664d22455b7c8264134a/vsphere/data_source_vsphere_virtual_machine.go#L135-L140

Or the field could be added to the schema here:
https://github.com/hashicorp/terraform-provide

[2021-11-01 20:12] arizvisa commented on #831
As I don't work with Terraform and vSphere anymore, if I add the "snapshot_id" attribute to the schema, would someone else be able to test it and perhaps add the field to the documentation?

[2021-11-01 20:21] tenthirtyam commented on #1298
This **is not** an issue with the Terraform provider for vSphere, but rather it's an issue with the CentOS 7 machine image created with the Packer template which includes the `cloud-init` package...

https://gist.github.com/skganji/df18cab1659fc0199a667206b9bf2c43#file-centos-7-packer-json-L74-L77

I'd suggest modifying your Packer configuration to run a script file vs inline and add the following

[2021-11-01 20:30] tenthirtyam commented on #831
@arizvisa I'll be happy to flag this one for contribution once others PRs are merged.

Ryan
@tenthirtyam

[2021-11-01 20:41] tsalata commented on #1480
@tenthirtyam,

I updated my code with what you reflected and it appears to work for any custom attribute that does not currently exist. For example, if I already have an attribute of `Owner` when I try to run TF, I get an error of:

`vsphere_custom_attribute.attribute: Creating...`
`Error: could not create custom attribute: ServerFaultCode: The name 'Owner' already exists`

Is it possible to provi

[2021-11-01 21:24] tenthirtyam commented on #1480
@tsalata The following would be used if the custom attribute already exists for `Owner` of the `managed_object_type` `VirtualMachine`

[code]

Ryan
@tenthirtyam

[2021-11-01 21:30] tenthirtyam commented on #1480
@tsalata I've added an additional example to the `vsphere_custom_attribute` resource docs for use of an existing custom attribute. See https://github.com/tenthirtyam/terraform-provider-vsphere/commit/e2b6a6071855aeddecad2cf5f3f3fcc8a13b14e1.

Ryan
@tenthirtyam

[2021-11-01 23:40] arizvisa commented on #831
Yeah. It seems really simple to add and the issue is 3 years old. Plus, there isn't even a PR to start the review process for improving this. Like I noted, I'd be fixing a lot more in this provider because vmware is super-pervasive in the industry I work in, and I hate seeing some of these minor vmware-related issues get stagnant compared to the other platforms.

Unfortunately, I haven't needed to

[2021-11-03 09:49] maw1146 opened #1509 "The plugin encountered an error, and failed to respond to the plugin"
### Terraform Version
Terraform v1.0.9
on windows_amd64
+ provider registry.terraform.io/hashicorp/null v3.1.0
+ provider registry.terraform.io/hashicorp/vsphere v2.0.2

### vSphere Provider Version
provider registry.terraform.io/hashicorp/vsphere v2.0.2

### Panic Output

vsphere_virtual_machine.haproxy[0]: Refreshing state... [id=420da89f-a9cc-ddc6-031c-6d5a2f525405]
╷
│ Error: Plugin did not re

[2021-11-03 10:41] elifsamedin opened #1510 "Terraform does not ignore all attributes mentioned in the `lifecycle` Meta-Argument"
### Terraform Version

[code]

### vSphere Provider Version

[code]

### Affected Resource(s)

- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]

### Debug Output

N/A

### Panic Output

N/A

### Expected Behavior

Terraform should ignore the attributes included in the `ignore_changes` list.

### Actual Behavior

After firstly applying the configuration, the `custom_attributes

[2021-11-03 12:14] siwyroot commented on #1334
Hello, there is a W/A for this that works with 1.24.0 and with latest (probably all in between), for every disk instance you have in your virtual machine please add  "datastore_id" pointing with same info as for vm resource, here is example:

[code]

[2021-11-03 12:15] siwyroot commented on #1268
Hello, there is a W/A for this that works with 1.24.0 and with latest (probably all in between), for every disk instance you have in your virtual machine please add "datastore_id" pointing with same info as for vm resource, here is example:

esource "vsphere_virtual_machine" "vm1" {
  name                 = var.vmname
  resource_pool_id     = data.vsphere_compute_cluster.cluster.resource_pool_id

[2021-11-03 12:16] tenthirtyam commented on #1509
This issue needs more information.

Ryan

[2021-11-03 12:28] maw1146 commented on #1509
Which additional info do you need?
Weid is that yesterday it worked fine.

[2021-11-03 12:52] tenthirtyam commented on #1509
Version of vSphere and the Terraform plan would be helpful.￼

Ryan

[2021-11-03 13:15] maw1146 commented on #1509
Hi Ryan,
sure. vSphere version is 6.7.0

Let me know in case something else is needed.

Here is the Terraform plan. I just changed domain and IPs for security reason.

resource "vsphere_virtual_machine" "haproxy" {
  count            = length(var.haproxy_ips)
  name             = "${var.servername}"
  resource_pool_id = data.vsphere_compute_cluster.cluster.resource_pool_id
  datastore_id     = dat

[2021-11-03 13:21] tenthirtyam commented on #1474
@rene-at-dell

This is already possible with the lifecycle meta-argument in Terraform.

Below are two examples:

[code]

or

[code]

Ryan

Recommend: `close/not-an-enhancement`

[2021-11-03 14:09] tenthirtyam commented on #1268
👍🏻 to @siwyroot's suggestion as the `datastore_id` is a valid argument to pass to each disk..

https://github.com/hashicorp/terraform-provider-vsphere/blob/814675b5da80f286a082664d22455b7c8264134a/vsphere/internal/virtualdevice/virtual_machine_disk_subresource.go#L63-L69

Ryan

Recommend: `close/not-a-bug`.

[2021-11-04 01:06] tenthirtyam commented on #1356
Are you looking for a single set documentation of privileges per resource/data source?

Ryan

[2021-11-04 01:19] tenthirtyam commented on #1312
Recommend: `type/enhancement`

[2021-11-04 13:11] tenthirtyam commented on #1023
@vNerdyNate,

I know this is an old issue, but I took some time this morning to run a test using the below configuration.

[X] **Terraform**: v1.0.10 on macOS Big Sur
[X] **Terraform provider for vSphere**: v2.0.2 (latest) and v.1.22.0 (oldest) releases accessible.
[X] **VMware vSphere**: 7.0 Update 3a
[X] **GuestOS**: Windows Server 2022 Standard Core built by Packer (rainpole/packer-vsphere)

My

[2021-11-04 14:56] tenthirtyam commented on #1313
@axelrtgs - My apologies, I'm a little confused as the issue and would like to see if you can provide additional details, a redacted example configuration, and the versions in use.

In the meantime, below is an example for deploying an `ovf` template as a content library item with a single network interface...

[code]

This will deploy successfully.

If I add additional `network_interface` to as s

[2021-11-04 17:11] tenthirtyam commented on #1277
@sachittiwari - I realize that this issue is rather stale, and I hope you've been able to come to a resolution since it was first entered. In the spirit of helping, I'm providing a method to return the instanceUUID using Terraform output.

[code]

After running `terraform apply` you'll see the following:

[code]

Hope that helps.

Ryan
@tenthirtyam

[2021-11-04 19:17] tenthirtyam commented on #1249
@patshuff, an alternative approach is also:

[code]

Do you think this would be beneficial to add to the documentation?

Hope this helps,
Ryan

@tenthirtyam

[2021-11-04 21:32] tenthirtyam commented on #1073
Hey William,

Just wanted to chime in with an update based on the the `latest` (v2.0.2) version of the Terraform provider for vSphere since there's been a great deal of change and improvements, including the introduction of `allow_unverified_ssl_cert` in `ovf_deploy`.

[code]

Hope this helps.
Ryan
@tenthirtyam

Recommend: `closed/resolved`

[2021-11-05 00:10] tenthirtyam commented on #1466
@jbrunetext - I've not experienced this particular issue with a destroy operation on `vsphere_virtual_machine` resources. Can you elaborate on this issue by copying the below and updating the contents of the original issue summary?

- [ ] Terraform version

- [ ] Terraform provider for vSphere version:

- [ ] vSphere version:

- [ ] Affected Resource(s):
       - e.g. `vsphere_virtual_machine`

-

[2021-11-05 00:10] tenthirtyam commented on #1466
Recommend: `type/bug` as this is not `type/enhancement`

[2021-11-05 01:24] tenthirtyam commented on #1122
Hi folks,

In order for guest customizations (**_not_** `cloud-init`-based) to work with CentOS you **must** install Perl. I recommend doing this as part of the build kickstart process if you are using Packer. Here [you can see an example](https://github.com/rainpole/packer-vsphere/blob/f6a5aac4232dcbc4d8c4e0410f8d090c6f6c2fbc/builds/linux/centos-stream-8/data/ks.pkrtpl.hcl#L106) in my project whe

[2021-11-05 02:32] tenthirtyam commented on #1411
@cyrokamogawa @jimdevops19 - I'm not seeing this issue occur in the `latest` (v2.0.2) provider.

With the below, the datastore ISO will automatically connect.

[code]

<img width="852" alt="image" src="https://user-images.githubusercontent.com/7771363/140448368-669c2bba-b9ab-4937-8962-a19c51b2e5a5.png">

Note however that this example plan will fail as the Photon OS ISO used here is not configured

[2021-11-05 02:52] tenthirtyam commented on #1456
@armand-s2h - The issue about is that you are passing the `.id` instead of `.name` for the `datastore`.

The following example works with the `latest` (v2.0.2) of the provider.

[code]

Results:

[code]
In the vSphere (7.0 U3a) Client:

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/7771363/140450405-dd073b15-5d01-4c02-9e6d-0bf4b8e3075b.png">

Hope this helps,
Ryan
@t

[2021-11-05 03:13] tenthirtyam commented on #1443
@sirhc-chris - I agree that this should be set to `true` by default as it is recommended and configured by default on when using the vSphere Client, PowerCLI, API, etc unless explicitly set to `false`.

<img width="792" alt="image" src="https://user-images.githubusercontent.com/7771363/140452133-e95067a1-6848-4afb-a0ad-ac57a7c335a8.png">

I'll submit a PR to have this addressed (code and docs) usi

[2021-11-05 03:23] tenthirtyam commented on #1440
Hi @freola -

I assume you'd like the `vsphere_virtual_machine` resource to be deployed in the`/Resources` root resource pool of the cluster?

If so, could you try the following configuration?

Changes:

[code]

An updated configuration:
[code]

Hope this helps,
Ryan
@tenthirtyam

[2021-11-05 03:27] tenthirtyam commented on #1205
Fixed in https://github.com/hashicorp/terraform-provider-vsphere/pull/1432.

Recommend: `close/fix-committed`

[2021-11-05 03:42] tenthirtyam commented on #1295
@kytomaki What @dcardellino presented is correct and noted in the documentation for the `vSphere_virtual_disk` resource.

Docs example:

[code]

Source:

https://github.com/hashicorp/terraform-provider-vsphere/blob/814675b5da80f286a082664d22455b7c8264134a/website/docs/r/virtual_disk.html.markdown?plain=1#L74-L88

@dcardellino - your example is  intuitive. I'll mark this one down to submit a docs P

[2021-11-05 03:53] tenthirtyam commented on #1404
To be clear, you **only** need: Profile-driven Storage > View (`StorageProfile.View`) to be able to read the available storage policies.

Hope this helps,
Ryan
@tenthirtyam

Recommend: `close/not-a-bug` but could be improved in docs.

[2021-11-05 09:13] freola commented on #1440
Hi Ryan!

Thx for your replay, I did try this but i got the same issue.

What I can see it looks like terraform expect that the path should be "/VMWareFarm/host/Cluster01 ESXi 6.7/Resources" but in our case it is "/VMWareFarm/VMWareFarm_host/Cluster01 ESXi 6.7/Resources" and then it dosen't know what to do because it can't find the "/host/" in the path, I guess that this is hard coded in the modul

[2021-11-05 10:43] #1492 closed

[2021-11-05 13:01] tenthirtyam commented on #1440
Hi @freola,

If possible, could you share the structure of your vCenter Server > datacenter > cluster > hosts path?

It might help to think about a workaround, for example, with the trimprefix function and then fix up the resulting path.

Ryan

[2021-11-05 14:04] AdrianBegg commented on #1435
@tenthirtyam : The specific OVA deployment which fails is for the VMware Cloud Availability 4.2.1 Tenant Appliance - if deployed using the above after v 1.23.0 the OVA fails to boot with `Unable to apply network adapter settings.` and `Failed to start vCAv network initializer` during first boot.

This appears to still be the case also with deploying with the approach you have outlined above. This

[2021-11-05 14:07] tenthirtyam commented on #1435
Post a link to the OVA download. I think I see the issue.

Ryan

[2021-11-05 17:36] tenthirtyam commented on #1435
@AdrianBegg - It does appear that the issue is, in fact, specifically related to the VMware Cloud Director Availability OVA first-boot. I've taken some time to look at it this morning with VCDA v4.2.1 and also get the same issue. There's [a KB](https://kb.vmware.com/s/article/83105) pertaining to this error being seen in the traditional UI-based deployment.

What's interesting is that if I deploy

[2021-11-05 20:14] lamw commented on #1073
Thanks @tenthirtyam for looking into this.

I can confirm the TLS handshake issue is no longer a problem. I did notice the syntax is a bit more verbose :(

For completeness sake, here's example deploys both remote and local:

[code]

[2021-11-05 20:14] #1073 closed

[2021-11-05 20:22] avershave commented on #1354
was there ever a fix for this?

[2021-11-05 20:50] tenthirtyam commented on #1354
This check is still in place.

https://github.com/hashicorp/terraform-provider-vsphere/blob/9e3cb4046b9091cb308d2c58f0e89223486be819/vsphere/internal/virtualdevice/virtual_machine_disk_subresource.go#L1508-L1517

Ryan
@tenthirtyam

[2021-11-06 08:09] freola commented on #1440
Hi @tenthirtyam,

The path with parents is: "vcenter/Hosts & Clusters/VMWareFarm/VMWareFarm_host/Cluster01 ESXi 6.7/esxhost"

The host is "**esxhost**", Parent to esxhost is "**Cluster01 ESXi 6.7**" that is the cluster, parent to the cluster is "**VMWareFarm_host**" that is some sort of root path (here is what I can see the issue, by default this path is "host" but not in our case...), under that

[2021-11-06 13:48] tenthirtyam commented on #1440
Hi Fredrik,

Yes, it does make sense now. It does not sound like it's a cluster folder, but something else has changed which is atypical.

The provider would expect `/VMwareFarm/host` as the path, not `/VMwareFarm/VMwareFarm_host`, which is interesting how that might have changed.

I should look similar to the followiing:

[code]

Unfortunately, I don't think there is a workaround, as it's likely

[2021-11-06 18:10] tenthirtyam commented on #1235
@nodecaf and @nicholas-cross-fujitsu - the following working example demonstrates the deployment of the ESXi 7.0u3 OVA from both local path and remote URL in a single plan using the `latest` (v2.0.2) for the provider and `latest` for Terraform (v1.0.10) as os this posting date.

[code]

Results:

[code]

Hope this helps,
Ryan
@tenthirtyam

Recommend:  `close/not-a-bug` (with `latest`)

[2021-11-06 18:19] tenthirtyam commented on #1406
Hi @demdante (and @djpbessems) -

Could you please clarify that this issue is with deploying Infoblox NIOS 8.4 with the 825 deployment option and **not** the nested ESXi 7.0 OVA as the resource name and supporting images suggest?

If so, I can attest that the issue still exists when deploying the Infoblox appliance using Terraform.

Regards,
Ryan
@tenthirtyam

[2021-11-06 18:56] tenthirtyam commented on #1414
@djpbessems -

In Terraform a `bool` is `true` or `false`.

**Example**: Variable for the Terraform provider for VMware vSphere configuration.

[code]

However, for OVF properties, even though the type is `booleen`, the vApp Options only accept the values of "True" or "False". In these instances, it's recommended to define the variable as a `string` in the Terraform plan and pass the value in the

[2021-11-06 22:58] tenthirtyam commented on #1509
Hi @maw1146 -

I took your example and slightly modified it to work in my testbed.

Let me know if this helps.

[code]

Results:

[code]

[code]

[code]

[code]

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/7771363/140626112-cd0a193e-83c6-43c7-8fc6-7130cb3d03bb.png">

Hope this helps,
Ryan
@tenthirtyam

[2021-11-06 23:56] tenthirtyam commented on #1484
Hi @techimply,

I want to make sure I understand the issue - can you confirm/clarify the below:

* One publishing content library.
   * Publisher: VMs > Clone as Template to Library > Type = VM Template
* Added subscriptions to one or more new subscribed content libraries.
   * Subscribers: VM Templates synced to the Subscribers

Deployment:
* 👎🏻  Deployment of VM Template as Content Library Item

[2021-11-07 14:56] djpbessems commented on #1406
I cannot give you any relevant feedback; I have used neither .ova's you mentioned, sorry.

[2021-11-07 14:56] tenthirtyam commented on #1492
Hi @fgionghi -

I noticed you closed the issue. I just wanted to check in and ask if my example help you past your issue.

Thanks,
Ryan

[2021-11-07 14:59] djpbessems commented on #1414
I agree this does not necessarily needs to be treated as a bug, but I think a clear warning would need to be added in the documentation then.

[2021-11-07 15:04] tenthirtyam commented on #1414
@djpbessems - Can you update the label to documentation? If so, I'll update this in an documentation update that I'm currently addressing.

Ryan

Recommend: `label/documentation`

[2021-11-07 15:05] tenthirtyam commented on #1406
Thanks for confirming @djpbessems.

Ryan

[2021-11-08 13:14] djpbessems commented on #1414
I'm afraid I cannot; I am not a contributor.

[2021-11-08 13:16] tenthirtyam commented on #1414
No worries, I'll work on addressing it with the PM.

Ryan

[2021-11-08 18:59] it-pappa opened #1511 "Doesnt connect the network adapter"
Terraform Version

v1.0.10

Expected Behavior

Network Adapter should be connected.
Actual Behavior

Isnt connected and get error:
An error occurred while setting up network properties of the guest OS. See the log file /var/log/vmware-imc/toolsDeployPkg.log in the guest OS for details.
Steps to Reproduce

Please list the full steps required to reproduce the issue, for example:
Use any guides from

[2021-11-08 19:21] dbond007 commented on #1511
If the network isn't connected, that usually means vmware customisation didn't complete successfully. That usually means the version of vcenter you are using doesn't support the is you are customisation.  Vcenter 6.7u3g or newer is needed for Ubuntu 20.04 customisation. You mentioned 6.7 but not a specific version.

[2021-11-08 19:22] tenthirtyam commented on #1511
@it-pappa,

This would not be a bug, but rather assistance with the configuration.

I would recommend that you post your build config `.hcl` and the `user-data` files here or in a Gist.

You can find a working example in my [github.com/rainpole/packer-vsphere](https://github.com/rainpole/packer-vsphere) project.

- In the project, the v21.10 and v21.10.1 releases have this address w/o `cloud-init`

[2021-11-08 19:25] tenthirtyam commented on #1511
@it-pappa Are you trying to use `linux_options` for vm guest customization or `extra_config` for a cloud-init use case?

Ryan

[2021-11-08 19:27] it-pappa commented on #1511
@tenthirtyam
`provider "vsphere" {
  user           = var.vsphere_username
  password       = var.vsphere_password
  vsphere_server = var.vsphere_server

  allow_unverified_ssl = true
}

resource "vsphere_virtual_machine" "vm" {
  name             = "terraform-test"
  resource_pool_id = "${data.vsphere_compute_cluster.cluster.resource_pool_id}"
  datastore_id     = "${data.vsphere_datastore.datast

[2021-11-08 19:29] tenthirtyam commented on #1511
Below are working examples for both scenarios:

1. Ubuntu Server with [VM Guest Customization](https://github.com/tenthirtyam/terrafom-examples-vmware/tree/main/vsphere/vsphere-virtual-machine/clone-template-linux-guest-customization)
2. Ubuntu Server with [Cloud-Init](https://github.com/tenthirtyam/terrafom-examples-vmware/tree/main/vsphere/vsphere-virtual-machine/clone-template-linux-cloud-init)

[2021-11-08 19:35] it-pappa commented on #1511
@dbond007  looks like i have: 6.7.0.21000

[2021-11-08 19:39] tenthirtyam commented on #1406
Hi @demdante -

1. re: **vApp Options**:

In Terraform a `bool` is `true` or `false`.

**Example**: Variable for the Terraform provider for VMware vSphere configuration.

[code]

However, for OVF properties, even though the type is **booleen**, the vApp Options **only** accept the values of "True" or "False". In these instances, it's recommended to define the variable as a string in the Terraform

[2021-11-08 19:44] tenthirtyam commented on #1511
Refer to [this KB](https://kb.vmware.com/s/article/59687) for pre-vSphere 6.7 Update 3.

Ryan

[2021-11-08 21:29] tenthirtyam commented on #1435
Hi @AdrianBegg,

I took a fresh look at the issue this afternoon and discovered the cause of the issue.

The reason that the VMware Cloud Director Availability appliance is having issues is related to the SCSI Controller. The default controller in the Terraform provider is `pvscsi` if no `scsi_type` is provided.

It you take a look at the VCDA `.ovf` file you'll see the following:

[code]

This me

[2021-11-09 07:18] it-pappa commented on #1511
@tenthirtyam @dbond007
Ok, all yesterday I patched up all my systems.

Tried to deploy a new template with packer and then used terraform. I got error:
Failed to create bus connection: No such file or directory

No network adopter connected.

[2021-11-09 16:54] tenthirtyam commented on #1511
@it-pappa,

Can you provide a copy of the Terraform configuration [ in a markdown code block](https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks) for HCL that has been formatted with `terraform fmt` for review?

Ryan

[2021-11-09 19:00] it-pappa commented on #1511
Looks like the issue was due to unpatched host.
Patch up the vCenter and esxi hosts together with hardware versions and you are all set.

You will still get errors but the networking issue is gone as long as you do the workaround linked here from vmware:
https://kb.vmware.com/s/article/59557

[2021-11-09 19:00] #1511 closed

[2021-11-09 19:10] it-pappa opened #1512 "Timeout waiting for customization to complete"
### Terraform Version
v1.0.10
on darwin_arm64

### vSphere Provider Version
latest

### Affected Resource(s)
* Virtual Machine
* Guest os?
* Network adapter not connecting

Terraform main:
[code]

### Debug Output
Error:
│ Virtual machine customization failed on "/dir/vm/ubunutest":
│
│ timeout waiting for customization to complete

│   with vsphere_virtual_machine.vm,
│   on main.tf line 9, in re

[2021-11-09 19:11] tenthirtyam commented on #1470
@jabtk - I notice that your configuration is not declaring the firmware as `bios` or `efi` for the resoure.

Any content library items from the content library will default to `bios` - this is the default for any `vsphere_virtual_machine` resource. However, the default recommended firmware for RHEL 8 is `efi`.

Which are you using?

If using EFI, set:

[code]

If using EFI _with secure boot_, set:

[2021-11-09 19:18] tenthirtyam commented on #1512
Adding a cleaner formatting of the provided Terraform plan for review:

[code]

@it-pappa - You seem to be missing four required datas ources unless those were intentionally were not included in the issue.

Ryan

[2021-11-09 19:25] it-pappa commented on #1512
@tenthirtyam  thanks ryan. Im new to git so i didnt figure it out.
Which ones am i missing?

I have also the collector/datasource:
`
data "vsphere_datacenter" "datacenter" {
  name = "${var.vsphere_datacenter}"
}

data "vsphere_datastore" "datastore" {
  name          = "NAS"
  datacenter_id = "${data.vsphere_datacenter.datacenter.id}"
}

data "vsphere_compute_cluster" "cluster" {
  name

[2021-11-09 19:39] tenthirtyam commented on #1512
@it-pappa - if you use the `customize` option in the `clone` block, VMware Tools s required. Based on your repo, it is installed during the kickstart.

https://github.com/it-pappa/Packer-vsphere/blob/a6c99e8e00cf64e83715bbfa3bacb10a0f14cadb/Ubuntu.20.04/http/user-data#L26-L27

It appears that the [cleanup script](https://github.com/it-pappa/Packer-vsphere/blob/main/Ubuntu.20.04/Scripts/cleanup.sh)

[2021-11-09 19:41] tenthirtyam commented on #1512
Also, with the newer releases for Terraform you do not need much of the interpolation you are using.

[code]

becomes...

[code]

I highly recommend using the `terraform fmt` option to clean up syntax - it's super helpful.

Ryan

[2021-11-09 19:59] it-pappa commented on #1512
@tenthirtyam  I thank you so much for taking the time to help me out.
I added another script from the other post we where talking about but i see you added it better above so i use your example. Im on the point of being spoonfeed so when you say:  Seen in main currently. Where is that? I check but didnt get much smarter.

I will let you know how its working after i tested again with modifications

[2021-11-09 20:04] tenthirtyam commented on #1512
If you clone my repo you'll get the contents of the `main` branch which includes the cloud-init update that I will push in a v21.11 release soon.

Otherwise, you can download the releases like v21.10.1 that do not include the use of cloud-init with Ubuntu 20.04.

The former gives you the best of both worlds.

Shameless plug, I encourage you to get the project a spin as it covers many image builds

[2021-11-10 02:45] tenthirtyam commented on #1512
@it-pappa the v21.11 release is posted now and includes some supporting Terraform examples in case that helps.

https://github.com/rainpole/packer-vsphere/releases/tag/v21.11

Ryan

[2021-11-11 00:23] andyanfieldroad commented on #1172
This solved the issue for me also, great response @broestls

[2021-11-11 17:23] NathanDotTo opened #1514 "Can't set host_name with for_each in linux_options"
### Terraform Version
v1.0.11

### vSphere Provider Version
+ provider registry.terraform.io/hashicorp/vsphere v2.0.2

### Affected Resource(s)

### Terraform Configuration Files

[code]

### Debug Output
https://gist.github.com/NathanDotTo/c569400e56de5290674e88bd3bf4c857

### Panic Output

### Expected Behavior

I expect that the `host_name` value n the `linux_options` is set to the each.key val

[2021-11-11 17:45] tenthirtyam commented on #1514
Have you tried:

[code]

Ryan

[2021-11-11 20:12] NathanDotTo commented on #1514
Thank you for following up.

I did just try your suggestion. I had also previously tried:
each.value.name
The outcome is the same in both cases. I get the same error.

I used the each.key as a degenerate case to keep it simple in my original report.

Regards

Nathan

[2021-11-11 20:17] tenthirtyam commented on #1514
@NathanDotTo - Thanks for the update.

I don't particularly think this is a `bug` per se, but is more likely a Terraform syntax issue. The other option is to use dynamic blocks for `linux_option` but then you might get into nested loop territory.

Happy to take a look at it when time permits.

Ryan

[2021-11-11 21:03] tenthirtyam commented on #1514
@NathanDotTo -

**`versions.tf`**

[code]

**`variables.tf`**

[code]

**`main.tf`**

[code]

**`terraform.tfvars`**

[code]

Results:

[code]

Hope this helps,
Ryan

Recommend: `close/not-a-bug`

[2021-11-12 06:48] it-pappa commented on #1512
@tenthirtyam Hi! Thank you so much for the support. I can confirm everything works fine now. I will test your scripts also, but it so much and im taking some time to understand it all hehe :)

I found a bug tho. I had a whole day of trying to provision a ubuntu machine but failed everytime. After going over the VM i can see that terraform dont set the dns server. After setting it manually and appl

[2021-11-12 09:41] NathanDotTo commented on #1514
The problem here was the `_` in the host name itself. Linux (of course) doesn't allow for `_`s in host names. I'd recommend adding a regex check for the presence of such characters as a simple sanity check that could be used to produce a suitable error message.

Thank you Ryan (again :-) ) for your excellent examples.

[2021-11-12 09:41] #1514 closed

[2021-11-12 13:10] tenthirtyam commented on #1514
Yes, you could certainly consider adding the `validation{}` block you your variable with a regex to help catch format, length, etc.

Ryan

[2021-11-12 21:11] it-pappa commented on #1512
@tenthirtyam  just checked out your other repos. Great stuff but there is missing good guidelines/tutorials on packer etc. Have you had the change to look at the bug above?

[2021-11-12 22:13] tenthirtyam commented on #1512
Hi, @it-pappa - The project has now moved to [vmware-samples/packer-examples-for-vsphere](https://github.com/vmware-samples/packer-examples-for-vsphere) as of today. A fork has been left in the originating location and a note will be added to redirect.

You can find documentation on Packer at [packer.io](https://packer.io) and [learn.hashicorp.com](https://learn.hashicorp.com). The goal of my proj

[2021-11-13 08:36] it-pappa commented on #1512
@tenthirtyam  i think my issue was that i had the dns server list the wrong place, that is the only difference i see.
But when i look at your "folder structure" i dont understand it. When i try to create just a new tfvars file for a new VM it will destroy my old.

I have tryed to search the web for how to structure this in the correct way without creating all .tf script file multiple times. Is the

[2021-11-13 09:11] it-pappa commented on #1512
@tenthirtyam  it worked fine after i changed the dns server placement.
But, (and sorry if im spamming this comment sectrion), i run a much easier terraform and packer that works. But, i have to recreate every script in every folder like /vms/ubuntu01 /vms/ubuntu02 /vms/rhel8 etc.

my tfs:
main.tf
[code]

[code]

and rest is vars in same folder.

[2021-11-13 15:06] tenthirtyam commented on #1512
To address your concerns, consider [creating a module](https://learn.hashicorp.com/tutorials/terraform/module).

Ryan

[2021-11-13 17:05] it-pappa commented on #1512
@tenthirtyam thanks man. I really appreciate you support on this. Thank you so much and you modules have been helping me alot. I will close on this note :) Great job on everything and have a great weekend.

[2021-11-13 17:05] #1512 closed

[2021-11-14 12:28] heitmanr commented on #1481
when importing an OVA specifying a serial-port as required hardware, like here
[code]
this information is ignored, too.

[2021-11-14 12:30] heitmanr commented on #1481
I'd like to add, that an empty "<ip>"-Address is absolutely fine for vCenter/ESXi allowing, so this should be allowed, too:
serial_port {
[code]
This is an example copied from a running vm/vmx-file:
[code]

[2021-11-14 22:14] demdante commented on #1406
@tenthirtyam ah.  interesting.  thank you for taking the time to look into this.  i will give your suggestion a shot, but it looks like you have already confirmed that it is working.  thank you very much.

[2021-11-14 22:53] tenthirtyam commented on #1406
Happy to help, John.

If possible, please mark the issue as closed once you confirm.

Take care,
Ryan

[2021-11-15 15:50] techimply commented on #1484
@tenthirtyam That's exactly right and what I have been observing.

[2021-11-15 19:13] heitmanr commented on #554
@polachz issue still exists.

Is the provider really working as expected so this is no bug but a feature?

[2021-11-17 14:18] GolubevV opened #1517 "`vsphere_entity_permissions` resource drops other built-in externally managed permissions on next apply"
### Terraform Version
Terraform v1.0.5

### vSphere Provider Version
2.0.2

### Affected Resource(s)
- `vsphere_entity_permissions`

### Terraform Configuration Files

[code]

### Debug Output
https://gist.github.com/GolubevV/d3831fbd6cbae3b94a64d46c687c8557

### Expected Behavior
When using `vsphere_entity_permissions` resource with explicitly specified permissions block, the provider  should be

[2021-11-17 15:30] heitmanr commented on #1481
right now, i'm using this as a workaround, call it an ugly hack ;-)

Terraform creates VMs called (Cisco Nexus 9000v)-VMs, called "LEAF-A" and so on, afterwards Terraform uses PowerShell/PowerCLI to add the missing Serial-Port - the VM won't boot without it.

[code]

[2021-11-17 16:16] tenthirtyam commented on #1481
I don't think it's an ugly hack. It's a good use of the provisioner to fill a gap in resource creation capability.

Ryan

[2021-11-17 17:05] aj-cruz commented on #1481
@heitmanr I like it, thanks

[2021-11-17 18:19] bhadrim commented on #1356
@tenthirtyam Thank you for looking into this. It would be nice to have a table in a single page as documented in _Required Privileges for Common Tasks table_ in this [page](https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.security.doc/GUID-4D0F8E63-2961-4B71-B365-BBFA24673FDB.html)

[2021-11-17 23:22] abhinaviec1 commented on #1297
Do we know when the next release will come and if this enhancement will be part of the upcoming release?

[2021-11-17 23:27] tenthirtyam commented on #1297
I'm happy to ask the PM this week.

Ryan

[2021-11-18 10:17] ibauersachs commented on #1463
I don't understand why `guest_ip_addresses`  (and also `change_version`) appears in the change list at all. These are computed values from the tools inside the VM and reported to the host. They are useful for querying in a `data` resource, but not as a config value.

[2021-11-18 18:32] braunsonm commented on #1258
Is there anyway to do this currently via the API or govc?

[2021-11-20 23:58] heitmanr opened #1518 "Add support for a `buslogic` in `scsi-type`"
### Description

Just wanted to create a Clone of an existing vSphere-VM-Template.
But got
`Error: expected scsi_type to be one of [pvscsi lsilogic lsilogic-sas], got buslogic`

"Buslogic_parallel" might be not state of the art, but is there any reason for limiting the VM-Hardware to specific components?

### Potential Terraform Configuration

[code]

### Community Note

* Please vote on this issu

[2021-11-21 00:32] tenthirtyam commented on #1518
It’s supported in [govmomi](https://github.com/vmware/govmomi/blob/5aa36e260a6e5ae60f3b6314be769957c2f9f82e/object/virtual_device_list_test.go) , so it should be fairly straightforward to implement in [virtual_machine_device_subresource.go](https://github.com/hashicorp/terraform-provider-vsphere/blob/cac9fff27921ab083e6ddd1f34989d54fa0214a2/vsphere/internal/virtualdevice/virtual_machine_device_sub

[2021-11-23 06:19] tenthirtyam commented on #1406
@demdante - have you had a chance to test yourself?

[2021-11-24 19:01] appilon commented on #1429
Closed via #1489

[2021-11-24 19:01] #1429 closed

[2021-11-25 16:01] lostplan commented on #1276
+1 this would be really useful

[2021-11-26 03:06] santiagoamez opened #1520 "Error processing network device changes post-clone: network_interface.0: failed to create EthernetCardBackingInfo"
### Terraform Version

1.0.8

### vSphere Provider Version

2.0.2

### vSphere Version

6.7

### Affected Resource(s)

- `vsphere_virtual_machine`
- `vsphere_distributed_port_group`

### Terraform Configuration Files

I am unable to publish the configuration files

### Debug Output

Error: error reconfiguring virtual machine: error processing network device changes post-clone: network_interface.0:

[2021-11-26 04:05] tenthirtyam commented on #1520
For the user account accessing the vCenter Server, is a default or custom vSphere role being assigned to the account?

If a custom role, when create via the UI it’s automatically granted system.read (along with system.view and system.anonymous) however, if the role was created with Terraform, you must add these privileges.

Ryan

[2021-11-26 14:17] tenthirtyam commented on #1509
@maw1146, we’re you able to use the modified version above successfully?

Ryan

[2021-11-26 14:27] pascal-hofmann commented on #1268
We are only using `datastore_cluster_id`. In this case you can't specify a `datastore_id` per disk, so the workaround does not work.

This issue should be fixed, not ignored.

[2021-11-26 14:57] tenthirtyam commented on #1268
Hi @pascal-hofmann,

The suggested workaround is based on the information provided in the original issue description, which did not demonstrate the use of a datastore cluster.

[code]

Ryan

[2021-11-26 19:08] pascal-hofmann commented on #1268
I still think it should be fixed though. More and more people will run into this.

I'm currently waiting to get access to a vSphere test setup, and will work on this next week (at least the `datastore_cluster_id` part, but I guess both issues are related).

[2021-11-26 22:58] santiagoamez commented on #1520
@tenthirtyam Effectively the error was because it did not have permissions in the distributed virtual switch. Thank you

[2021-11-26 22:58] #1520 closed

[2021-11-27 18:50] ianangles commented on #1319
Evening all, Just picking up on this thread (because I've just had the same issue) and I believe RHEL8 is supported back to ESXi 6.5 according to my search: https://www.vmware.com/resources/compatibility/search.php?deviceCategory=software&details=1&partner=75&releases=485&operatingSystems=258&page=1&display_interval=10&sortColumn=Partner&sortOrder=Asc&testConfig=16

[2021-11-27 19:45] tenthirtyam commented on #1319
You are correct. Here’s an [updated link](https://www.vmware.com/resources/compatibility/search.php?deviceCategory=software&details=1&partner=75&releases=578,518,508,448,485,428,427,369,429,408,367,338&operatingSystems=258&page=1&display_interval=10&sortColumn=Partner&sortOrder=Asc&testConfig=16)  for 6.5 and later.

[2021-11-28 00:21] tenthirtyam commented on #1406
Hi @demdante

Have you had a chance to test/verify so this issue be closed?

Thanks,
Ryan

[2021-11-28 19:40] coffmant commented on #1453
Same issue during an import of a vsphere_datastore_cluster

**Terraform Version**

Terraform v1.0.11

**vSphere Provider Version**

vsphere v2.0.2_x5

vCenter version 6.5 build 18499837

**Affected Resource(s)**

vsphere_datastore_cluster (import)

**Debug Output**

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x2 addr=0x10 pc

[2021-11-29 15:15] maw1146 commented on #1509
Hi @tenthirtyam ,
sorry, I completely forgot to answer here.

In the meantime, I changed laptop (because of hardware issues) and on the new one it works fine.
Thanks again anyway for the help.

[2021-11-29 15:16] #1509 closed

[2021-11-29 15:21] tenthirtyam commented on #1509
Thanks for the update and marking the issue as closed.

Ryan

[2021-11-29 15:54] aj-cruz opened #1521 "Operating System Not Found Using vsphere_virtual_machine ovf_deploy with Cisco Router Appliance"
### Terraform Version

1.0.11

### vSphere Provider Version

2.0.2

### vSphere Version

7.0.0.10600

### Affected Resource(s)

- `vsphere_virtual_machine`

using ovf_deploy

### Terraform Configuration Files

[code]

### Debug Output

[https://gist.github.com/aj-cruz/789744386e7711093bf6d2fa628cd8fb](url)

### Panic Output

### Expected Behavior

Appliance deployed and booted

### Actual Behavior

[2021-11-29 16:32] tenthirtyam commented on #1521
Just tell him I suggested so, and he'll even send a message out for you to all vExperts and a link and information about the survey.

[2021-11-29 16:34] tenthirtyam commented on #1521
Recommend: `type/question`

[2021-11-29 17:35] aj-cruz commented on #1521
@tenthirtyam
Thanks, I'll play around with that, but my first test of it failed.
Updated plan:
[code]

I got:
[code]

It appears the ovf_network_map in the OVA is empty, which seems weird:
[code]

[2021-11-29 17:42] tenthirtyam commented on #1521
@aj-cruz,

Your example is missing the `ovf_network_map` in the `vsphere_ovf_vm_template` data source.

Example:

[code]

Hence, this error:

[code]

Ryan

[2021-11-29 20:17] AliAllomani commented on #1004
The provider resets this value with each read, which occurs before the plan compression on state refresh; therefore i would assume you will always see it as `false` and i don't think this value should be used by user to determine if the vm is going to be restarted or not

https://github.com/hashicorp/terraform-provider-vsphere/blob/d020376d1df65b750e3ecfd764c2722fd6123934/vsphere/resource_vsphere_

[2021-11-29 20:34] aj-cruz commented on #1521
@tenthirtyam
Sorry I missed that config was under the template, I'm a noob at this.
When you say check the OVF properties do you mean within the .ovf XML file?
I'm not 100% sure where you're getting the "VM Network" key from.
I see this in my OVF:
[code]
So I tried "GigabitEthernet1" /2 /3 as the keys and "Data network 1" /2 /3.
It looks like the name of a vSphere port group to me so I tried that

[2021-11-30 00:54] aj-cruz commented on #1521
I noticed that if I set deployment_option to anything other than the default, I get the
[code]
When I set it to the default 1CPU-4GB-16GB, the deployment works again, but I still get the Operating System Not Found. Here's the latest plan:
[code]

[2021-11-30 01:28] tenthirtyam commented on #1521
Can you share the full Terraform configuration  and OVF XML as a gist?

Ryan

[2021-11-30 03:23] tenthirtyam commented on #1521
Without seeing the the full set of properties, the existing configuration, and nor access to the OVA, let's try the portions below:

[code]

Ryan

[2021-11-30 07:02] aj-cruz commented on #1521
@tenthirtyam
To make things super simple I took what you provided and started a new stripped down plan.
The folder only has two files, the ova and main.tf.
The entirety of main.tf is:
[code]

The plan executes successfully, but I get Operating System Not Found when the VM boots.
Here's the gist for the OVF XML: [8000v.ovf](https://gist.github.com/aj-cruz/841f88513f17b90497ea7251b8304ad3)

[2021-11-30 11:56] joltcan opened #1523 "Customization of the guest operating system failed, even though open-vm-tools is installed."
### Terraform Version

1.0.11

### vSphere Provider Version

provider "registry.terraform.io/hashicorp/vsphere" {
  version = "2.0.2"

### vSphere Version

6.7.0.46000

### Affected Resource(s)

vsphere_virtual_machine clone

### Terraform Configuration Files

[code]

### Debug Output

[gist](https://gist.github.com/joltcan/2f2d523f5f0456a6fd2d0339c5743cb2)

### Panic Output

### Expected Behavior

[2021-11-30 12:53] tenthirtyam commented on #1521
If you deploy the OVA manually, can you confirm if  it’s BIOS or EFI? I’m curious if it there’s a mismatch there.

Ryan

[2021-11-30 13:02] dbond007 commented on #1523
Debian isn't supported by vsphere for customisation, switch it to OtherGuest64 or Ubuntu 64  and it should work

[2021-11-30 13:18] joltcan commented on #1523
I would love to, but I get an other error then:

[code]

[2021-11-30 13:18] joltcan commented on #1523
Ah, I need to change the vm itself, Ill try!

[2021-11-30 13:25] joltcan commented on #1523
Yey! It worked! Thank you so much! I've been googling like crazy but never found that particular solution.

Had to use `otherLinux64Guest` though.

[2021-11-30 13:25] #1523 closed

[2021-11-30 13:44] dbond007 commented on #1523
No problem. When you move to vSphere 7, you should be able to use debian10_64Guest again, as support for debian 10 and 11 was added to vsphere 7.

[2021-11-30 14:25] aj-cruz commented on #1521
SCSI controller 0 is there just like the manually-deployed, the scsi type matches (VMware Paravirtual.)
Everything appears to be the same to me except that in my manually-deployed routers I've selected the 1CPU-4GB-8GB deployment option so the disk is 8GB instead of 16GB.

[2021-11-30 14:48] tenthirtyam commented on #1521
Is this OVA publicly available from Cisco?

Ryan

[2021-11-30 16:07] aj-cruz commented on #1521
Well I can't make heads or tails of the provider debugs, but I did discover something else interesting.
I decided to strip out most of the resource fields and add them in as Terraform threw errors so that I had just the bare minimum defined.
When I get to this state:
[code]
The OVA deploys, but doesn't boot and TF throws an error:
[code]
Which is expected. But the curious part is if I then go and

[2021-11-30 18:25] heitmanr opened #1524 "Error: error while fetching the created vm, path '<VM-NAME>' resolves to multiple vms"
### Terraform Version

v1.0.11

### vSphere Provider Version

v2.0.2

### vSphere Version

7.0.3.00100

### Affected Resource(s)

- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]

### Debug Output

When running this with
* unique VM-Name [the _key_ of the map "var.switches"]
=> all runs just fine

When the VM-Name is not unique =>in the whole vCenter-Environment<=
=> it fails

[2021-11-30 21:07] BrandonStiff opened #1525 "Invalid value for DatastoreMappingParams.target_profile when deploying template from Content Library"
### Terraform Version

0.15.3

### vSphere Provider Version

2.0.2

### vSphere Version

vSphere 6.7.0 Build 14368073

### Affected Resource(s)

- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]

Then supply a terraform.tfvars` that looks like this:

[code]

### Debug Output

[Debug Output](https://gist.github.com/BrandonStiff/ed8d10a3addff4b720f9457ff81fb7c4)

### Expected Be

[2021-11-30 22:30] tenthirtyam commented on #1525
@BrandonStiff -

I've tested this in my environment w/o issue using VMware vSphere 7.0 Update 2 and the following without issue.

In the test scenario, I'm deploying two VMs (`foo` and `bar`) to a vApp (`hello-world`) with each VM being targeted for a storage policy based on a a tag that corresponds to the the VM names (`foo` and `bar`).

[code]

[code]

**`versions.tf`**

[code]

**`variables.tf`

[2021-11-30 22:44] tenthirtyam commented on #1496
**Problem**:

Since `firmware` is optional and has a default of `bios`, it is selected since there's not a capability to get the `firmware` and `efi_secure_boot_enabled` from the `content_library_item` as a data source.

**Workaround**:

1. If using EFI images from the content library, add the following to the resource:

[code]

2. If using EFI with secure boot for the images from the content libr

[2021-12-01 01:41] BrandonStiff commented on #1525
Thanks for the response.  I wish I had a VMware 7.0 environment to run this test against.  I'll see if I can get my hands on one.  That's the only major difference I see in our tests.

[2021-12-01 02:28] tenthirtyam commented on #1525
Happy to help, Brandon. Let me know if the example above works on your 6.7 - hope it will help you out.

**ProTip**: if you don’t have an available testbed, quite often can always use use one of our (me `=` VMware) Hands-on Labs to spin up a pre-built test environment online, install the Terraform binary, and give it go.

Ryan

[2021-12-01 02:38] BrandonStiff commented on #1525
Thanks!  I'll give your example a go and report back.

[2021-12-01 16:15] BrandonStiff commented on #1525
Ok, your example worked.  In digging through all of this, I think I found the issue.  I noticed that the specific cluster I targeted did not have any datastores with the tag specified by the storage policy (other clusters do, but not this specific one).  I somehow missed this in all my digging, and the error did not immediately put two and two together for me.  I'm going to correct this and see if

[2021-12-01 16:35] tenthirtyam commented on #1525
Thanks for the update, @BrandonStiff. 🤞🏻

[2021-12-01 18:03] CollinLeishman commented on #1134
This is also affecting me. Any help or update on this would be very much appreciated!

[2021-12-01 18:03] CollinLeishman commented on #1134
@KenzoB73 Is this still affecting you?

[2021-12-01 21:40] BrandonStiff commented on #1525
So I verified this was the issue.  In summary, if you spin up your virtual machine on a cluster that does not have a datastore that is encompassed by the storage_policy_id you specify, you will get this error.  Thanks for the help!

[2021-12-01 21:40] #1525 closed

[2021-12-01 22:23] KenzoB73 commented on #1134
Yes, happened last week again actually.

Sent from my iPhone.

[2021-12-01 23:35] tenthirtyam commented on #1524
Hi @heitmanr ,

## Issue Confirmation

I can confirm that this is an issue when virtual machines have the same name, which is allowed by vSphere.

[code]

<img width="1099" alt="image" src="https://user-images.githubusercontent.com/7771363/144330246-00b8f052-823b-4dac-a699-c66e895a9e80.png">

Error Handling

https://github.com/hashicorp/terraform-provider-vsphere/blob/ebb115de9c50c11c28f700b2d4ef3

[2021-12-02 01:48] tenthirtyam commented on #1134
[v2.0.0](https://github.com/hashicorp/terraform-provider-vsphere/releases)  added the `api_timeout` to the provider configuration via #1405.

**`api_timeout`** - (Optional) Sets the number of minutes to wait for operations to complete. The default timeout is 5 minutes. Currently it will override the timeout for all VM creation operations.

Example:

[code]

@morganhowarth-fd - have you tried this

[2021-12-02 02:57] tenthirtyam commented on #1023
@vNerdyNate - just checking in to see if you had a chance to review the response above.

Ryan

[2021-12-02 03:02] tenthirtyam commented on #1132
cc @appilon and @iBrandyJackson to review.

Ryan

[2021-12-02 03:07] vNerdyNate commented on #1023
Ryan,

Got it. I’ll give it a test as soon as I can, but it won’t be for a while.

On Wed, Dec 1, 2021 at 8:58 PM Ryan Johnson ***@***.***>
wrote:

[2021-12-02 14:59] redeux commented on #1132
Sorry I missed your first ping @tenthirtyam. Yes, this issue is resolved.

[2021-12-02 14:59] #1132 closed

[2021-12-02 16:24] tenthirtyam commented on #1163
@alexandrudu -

I recently provided an example of how to do this in another issue with the vsphere_storage_policy data source using that in the resource. I'm including this example here that would can build/modify.

In the test scenario, I'm deploying two VMs (`foo` and `bar`) to a vApp (`hello-world`) with each VM being targeted for a storage policy based on a a tag that corresponds to the the VM

[2021-12-02 17:24] tenthirtyam commented on #1247
Hi @afallucc -

vSphere HA Options [are supported](https://registry.terraform.io/providers/hashicorp/vsphere/latest/docs/resources/compute_cluster#vsphere-ha-options). You can see this beginning [here](https://github.com/hashicorp/terraform-provider-vsphere/blob/ebb115de9c50c11c28f700b2d4ef3388d40e6695/vsphere/resource_vsphere_compute_cluster.go#L227) in the code.

Is there a specific vSphere HA e

[2021-12-02 17:56] tenthirtyam commented on #1411
Hi @cyrokamogawa and @jimdevops19,

could you confirm if you are seeing the same issue in the [latest release](https://github.com/hashicorp/terraform-provider-vsphere/releases/latest) of the provider? I was not able to reproduce the issue in [the above](https://github.com/hashicorp/terraform-provider-vsphere/issues/1411#issuecomment-961580857).

Ryan

[2021-12-02 18:00] tenthirtyam commented on #1444
Hi @sumanth-lingappa,

Did the above help answer your question?

Ryan

[2021-12-02 18:03] tenthirtyam commented on #1435
Hi @AdrianBegg,

Did the above example and information help to address your issue?

Specifically, to resolve this issue, add the following to set the correct `scsi_type` from the data source.

[code]

Ryan

[2021-12-02 18:07] tenthirtyam commented on #1414
@djpbessems -

Does the above help to answer your questions on passing the bool vApp properties?

I've addressed the documentation gap in #1513 which is pending review and merge.

Ryan

[2021-12-02 18:13] tenthirtyam commented on #1333
@barbaluc

For the case of boolean, I can provide some insight.

In Terraform a `bool` is `true` or `false`.

**Example**: Variable for the Terraform provider for VMware vSphere configuration.

[code]

However, for OVF properties, even though the type is `booleen`, the vApp Options only accept the values of "True" or "False". In these instances, it's recommended to define the variable as a `string

[2021-12-02 20:51] djpbessems commented on #1414
Well I already *knew* how to use the boolean properties; I created the ticket because the current behaviour is counter intuitive, even if documentation is in place. And in all honesty, while your proposed PR does mention the way to deal with booleans, it is not easily found when looking up documentation on vApp properties and will be overlooked almost certainly by end-users.

So to answer your que

[2021-12-02 21:07] tenthirtyam commented on #1414
Thanks for the response @djpbessems. Please note that to date, the reference pull request for the docs update is not yet merged by the maintainers.

Ryan

[2021-12-02 21:17] tenthirtyam commented on #1395
Recommend: `type/enhancement`

@cuffm - Can the script _(or even API call)_ with a provisioner _(or another provider included the plan)_ not be performed after power-on and allow communications then proceed?

Ryan

[2021-12-03 02:38] cyrokamogawa commented on #1411
Hi, I was able to figure out my issue. It was just because the file path extension was supposed to be in all caps. Thanks for offering your support though.

[2021-12-03 02:38] #1411 closed

[2021-12-03 23:36] tenthirtyam commented on #1324
@nacho-osete ,

I've come across the _**very same**_ issues with this example.

Instead, I would suggest that the example be removed from the project and later replaced with a more modern working and maintained example (if warranted). For now, it's better to remove the example than have it not work as intended.

@iBrandyJackson - would you agree?

Ryan

[2021-12-04 01:01] ravik694 opened #1530 "Ability for vsphere_virtual_machine resource to configure VM boot sequence with vim.vm.BootOptions BootOrder"
### Description

It would be nice to have the ability to set the VM boot sequence through the `vsphere_virtual_machine` resource.

I've attempted setting this through the `extra_config` argument with the `bios.bootOrder / bios.hddOrder` parameters but the changes don't "stick" after applying the config. The same thing happens when trying to set the options through the ESXi web UI (VM -> Edit -> VM

[2021-12-06 13:54] abhinaviec1 commented on #1297
Hello Ryan,

By any chance did you receive any update on the release date.

[2021-12-06 15:11] rfitzhugh commented on #1007
Hey @tenthirtyam, thanks for reaching out. I filed this on behalf of my former team; unfortunately, I haven't used VMware products in years and have no way of testing at this point. Thus, closing the issue.

[2021-12-06 15:11] #1007 closed

[2021-12-06 15:38] tenthirtyam commented on #1007
Thanks for the update, Rebecca! Good to hear from you!

Ryan

[2021-12-06 21:57] appilon commented on #1033
closed via #1408, however as noted there, we don't explicitly support vsphere without vcenter, it is not part of our testing environment, so this fix remains untested.

[2021-12-06 21:57] #1033 closed

[2021-12-09 01:11] kev-in-shu commented on #1461
Hi,

I noticed that a few other resources have implemented import via a path instead of the id.

And after scratching my head some time, I managed to import my portgroups using a path like this

`/$datacenter_name/network/$network_folder/$switch_name/$portgroup_name`

I feel like this is much harder than just passing an ID, as it's not really clear what counts as a folder from vSphere UI.

Also th

[2021-12-09 18:04] durfman commented on #1297
Would really like to see this feature added.  Anyone have a working solution?

[2021-12-10 00:32] tenthirtyam commented on #1297
@durfman, #1506 is pending review and prioritization by the maintainers.

[2021-12-10 00:58] tenthirtyam commented on #1461
It appears that the changes to use MoID that were implemented by @sumitAgrawal007  in https://github.com/hashicorp/terraform-provider-vsphere/commit/f39415bb536db0b0eb70986ccb7437f6befbc87b#diff-71902d0785ad0ca9cf7b4edc595ff89b91e141d86dca8010d5458aa8932ab847 for PR #1208 were overwritten by @koikonom in https://github.com/hashicorp/terraform-provider-vsphere/commit/44939f347c4813580b59a1178334c32

[2021-12-10 15:04] zenhighzer commented on #1474
- I like the idea of having something like "template_ignore_changes = true"
- lifecycle {....} looks ugly
- we have the same challenge to not recreate our running machines but also be able to update our source-templates with the same template-name.. and to be honest: we really dont want to keep all of our old images forever, just to avoid recreating our running machines.

[2021-12-13 09:40] wocomwouter opened #1534 "`r/virtual_machine`: add support to include `datacenter_id` (optional) to ignore replicas"
### Terraform Version

1.1.0

### vSphere Provider Version

2.0.2

### vSphere Version

7.0.2

### Affected Resource(s)

vsphere_virtual_machine

If this issue appears to affect multiple resources, it may be an issue with
Terraform's core, so please mention this.
---> in this case it affects only VMs who have a replica.

### Terraform Configuration Files

[code]

### Debug Output

### Panic Output

[2021-12-13 11:18] gitnetofr commented on #1189
Hi !

Same problem here!  😞

Did you find any workaround yet?
Thanks in advance.
Best regards.

[2021-12-13 12:51] #1471 closed

[2021-12-13 15:16] tenthirtyam commented on #1394
PR: https://github.com/hashicorp/terraform-provider-vsphere/pull/1533

[2021-12-13 19:43] onurbrc commented on #1189
Hello guys, any news about this issue?
Thank you!!!

[2021-12-14 14:29] barbaluc commented on #1333
Hello @tenthirtyam,

Thanks for your help. I well try this.

Lucas

[2021-12-14 14:29] #1333 closed

[2021-12-14 16:00] tigerblue77 commented on #1033
Hi @appilon,
thanks for your update on this. I will test and tell you. Can you just tell me how to use the provider locally by pulling it from this Github ? I tried [this](https://www.reddit.com/r/Terraform/comments/jo0hc9/specifying_a_local_plugin/) but I can't get it to work. Thanks

[2021-12-14 17:53] gitprady opened #1536 "Unable to delete VM folder & VMDK inside datastore after VM deletion triggered by TF"
Terraform Version : Terraform v1.0.11
vSphere Provider Version : 2.0.2
vSphere Version : 6.7 Build Number : 18831049

### Affected Resource(s)

Issue : After VM is deleted from TF, it still keeps VMDK & the VM folder inside the datastore.

### Debug Output

[code]
### TF Code

[code]

##  Datastore Screenshot

![image](https://user-images.githubusercontent.com/29676864/146053073-c76416ee-77d7-4c8a

[2021-12-14 22:19] tenthirtyam commented on #1536
Hi @gitprady - I'm not observing this issue with the following:

- Terraform `v1.11.0`
- Terraform Provider for VMware vSphere `v2.0.2`
- vCenter Server `v7.0.3.00100`

Below is an animated GIF of a simple reproduction that uses a CentOS 8 template, an NFS datastore, and guest customization based on VMware Tools.

![gh-1536](https://user-images.githubusercontent.com/7771363/146088064-9455860b-0153

[2021-12-15 01:52] andyanfieldroad commented on #1400
I'm also experiencing this issue.  Has anyone found a fix or workaround?

[2021-12-15 04:13] tenthirtyam commented on #1292
https://github.com/hashicorp/terraform-provider-vsphere/blob/6dfc334c1faf02fb6dd572ad4506add365622465/vsphere/internal/virtualdevice/virtual_machine_cdrom_subresource.go#L605-L611

Ideally, https://github.com/hashicorp/terraform-provider-vsphere/issues/489#issuecomment-384536330 could be included in the documentation for instances where the "ISO Image" environment transport is enabled.

Ryan

[2021-12-15 04:17] tenthirtyam commented on #1406
Gentle nudge @demdante. 😁

Ryan

[2021-12-15 04:25] tenthirtyam commented on #1149
Hi @arizvisa - per your comment above, your PR #1159 resolved this issue.

Would you mind marking the issue as closed?

Many thanks,
Ryan

[2021-12-15 04:30] tenthirtyam commented on #1484
Similar mention here: https://github.com/hashicorp/terraform-provider-vsphere/issues/1228#issuecomment-811842707 by @rahul-padhee.

Ryan

[2021-12-15 08:55] gitprady commented on #1536
Many thanks Ryan for quick reply.

We are not using NFS storage, will come back to you shortly with full details of storage type.

[2021-12-15 10:50] keelerad commented on #851
Has anyone got any suggestions, we clone from a template VM with a 30GB didk to a 50GB disk, the VM shows as having a 50 GB disk but cant see the free space anywhere in the rhel VM to extend logical volumes ?

[2021-12-15 12:50] arizvisa commented on #1149
Yep. Got it.

[2021-12-15 12:50] #1149 closed

[2021-12-16 01:39] appilon commented on #1033
Thanks for offering to test @tigerblue77 . Assuming you are using terraform 0.14+, the easiest way of running the provider locally is to pull the source code and run `go install`. From there you can use a [feature introduced in terraform 0.14](https://www.terraform.io/cli/config/config-file#development-overrides-for-provider-developers) to specify terraform to pickup your local build. You should c

[2021-12-16 02:48] tenthirtyam commented on #1421
Hi @behnm,

An existing folder can be imported into this resource via its **full path** (**not** the MOID).

For example:

[code]

And example when the folder is nested:

[code]

For the your configuration above:

[code]

**Documentation Reference**: [resource_vsphere_folder > importing](https://registry.terraform.io/providers/hashicorp/vsphere/latest/docs/resources/folder#importing)

Recommended:

[2021-12-16 03:04] tenthirtyam commented on #1442
Hi, @xuxiaoahang2018

In addition to needing more information, such as the configuration example, provider version, etc - to reproduce / tes the scenario, it should be noted at what level the permissions are provided. See the [Permissions on Tag Objects](https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.security.doc/GUID-2199584C-B422-4EEF-9340-5449E1FB7DAE.html) in the vSphere docs

[2021-12-16 03:06] tenthirtyam commented on #1440
Hi @freola,

Were you able to open a case with VMware Support to investigate the ability and impact of correcting the path discussed above?

Ryan

[2021-12-16 03:48] tenthirtyam commented on #1438
Hi @BradCalvertHCA,

It's also **`VmTerminateDelayForAPDSec`** here in the provider:

https://github.com/hashicorp/terraform-provider-vsphere/blob/231a12819af1048f89988a77e3216a6c2a6eb3e2/vsphere/resource_vsphere_compute_cluster.go#L1781

I think the best course of action is to update the both the **docs** _and_ **defaults** to align with the API spec for `180` and `seconds` vs enforcing an multip

[2021-12-16 04:06] tenthirtyam commented on #1424
Included update in PR #1513.

[2021-12-16 06:08] tenthirtyam commented on #1536
I also tested on local and vSAN (all-flash) earlier w/o issues.

Ryan

[2021-12-16 07:04] freola commented on #1440
Hi @tenthirtyam,

We will upgrade our environment and at the same time make a new fresh installation so we will get the right path. No case opend agains VMware and as this seams to only be a problem for us we can close this issue.

Thx for your help @tenthirtyam!

Fredrik

[2021-12-16 07:05] #1440 closed

[2021-12-16 10:43] tenthirtyam commented on #1440
Happy to assist!

[2021-12-16 12:30] per-lind opened #1538 "Unclear documentation deploying ovf"
### Affected Resource(s)

- `vsphere_virtual_machine`

### Actual Behavior
 As a new user of the the vsphere provider it is unclear what paramters that need to be set and what is actually imported from the ovf template.

This tells me that basiclly I should make sure all settings are manually set.

Using the OVF/OVA to deploy virtual machines can result in situations where the resulting VM does ma

[2021-12-16 13:14] tenthirtyam commented on #1538
Please take a look at the proposed changes submitted in PR #1513 that helps to clarify and provide newer examples.

https://github.com/hashicorp/terraform-provider-vsphere/pull/1513/files

Ryan

[2021-12-16 13:55] tigerblue77 commented on #1033
@appilon Thanks for your explanation, it took me a while but I finally got the library working locally and I confirm that the patch works! :D
Do you need any special information as long as I have the test environment on hand and operational? I can take screenshots of whatever you want.
For information, I took back my Terraform VM creation script that was working in v1.15.0 of the plugin, I simply

[2021-12-16 16:34] appilon commented on #1033
Nope, just appreciate someone giving it some confirmation. The scope of this change was very small so a quick check I think is a reasonable.

[2021-12-16 19:33] tigerblue77 commented on #1033
Ok good 👍 have a good evening !

[2021-12-16 23:02] jmarrnaz commented on #1033
@appilon - I was able to test and thus far looks good in regard to the _PolicyIDByVirtualMachine_ message. As far as the other issue _PolicyIDByVirtual_, I did not experience this issue and I did not see any steps to reproduce. I would be happy to test if you know what it takes to replicate.

It's a great to have this as a resource provider for the ESXI as the ability to spin-up and test in lab en

[2021-12-16 23:08] appilon commented on #1033
@jmarrnaz Yes you can expect this change in the next release, thanks for giving things a try.

[2021-12-16 23:38] tenthirtyam commented on #1443
Additional reference: https://kb.vmware.com/s/article/1189

I'll begin to prepare this change so that the provider behavior is consistent with the API, PowerCLI, and the UI.

Ryan

[2021-12-17 12:28] bmhughes commented on #1534
Getting the same problem here in the same situation with the same symptoms.

[2021-12-17 12:30] wocomwouter commented on #1534
I guess we can say this is quite a HUGE bug...

[2021-12-17 14:21] adarobin opened #1540 "Virtual Machine MoRef in Data Source and Virtual Machine Snapshot Data Source"
### Description

I am working on a Terraform provider for [VMware Horizon](https://github.com/umich-vci/terraform-provider-horizon) so that I can automate desktop pool creation in our environment. As a part of that, I need to be able to get the managed object reference of both a virtual machine and a snapshot.  The virtual machine datasource does not expose the moref and there is no data source fo

[2021-12-19 22:49] tenthirtyam commented on #1443
Awaiting merge of 1522 before submitting the pull request for this issue. Since there will be doc changes and 1522 has substantial updates for the `vsphere_virtual_machine` resource.

cc @appilon

[2021-12-20 04:12] tenthirtyam commented on #1438
Given that the API default for `VmTerminateDelayForAPDSec` is `180` seconds, it might be best to remove `Default: 3` from `ha_datastore_apd_response_delay` altogether and then update the doc that it's in seconds and that it uses the vSphere defaults when not specified.

Source: https://developer.vmware.com/apis/361/doc/vim.cluster.VmComponentProtectionSettings.html#vmTerminateDelayForAPDSec

[2021-12-21 04:11] tenthirtyam commented on #1470
@jabtk - hope all is well, I just want to loop back and see if your issue was the firmware setting or not.

Would you mind updating this issue?

Ryan

[2021-12-21 04:15] tenthirtyam commented on #1446
@Nick-Andreev - is the capability first supported by vmware/govomi?

Ryan

[2021-12-21 04:18] tenthirtyam commented on #1437
@BradCalvertHCA - a quick check-in to see if you have tried the `lifecycle` meta argument from the previous comment.

Ryan

[2021-12-21 04:28] tenthirtyam commented on #1438
Duplicate of #1386.

[2021-12-21 05:24] tenthirtyam commented on #1385
Hi @maxadamo, this would be an `enhancement` (#1280) versus a `bug`.

Today, native vSphere guest customizations do not support this option; however, it _**might**_ be be possible to address _**if**_ support for the customization script (_as seen in customization specifications_) was added to `linux_options` similar to the run commands for Windows - in lieu of the native support vSphere.

Another

[2021-12-21 05:38] tenthirtyam commented on #1332
Hi @bpfoley45,  checking in to see if you can comment on the vSphere version and if this issue still exists for you - or if it can e closed?

Ryan

[2021-12-21 05:41] tenthirtyam commented on #1319
Hi @Wali4 - could you provide an update if this is still an issue for you. Please see [comment above](https://github.com/hashicorp/terraform-provider-vsphere/issues/1319#issuecomment-980791336).

Ryan

[2021-12-21 05:43] tenthirtyam commented on #1298
HI @skganji - checking in to see if you are still experiencing this issue. See [comment above](https://github.com/hashicorp/terraform-provider-vsphere/issues/1298#issuecomment-956561294).

Ryan

[2021-12-21 05:48] tenthirtyam commented on #1279
Hi @smoolya17 - can you confirm if you are still having this issue or if my response in the [comment above](https://github.com/hashicorp/terraform-provider-vsphere/issues/1279#issuecomment-961187771) helps to resolve/close this issue?

Ryan

[2021-12-21 05:52] tenthirtyam commented on #1267
Hi @e11en - does the [above workaround](https://github.com/hashicorp/terraform-provider-vsphere/issues/1267#issuecomment-851065430) resolve the issue for you?

Ryan

[2021-12-21 17:28] tenthirtyam commented on #1454
I can confirm that this issue **does** occur with the following `latest` versions:
- Terraform v1.1.0
- Terraform Provider for vSphere v2.0.2
- vSphere v7.0.3

Under the following scenarios:
- Change between `datastore_cluster.id`
- Change between from `datastore.id`  `> to >` `datastore_cluster.id`

However, the `terraform apply` is successful and the `.tfstate` **does inaccurately reflect** that

[2021-12-21 17:32] tenthirtyam commented on #1393
Closes: #1394

[2021-12-21 17:57] tenthirtyam commented on #1122
Hi @garethhk - could you review [my previous comment](https://github.com/hashicorp/terraform-provider-vsphere/issues/1122#issuecomment-961556326) and update the status of the issue?

Ryan

[2021-12-21 18:02] tenthirtyam commented on #1102
Addressed in #1144; however, there are open issues on the implementation and an open enhancement for global permissions.

[2021-12-22 15:33] tenthirtyam commented on #1205
cc @appilon to close.

[2021-12-22 22:29] tenthirtyam commented on #1100
@gthieleb I'm **unable** to reproduce this issue with the following:

- Terraform v1.1.1
- Provider v2.0.2
- vSphere v7.0.2
- CentOS 8 Guest OS

Plan:

[code]

Apply: Needs to be Powered Off....

[code]

Apply while powered off.

[code]

Ryan

`unable-to-repro`

[2021-12-23 04:28] tenthirtyam commented on #1235
Hi @nodecaf - can you confirm if [the previous comment](https://github.com/hashicorp/terraform-provider-vsphere/issues/1235#issuecomment-962489254) helped to resolve your issue?

Ryan

[2021-12-23 04:32] tenthirtyam commented on #1435
Hi @AdrianBegg - checking in to see if [the previous comment](https://github.com/hashicorp/terraform-provider-vsphere/issues/1435#issuecomment-963592141) helped to resolve your issue deploying the VCDA using Terraform. Would you mind updating the issue?

Thanks!
Ryan

[2021-12-23 04:35] tenthirtyam commented on #1275
Hi @darumug - is there any additional context on this issue or have you been able to resolve / workaround the issue rinse originally posted?

Ryan

[2021-12-23 04:38] tenthirtyam commented on #1364
Hi @jibbajabber - Can you provide more detail and example?

Otherwise, since the issue is rather stale, suggest to close if there's not an example for reproduction testing.

Thanks!

Ryan

[2021-12-23 04:40] tenthirtyam commented on #1195
Hi @adarobin - are you still seeing this issue in latest provider and TF?

Ryan

[2021-12-23 13:36] TimVerbois commented on #1510
Have the same issue, tried to use ignore_changes = all

[code]

but still it gives the same warnings:

[code]

I assume these messages come from interfaces that are created by kubernetes on these VM's.

Even if I run a `terraform apply -refresh-only`, an hour later, we have the same problem.  If it is kubernetes that changes the ip addresses part, it is pretty normal that it is changed a lot.  Thi

[2021-12-23 18:31] tenthirtyam commented on #1243
The issue seems to be below in the code where a .vmdk is copied to a temporary file and then moved to the final destination.

https://github.com/hashicorp/terraform-provider-vsphere/blob/c8905137b4142e0a374e1b6ec34dcf7d3052bde9/vsphere/resource_vsphere_file.go#L197-L206

This was introduced in https://github.com/hashicorp/terraform-provider-vsphere/commit/d7d070b08cabac6f05b6b7e419bf3325bccfff5b#d

[2021-12-23 21:03] tFable commented on #1265
We're also affected by this issue. We're currently forced to:
- Create VM without vGPU with Terraform
- Manually add vGPU to VM via vCenter (Terraform doesn't seem to support creating VMs with vGPU)
- Remove VM from Terraform state and delete Terraform code

It would be great to both be able to create and manage VMs with vGPU via Terraform.

[2021-12-23 21:19] tenthirtyam commented on #1265
There's an open PR (#1265) for product manager and maintainer review. Thanks for adding your 👍🏻 to the original description.

Ryan

[2021-12-23 21:23] tFable commented on #1265
Hey @tenthirtyam ,

Yea, I have see the PR (#1378) if that's what you're referring to.

Hoping that this gets a chance to be reviewed soon since it has been open for 9 months.

Thanks!

[2021-12-23 22:16] tenthirtyam commented on #1265
I'll plan to discuss this one with the HashiCorp engineering team in January.

Ryan

[2021-12-24 08:53] TimVerbois commented on #1510
Maybe an important addition:

we use vsphere provide version 2.0.2, but the problem does not come up using Terraform 0.15.5, only when we upgrade to the latest Terraform 1.1.2.

[2021-12-31 02:04] qiangtang commented on #1010
Maybe you can use dynamic here, it works on my local site
dynamic "host" {
    for_each = toset(var.cell_hosts)
    content {
      host_system_id = data.vsphere_host.cell-hosts[host.value].id
      devices        = "${var.network_interfaces}"
    }
  }

[2021-12-31 10:11] cerrakoth commented on #1410
To add colour to why this would be useful - We would like to start deploying VMs via Terraform in an environment which already contains distributed port groups. We currently would need to create a new dpg managed by Terraform or import the existing dpg to the state which is not an optimal way of doing this.

[2021-12-31 19:36] skganji commented on #1298
@tenthirtyam,

Thank you for the suggestion. That worked. This issue can be closed.

[2021-12-31 19:36] #1298 closed

[2022-01-01 06:00] tenthirtyam commented on #1308
Hi @idrennanvmware - this issue is still marked as open. As the author, can you self-close?

Ryan

[2022-01-03 12:50] jeichhorn commented on #1277
@tenthirtyam In my tests accessing the terraform output `vsphere_virtual_machine.vm.id` returns the `bios_uuid` and not the `instance_uuid` when comparing the values from the vsphere REST API `https://<VCENTER>/api/vcenter/vm/<VM>`.
Is this expected?

[2022-01-04 01:00] #1308 closed

[2022-01-04 18:01] Wali4 commented on #1319
Hi @tenthirtyam, sorry for the delay. this is no longer an issue for us. Thank you very much! we are on terraform 0.15x

[2022-01-04 18:01] #1319 closed

[2022-01-04 18:01] Wali4 commented on #1319
Thanks again.

[2022-01-04 19:12] tenthirtyam commented on #1319
Thanks for the update @Wali4! Great to hear! 🎉

Ryan

[2022-01-04 19:34] tenthirtyam commented on #1227
Hey, William (@lamw) -

I had a chance to successfully test this today on AArch64 / ARM6 using your `Nested_ESXi7.0u3_Appliance_Template_v1.ova` OVA image and a crash was not observed.

Below are the environment specs.

- Ubuntu 20.04 LTS on Raspberry Pi 4 8GB

[code]

- VMware vSphere Client version 7.0.3.00100
- VMware ESXi, 7.0.2, 18538813

`main.tf`

[code]

`terraform init`

[code]

`terrafor

[2022-01-04 19:42] tenthirtyam commented on #1239
@scluff -

Have you tested deploying the OVA with the `latest` (_e.g._ v2.0.2) version of the provider?

See https://github.com/hashicorp/terraform-provider-vsphere/issues/1227#issuecomment-1005112446 for an example using the [`Nested_ESXi7.0u3_Appliance_Template_v1.ova`](https://download3.vmware.com/software/vmw-tools/nested-esxi/Nested_ESXi7.0u3_Appliance_Template_v1.ova) OVA image along with th

[2022-01-05 01:11] tenthirtyam commented on #1016
@iBrandyJackson and @appilon can you review if this one can be closed per the fix in the PR mentioned above?

Ryan

[2022-01-05 09:17] ichundu commented on #851
+1

[2022-01-06 16:08] #1386 closed

[2022-01-06 16:08] #1438 closed

[2022-01-06 19:53] greeneg commented on #1358
Seeing the same behaviour here with version `2.0.2` of the provider and Terraform `1.0.3`:

Snippet of output from the prep stage for apply from our internal terraform orchestrator system:
[code]

Yet when I look at the Terraform state, and visually verify it from vCenter, disk0 is thin provisiioned:

[code]

[2022-01-10 08:02] godgiftedme opened #1547 "Operating System not found, while launching vsphere vm using terraform"
Getting error when I launched VM stating operating system not found. And in CMD its showing "timeout waiting for available ip address"
VM is launched successfully.
Please guide.

**```
data "vsphere_datacenter" "dc" {
  name = "ICEE"
}

data "vsphere_datastore" "datastore" {
  name          = "DS0004"
  datacenter_id = data.vsphere_datacenter.dc.id
}

data "vsphere_resource_pool" "pool" {
  name

[2022-01-10 12:48] eizedev opened #1548 "Missing tags are not handled correctly"
### Terraform Version

1.0.10

### vSphere Provider Version

2.0.2

### vSphere Version

6.7.0, 7.0.2, 7.0.1

### Affected Resource(s)

- `vsphere_tag`
- `vsphere_tag_category`

### Terraform Configuration Files

[code]

### Debug Output

State File content:

[code]

Debug Info:

[code]

Pipeline Info:

[code]

### Expected Behavior

Provider should mark resource as missing and plan to create it

[2022-01-10 13:05] tenthirtyam commented on #1547
Is your originating template is using EFI and EFI Secure Boot? If so, you'll need to set this to return the configuration from the data source.

[code]

Without specifying this configuration, the default is BIOS and would lead to **OS Not Found** if the template uses EFI.

Ryan

[2022-01-11 15:52] arizvisa commented on #851
Ugh. As a reminder, please do not put "+1" as an additional comment. nobody will \_ever\_ see that shit unless they're already part of the issue in question... you need to +1 the original post.

[2022-01-11 18:24] tenthirtyam commented on #851
Please be mindful of language and the code of conduct.

[2022-01-12 14:01] luclis opened #1549 "`vsphere_host` does not check thumbprint"
### Terraform Version

[code]

### vSphere Provider Version
`+ provider registry.terraform.io/hashicorp/vsphere v2.0.2`
### vSphere Version
`vSphere 7.0 Update 2`

### Affected Resource(s)
`vsphere_host`

### Terraform Configuration Files
[code]

### Debug Output

### Panic Output
### Expected Behavior
The hash should be check and I shouldn't be able to import 2 esx with same hash when they have d

[2022-01-12 23:46] tenthirtyam commented on #1421
HI @behnm - have you had a chance to review [my prior comment](https://github.com/hashicorp/terraform-provider-vsphere/issues/1421#issuecomment-995390137) and retest the scenario using the full path on the import?

[code]

Ryan

[2022-01-12 23:54] tenthirtyam commented on #1384
This is mentioned in the documentation for the resource.

[code]

Reference: https://github.com/hashicorp/terraform-provider-vsphere/blob/37fd52c400e2d7901c51c67ad683b2e7d06c6bf3/website/docs/r/distributed_virtual_switch.html.markdown?plain=1#L312-L329

Ryan

[2022-01-12 23:59] tenthirtyam commented on #1382
Hi @prabu28,

Have you attempted to recreate the use case with the latest version of the provider?

Ryan
@tenthirtyam

[2022-01-13 00:28] tenthirtyam commented on #1350
Ideally, I think the behavior should be that if ` join_domain` is used in the `windows_options { }` configuration, that `domain_admin_user` and `domain_admin_password` should be required.

I think this can be best addressed with `RequiredWith:  []string{"join_domain"},` being added to schema for `domain_admin_user` and `domain_admin_password` in `virtual_machine_customize_subresource.go`. By doing

[2022-01-13 00:39] tenthirtyam commented on #1331
@DI-DaveGoodine, in your example it appears that you are trying to find the template based on a specific folder path versus the template name in the path of the `datacenter_id`.

[code]

Ryan

[2022-01-13 00:44] tenthirtyam commented on #1326
@lmayorga1980 Are you still experiencing this issue?

It appears that the vSphere version used is vSphere 5.5; whereas, the provider supports VMware vSphere 6.5 or later in accordance with the VMware Product Lifecycle Matrixfrom General Availability to End of General Support per the [VMware Product Lifecycle Matrix](https://lifecycle.vmware.com/).

Ryan

[2022-01-13 01:05] tenthirtyam commented on #1219
@seohs7 - Have you been able to address this issue? Appears to be related to the image and connectivity versus provider specific.

Ryan

[2022-01-13 01:06] tenthirtyam commented on #1231
Duplicate of #1102.

[2022-01-13 01:14] tenthirtyam commented on #1163
Hi @alexandrudu, could you review [my prior comment](https://github.com/hashicorp/terraform-provider-vsphere/issues/1163#issuecomment-984785786) and let me know if this resolves your question?

Thanks,
Ryan

[2022-01-13 02:32] lmayorga1980 commented on #1326
I will take a look at it next week.

Sent from my iPhone

[2022-01-13 14:03] vajeen opened #1552 "Destroy tries to delete the folder first and fails"
When terraform destroy is called, it tries to destroy the vm folder first and after destroying the VMs, it throws an error saying
"Error: folder is not empty, please remove all items before deleting"

Here's the complete output
![tf_error](https://user-images.githubusercontent.com/29272725/149344199-2c3a0e73-654d-4d6c-b2e6-88c8cab3ebaa.JPG)

[2022-01-13 17:31] tenthirtyam commented on #1552
Is the creation of the `vm_folder` resource derived from the same plan? If so, are there other objects contained within the folder that are not managed by the plan?

If there are other objects within the folder object that are not managed by the plan, this would be one reason for this to correctly occur.

If may be good to provided a redacted view of your plan.

Ryan

[2022-01-13 18:05] #830 closed

[2022-01-13 18:13] iBrandyJackson commented on #1231
Closing issue due to being a duplicate - future work with this feature request will be tracked with #1102

[2022-01-13 18:13] #1231 closed

[2022-01-14 04:05] tenthirtyam commented on #1536
Hi @gitprady - check-in to see if you had any update on the storage type and if this issue is still being seen.

Ryan

[2022-01-14 04:07] tenthirtyam commented on #1521
Hi @aj-cruz,

Did you ever have any luck with this issue? Unfortunately, I don't have access and support contract to download the Cisco Catalyst 8000V appliance and run any tests in my labs to help you debug a bit more.

Ryan

[2022-01-14 04:11] tenthirtyam commented on #1496
@appilon - when the opportunity permits, can you review [my prior comment](https://github.com/hashicorp/terraform-provider-vsphere/issues/1496#issuecomment-955588331) and provide input on what you think would be the best approach. I'd be hesitant to remove the default as that could be a major breaking change.

Ryan

[2022-01-14 04:14] tenthirtyam commented on #1491
Last I checked, `vmware/govomi` did not support setting the label presented in the vSphere Client.

[2022-01-14 04:16] tenthirtyam commented on #1462
Hi @joaofeteira - checking in to see if you are still having this issue or if the issue can be closed. Please review prior comments in the thread.

Thanks!
Ryan

[2022-01-14 09:06] joaofeteira commented on #1462
Hi guys,

you are completely right. My mistake. Sorry to keep you waiting on this.
Regards

[2022-01-14 09:06] #1462 closed

[2022-01-14 12:46] tenthirtyam commented on #1462
Thank you for updating this issue, @joaofeteira.

[2022-01-14 14:29] aj-cruz commented on #1521
@tenthirtyam I appreciate your help, no I gave up on it. I just went with cloning instead of a full deploy of the OVA.

[2022-01-14 15:02] tenthirtyam commented on #1521
Thanks for the update @aj-cruz. Do you still need this issue open?

Ryan

[2022-01-14 15:11] aj-cruz commented on #1521
@tenthirtyam No, I'll close it. Thanks.

[2022-01-14 20:33] danbarr commented on #1102
Besides import, I'd also love to see the "description" property added to the role resource.

[2022-01-14 20:35] appilon commented on #1016
Will close, if the issue persists after upgrading to v2.0.0 of the provider please feel free to comment for re-evaluation

[2022-01-14 20:35] #1016 closed

[2022-01-14 20:40] appilon commented on #1461
@tenthirtyam Thanks for tracking down the history, I seem to recall this period as a time we did refactoring/fixing of tests post SDK v2.0.0 upgrade, its possible a test was "fixed" by this reversion (and sometimes fix just means failing silently now, or passing but re-introducing other bugs such as what's being described).

If you have the bandwidth, would you have an environment to test the pote

[2022-01-14 20:47] appilon commented on #1324
@tenthirtyam I agree the `examples/` folder has fallen out of date and we should remove any examples that currently don't work or don't promote best practices

[2022-01-14 20:48] #1150 closed

[2022-01-14 20:51] tenthirtyam commented on #1324
Thanks, @appilon. I'll submit a PR to remove the legacy, non-functional content in /examples.

[2022-01-14 20:54] tenthirtyam commented on #1461
I'd be happy to take the time to look at it. Let's catch over email to ensure I perform it correctly in my labs.

Inbox me at johnsonryan [at] vmware [dot] com.

Ryan

[2022-01-14 20:59] tenthirtyam commented on #1102
@danbarr Since creation of roles is an existing resource, I suggest filing and enhancements issue for adding the description the resource's schema.

Ryan

[2022-01-14 21:08] #1436 closed

[2022-01-14 21:40] tenthirtyam commented on #1324
PR #1553 has been submitted to remove all example content in the `examples/` directory which has fallen out of date and is no longer functional.

Ryan

[2022-01-14 21:49] tenthirtyam commented on #1102
Correction, @danbarr. A `description` does not exist in the schema but `label` for display does. The docs/examples do not reference this. I'll PR this for you.

https://github.com/hashicorp/terraform-provider-vsphere/blob/c1f0d1ac4244d034f9116fee1e36e7d50b14aa2c/vsphere/resource_vsphere_role.go#L18-L37

Ryan

[2022-01-14 22:00] danbarr commented on #1102
@tenthirtyam `label` is a computed attribute, so I can't set it in a resource definition. For comparison, the `vsphere_role` data source does have `description` in its schema:
https://github.com/hashicorp/terraform-provider-vsphere/blob/c1f0d1ac4244d034f9116fee1e36e7d50b14aa2c/vsphere/data_source_vsphere_role.go#L15-L28

I can submit a separate enhancement for this, I was just following the preced

[2022-01-14 22:17] tenthirtyam commented on #1102
Doh, I stand corrected re the label. :)

[2022-01-14 22:20] #1263 closed

[2022-01-14 22:36] #1393 closed

[2022-01-14 23:59] pkaroluk commented on #1496
Hi, I have similar problem with these options using clone.
In my case, when I'm getting these values directly from the template, then I have:

[code]

It is strange the template has valid data
[code]

But the weird thing is that the second terraform apply ends fine, without any errors!!
Of course, when I have static values, as you in the workaround, the first run goes smoothly.

My config:
[code]

[2022-01-15 00:08] tenthirtyam commented on #1496
@pkaroluk are you using the virtual machine datasource to pull the values for the vm template?

[2022-01-15 00:29] pkaroluk commented on #1496
The VM template was built from scratch. When I created a sample VM from the template manually, it had correct VM Options.

[2022-01-15 14:17] tenthirtyam commented on #1343
@appilon, could you review the above thread and close this enhancement issue?

Ryan

[2022-01-15 14:23] tenthirtyam commented on #1247
@appilon, could you review this thread and the suggestion to close as the ability to create a cluster and enable vSphere HA settings on specific resources is already implemented?

[2022-01-15 14:38] tenthirtyam commented on #1152
@appilon and @iBrandyJackson, could you review this thread and the suggestion to close as no information has been provided other than the title.

[2022-01-15 15:03] tenthirtyam commented on #1100
I was not able to previously reproduce this issue as reported, but it should be possible to apply the change (add / remove / remap) **without** requiring the virtual machine to be powered off. This was reported in #358, but was closed as stale.

cc @appilon

Ryan

[2022-01-16 07:34] vajeen commented on #1552
Yes. creation of the vm_folder resource is derived from the same plan. Only created one VM along with the folder

[2022-01-16 14:03] tenthirtyam commented on #1552
Is there a depends_on included in you plan config? Can you share a redacted copy of your configuration?

[2022-01-17 10:19] rickhlx commented on #1081
Looks like the
initial code for supporting this has been added to govmomi.

https://github.com/vmware/govmomi/pull/2143

There is no support for guest namespaces yet.

[2022-01-17 18:01] appilon commented on #1100
I am going to close this issue on the grounds that OP account no longer exists, if the community rediscovers this problem please file a new issue and reference this one for extra background.

[2022-01-17 18:01] #1100 closed

[2022-01-17 18:05] appilon commented on #1152
Closing issue, if the community comes across the issue again please file a new issue and provide details to the issue template

[2022-01-17 18:05] #1152 closed

[2022-01-17 18:08] appilon commented on #1247
It appears from git history that the HA settings have existed since [2018](https://github.com/hashicorp/terraform-provider-vsphere/commit/88b398a29d476a89339b544ee8f078f6c3955785). Closing issue, to the community, please file a new issue with the specific feature request and we will do our best to assess it.

[2022-01-17 18:08] #1247 closed

[2022-01-17 18:27] tenthirtyam commented on #1490
@xxzk I notice the following in your configuration:

1. You are passing the `vm_name` for `host_name` and `domain`.

resource "vsphere_virtual_machine" "vm_1" {
  ...
  clone {
    template_uuid   = data.vsphere_virtual_machine.template.id

    customize {
      linux_options {
        host_name = "${var.vm_name[0]}"
        domain    = "${var.vm_name[0]}"
      }
   ...
  }

  2. You are using th

[2022-01-17 18:37] tenthirtyam commented on #1487
@kaiszy - checking in to see if you have an update based on my prior comments ([1](https://github.com/hashicorp/terraform-provider-vsphere/issues/1487#issuecomment-950419206)) ([2](https://github.com/hashicorp/terraform-provider-vsphere/issues/1487#issuecomment-955804496)).

If your issue does stem from `cloud-init` you'll need to disable it to allow guest customizations to work.

I have examples

[2022-01-17 18:42] tenthirtyam commented on #1470
Hi @jabtk, checking in to see if you have had any success in resolving your issue based on my prior comments ([1](https://github.com/hashicorp/terraform-provider-vsphere/issues/1470#issuecomment-964453489)) ([2](https://github.com/hashicorp/terraform-provider-vsphere/issues/1470#issuecomment-998455791)).

Any content library items from the content library will default to `bios` - this is the defau

[2022-01-17 18:43] tenthirtyam commented on #1466
cc @iBrandyJackson for review.

[2022-01-17 18:49] tenthirtyam commented on #1441
Per the VMware vSphere product documentation, which compares the use of VM Templates vs OVF Templates in Content Library:

Reference: [The VM Template as a Content Library Item](https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.vm_admin.doc/GUID-CA4478D8-EC1B-47AD-B48E-38CD26B489FF.html)

Regards,
Ryan

cc @appilon and @iBrandyJackson for review and closue.

[2022-01-17 18:51] #1343 closed

[2022-01-17 18:52] tenthirtyam commented on #1404
cc @iBrandyJackson for review and next steps.

[2022-01-17 18:53] tenthirtyam commented on #1404
Also, duplicate of #1216.

[2022-01-17 18:56] tenthirtyam commented on #1395
@iBrandyJackson - could you label this item as `enhancement` for review, please?

[2022-01-17 19:09] tenthirtyam commented on #1345
Per the VMware vSphere product documentation, which compares the use of VM Templates vs OVF Templates in Content Library:

Reference: [The VM Template as a Content Library Item](https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.vm_admin.doc/GUID-CA4478D8-EC1B-47AD-B48E-38CD26B489FF.html)

Hardware guest customization for OVF templates would need to be supported in vSphere to enable

[2022-01-17 19:10] tenthirtyam commented on #1342
cc @iBrandyJackson for review.

[2022-01-17 19:19] tenthirtyam commented on #1328
Based on the debug output the source is an OVF from the content library.

[code]

Does the originating OVF Template have two NICs? If note, per the VMware vSphere product documentation, which compares the use of VM Templates vs OVF Templates in Content Library:

Reference: [The VM Template as a Content Library Item](https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.vm_admin.doc/GUID

[2022-01-17 19:25] tenthirtyam commented on #1202
cc @iBrandyJackson - Recommend for closure.

[2022-01-17 19:31] tenthirtyam commented on #1435
cc @iBrandyJackson for review and closure consideration.

[2022-01-17 19:45] tenthirtyam commented on #1456
cc @iBrandyJackson and @appilon for review and closure.

The issue here based on the `vsphere_virtual_disk` resource follows the convention of using name .vs id.

For example, `datacenter` is used vs. `datacenter_id`and `datastore` vs. `datastore_id` as seen in other resources (_e.g._, `vsphere_virtual_machine`).

**TL;DR**, this is not a bug and is resolved by using `.name` from the datasource vs

[2022-01-17 19:47] tenthirtyam commented on #1414
cc @iBrandyJackson and @appilon for review and next steps.

[2022-01-17 21:24] appilon commented on #1441
Closing as per @tenthirtyam recommendation

[2022-01-17 21:24] #1441 closed

[2022-01-17 21:27] appilon commented on #1345
Closing as per @tenthirtyam recommendation

[2022-01-17 21:33] appilon commented on #1456
Thanks for the breakdown @tenthirtyam. It's unfortunate if we created any accidental inconsistency between resources, but there could be technical reasons on why we reference by name and not id, in some cases I would have to dive into the resources to see if we could support both. Closing though since there is no bug.

[2022-01-17 21:33] #1456 closed

[2022-01-17 21:53] appilon commented on #1414
While I agree it will be common for new users to trip up here, this is a problem common to all providers that allow for passing map data directly to the vendor, they have to maintain a mental model in their mind of Terraform/Golang's type system and recognize when they aren't working with it anymore (in this case they are defining a `map[string]string` and passing it to vsphere)

Unfortunately Ter

[2022-01-18 01:47] sofixa commented on #1345
@appilon @tenthirtyam I don't see the link between hardware customisation and the fact that it's pretty non-obvious how to deploy an OVF template because terraform has optional parameters that are in fact required by VMware ( and rather useless i might say). Having that clearer in the docs and/or having defaults on the terraform side would make for an easier UX.

[2022-01-18 01:50] sofixa commented on #1345
So i checked the linked issue and it's a completely unrelated problem  :) @appilon could you please reopen this one?

[2022-01-18 03:48] tenthirtyam commented on #1345
@appilon, we can retest and pick it up in a doc update in the least. @sofixa, feel free to suggest a resolution in a pull request.

Ryan

[2022-01-18 15:46] appilon commented on #1345
I'll re-open and have it close once we at least provide a documentation update

[2022-01-18 16:41] tenthirtyam commented on #1227
@iBrandyJackson and @appilon - I spoke with William internally and he agreed that the issue can be closed.

Ryan

[2022-01-18 20:50] wood2040 opened #1554 "Datastore cluster data sources fail to reference group ID"
### Terraform Version

1.1.3

### vSphere Provider Version

 2.0.2

### vSphere Version

vSphere 6.7 Update 3o

### Affected Resource(s)

- `vsphere_virtual_machine`

### Expected Behavior

VM is created using vsphere_datastore_cluster data source for placement

### Actual Behavior

Error: error locating datastore for VM: ServerFaultCode: The object 'vim.Datastore:group-ID' has already been delete

[2022-01-18 20:59] appilon commented on #1227
👍

[2022-01-18 20:59] #1227 closed

[2022-01-19 07:17] jabtk commented on #1470
Hello,

sorry for late response, I was able to fix this issue by adding additional packages into ks.cfg file to be installed during installation.

These packages were added to ks.cfg:
%packages --ignoremissing
@^server-product-environment
kexec-tools
@compat-libraries
@core
@development
sysstat.x86_64
ksh.x86_64
zsh.x86_64
ftp.x86_64
lftp.x86_64
oddjob.x86_64
oddjob-mkhomedir.x86_64
pam_krb5.x86_6

[2022-01-19 12:19] tenthirtyam commented on #1470
Thanks for the update @jabtk!

This was likely resolved by the installation of open-vm-tools. I also assume perl was also installed. Both are required for guest customization.

Please consider marking the issue as closed if resolved.

Ryan

[2022-01-19 18:32] #1324 closed

[2022-01-19 19:28] #1424 closed

[2022-01-19 19:28] #1356 closed

[2022-01-19 19:28] #1414 closed

[2022-01-19 19:28] #1425 closed

[2022-01-19 19:28] #1538 closed

[2022-01-19 19:34] #1480 closed

[2022-01-19 20:21] oniGino opened #1555 "Import of `vsphere_compute_cluster` and `vsphere_host` resources are confusing"
### Description

Getting errors attempting to import an existing vsphere compute cluster.
I'm confused as to the relationship of the `vsphere_host` arguments

I cannot seem to import an object without it requiring changes
Example
[code]

What is the impact or change of `cluster = ""` on my in production box is unclear given that this is an active in production system, this is troubling

however if

[2022-01-19 21:33] #978 closed

[2022-01-19 22:10] #981 closed

[2022-01-19 22:57] tenthirtyam commented on #1443
1522 has now been merged so I'll pick this one up next. Already did some of changes and testing a while back.

[2022-01-19 22:58] #1291 closed

[2022-01-19 23:03] #1245 closed

[2022-01-19 23:03] #1340 closed

[2022-01-20 05:13] tenthirtyam commented on #1384
cc @appilon and @iBrandyJackson for review. I think this is already covered in the existing provider documentation.

Ryan

[2022-01-20 05:33] tenthirtyam commented on #1163
A full example using the `vsphere_storage_policy` data source is provided above[](https://github.com/hashicorp/terraform-provider-vsphere/issues/1163#issuecomment-984785786) .

I addition, PR #1541 added an example that demonstrates a similar use case with storage policies.

cc @iBrandyJackson and @appilon for review of the above.

[2022-01-20 05:35] tenthirtyam commented on #1023
@vNerdyNate, checking in to see if you’ve had a chance to review and provide an update or feedback on my prior comments[](https://github.com/hashicorp/terraform-provider-vsphere/issues/1023#issuecomment-960893299) .

Ryan

[2022-01-20 08:14] godgiftedme opened #1556 "Existing `vsphere_virtual_machine` resources are getting destroyed while provisioning new `vsphere_virtual_machine` resources"
### Previous instances getting destroyed while launching new instances.

[code]

Also, when windows vms are launched, they are launching successfully, but at the end getting a timeout error.

VM customization failed
Timeout waiting for customization

[2022-01-20 08:18] godgiftedme commented on #1547
Solved. Thanks @tenthirtyam
I have a new issue. Take a look if you get time.
Thanks

[2022-01-20 08:18] #1547 closed

[2022-01-20 11:06] tenthirtyam commented on #1556
@godgiftedme, could you please format the  code above using the markdown tools for better readability? Thanks!

[2022-01-20 11:15] godgiftedme commented on #1556
Sure

[Vsphere terraform.txt](https://github.com/hashicorp/terraform-provider-vsphere/files/7904621/Vsphere.terraform.txt)

[2022-01-20 11:17] tenthirtyam commented on #1556
Based upon initial description, are you editing the **same** plan file as the previous to add the new instances or are you creating a new olan? If the former, yes, that would delete the other instances as Terraform seems to reach the desired state of the plan.

Also, I recommend the use of for_each vs count.

Ryan

[2022-01-20 11:22] tenthirtyam commented on #1556
https://www.freecodecamp.org/news/how-to-format-code-in-markdown/

[2022-01-20 11:39] godgiftedme commented on #1556
Hi Ryan

Thanks for the quick reply.
I will describe the issue in detail.
I launched 5 VMs through terraform and it launched successfully.
Next again I tried to launch 10 VMs but this time, its deleting those 5 previous VMs on Vsphere and then will launch new VMs.

Also, I am getting an error at end, that says
Virtual Machine customization failed
timeout waiting for customization to complete.

![i

[2022-01-20 11:39] godgiftedme commented on #1556
Yes, I am editing the same file

[2022-01-20 13:03] tenthirtyam commented on #1556
Are you **adding** to the server parameters variables or deleting and adding new information to the variables and reusing it for a new set of workloads?

If you are editing and reusing the same plan for deployment new workloads Terraform would compare the tfstate and plan and seek to ensure desired state. Thus, it would resolve to deleting the prior since they are in the tfstate but not the update

[2022-01-20 13:24] godgiftedme commented on #1556
Great, Thanks for the help.
What about the error, I am getting?
Do you have any idea about that?

Thanks
Abhishek

[2022-01-20 13:28] tenthirtyam commented on #1556
Hard to tell it you are trying to configure DHCP or static based on your stanza which is not fully configured.

[code]

If DHCP, remove these. If static, configure this fully.

This is probably where guest customization is having issues.

Ryan

[2022-01-20 17:13] greeneg opened #1557 "Add support for setting root password in Linux customization"
### Description

Currently, cloning Windows instances can have a dynamically created customization spec applied that allows setting the Administrator password. VMware's own vRealize product can do this for Linux as well. Can we please get a way of doing so on clone of Linux instances?

### Potential Terraform Configuration

Much like the Windows Options section, we could have something like this:

[2022-01-20 17:35] tenthirtyam commented on #1557
There is an **upstream dependency** on vSphere to support this enhancement.

Linux guest customizations in vSphere would need to support the ability to configure the default `root` password similar to how Windows guest customizations in vSphere supports changing the default `administrator` password. This does not exist today.

As an alternative, the provider could add a customization script option

[2022-01-20 19:53] appilon commented on #1163
I am going to close this issue since it was a question and not a bug, and what I believe is a sufficient example has been provided. Thanks @tenthirtyam for the detailed example, feel free to open a new issue if an issue arises with the proposed solution

[2022-01-20 19:53] #1163 closed

[2022-01-20 19:54] #1384 closed

[2022-01-20 20:01] tenthirtyam commented on #1554
Hi @wood2040, can you please provided a redacted version of your configuration / module for reproduction?

Ryan

[2022-01-21 02:09] tenthirtyam commented on #1444
@appilon, looping you in for your thoughts on the above.

Ryan

[2022-01-21 02:25] tenthirtyam commented on #1264
I concur with @jweigan's prior comments on how the provider operates.

@appilon, would you mind reviewing and confirming. I don't think there is a way to query and filter on the data sources.

Ryan

[2022-01-21 02:43] tenthirtyam commented on #1228
@nvibert @gchek did you ever try this with the depends_on and hashicorp/time?

Ryan

[2022-01-21 03:56] tenthirtyam commented on #1191
@appilon, the change in 1447 seems pretty innocuous to me to log a warning rather than error/fail. What are your thought?

Ryan

[2022-01-21 04:01] tenthirtyam commented on #1296
Appears to also be a duplicate of #1243.

cc @appilon and @iBrandyJackson fir review and confirmation.

[2022-01-21 04:03] tenthirtyam commented on #1296
@sumitmaggo, may I suggest reviewing #1243 if this PR resolves the same and if so, link the issue?

Thanks,
Ryan

[2022-01-21 06:25] tenthirtyam commented on #1332
Hi @bpfoley45, checking in to see if you can comment on the vSphere version and if this issue still exists for you - or if it can e closed?

Ryan

[2022-01-21 06:32] tenthirtyam commented on #1235
@appilon and @iBrandyJackson, recommend this issue for review and closure. A full working example based on the latest (v2.0.2) is provided in previous comments. The same example is used in updates to the `vsphere_virtual_machine` resource documentation.

Ryan

[2022-01-21 06:35] tenthirtyam commented on #1240
@yukselao - any update on this issue?

[2022-01-21 07:57] sumitmaggo commented on #1296
@tenthirtyam Yes, #1243 appears to be a duplicate and this PR resolves the issue.

[2022-01-21 14:42] tenthirtyam commented on #1243
Duplicated in #1296.

[2022-01-21 16:37] wood2040 commented on #1554
Sure thing, I've gone through and redacted any private info and zipped up the structure.
[hashicorp_repro.zip](https://github.com/hashicorp/terraform-provider-vsphere/files/7915257/hashicorp_repro.zip)
.

[2022-01-21 16:52] tenthirtyam commented on #1554
Try changing:

[code]

to

[code]

`datastore_cluster_id` should be set vs `datastore_id`.

Ryan

[2022-01-21 17:04] wood2040 commented on #1554
Initial testing seems to have worked (once I verified my DSC had StorageDRS enabled). Will verify with production code. Crazy how the error sent me in a totally different direction vs. mentioning wrong usage of resource option.

[2022-01-21 17:44] tenthirtyam commented on #1554
Thanks for the update.

There are two possible ds options and it failed because it's passing a moid of the wrong type.

https://github.com/hashicorp/terraform-provider-vsphere/blob/98191889deee3b214c7a12b0f92a142226963d42/vsphere/resource_vsphere_virtual_machine.go#L80-L92

What clued me in was the error since you mentioned you were "_using_ `vsphere_datastore_cluster` _data source for placement"_

[2022-01-21 17:50] wood2040 commented on #1554
It does seem obvious now that you've pointed that out. I can't thank you enough for your help on this!

[2022-01-21 17:57] tenthirtyam commented on #1554
You are very welcome, @wood2040 - _happy to help._

One you have verified that the solution is working, would you mind marking the issue as resolved/closed?

Thanks!
Ryan

[2022-01-22 20:02] #1240 closed

[2022-01-22 20:03] yukselao commented on #1240
I faced with this issue 2 years ago. I didn't have a chance to try it again But  I am sure about I don't have connectivity problems with esxi hosts

[2022-01-23 16:57] appilon commented on #1487
I will be closing this issue based on time since reply by the person posting. If the issue does persist please open a new issue and reference this one for context

[2022-01-23 16:57] #1487 closed

[2022-01-24 06:44] tenthirtyam commented on #1230
Hi @aenagy, I complete agree with @brettsantore's analysis of the issue.

You'd need to update the resource as such based on the older version of Terraform:

[code]

More recent versions of Terraform have removed the need for the interpolation syntax and you could run a `terraform fmt` to remove any unneeded interpolation.

cc @appilon for review and closure consideration.

Ryan

[2022-01-24 18:27] benfairclough opened #1558 "Importing `vsphere_content_library` Item as `iso` from `file_url` hangs at 1%"
### Terraform Version

 1.0.11

### vSphere Provider Version

 2.0.2

### vSphere Version

 7.0.3

### Affected Resource(s)

vsphere_content_library_item

### Terraform Configuration Files

[code]

[2022-01-24 19:05] tenthirtyam commented on #1558
Hi @benfairclough, the provider's implementation for `vsphere_content_library_item` is limited to importing virtual machine templates and remote OVAs.

There's not a meta argument to support a `type` such as `type = "iso"`.

For example, the following quick example would work for an OVA accessible via HTTPS:

[code]

and this would work for templates....

[code]

There's an [existing enhancement i

[2022-01-24 19:13] appilon commented on #1264
Unfortunately this is not a "plural" datasource, which in general providers have historically been hesitant to support. Apologies that we cannot provide that functionality at this time.

[2022-01-24 19:13] #1264 closed

[2022-01-24 19:16] appilon commented on #1230
Yes unfortunately this is a common error when users transition their configs from the pre 0.12 syntax to the new one. Would also recommend using `terraform fmt` after terraform upgrades to help keep the syntax used up to date.

[2022-01-24 19:16] #1230 closed

[2022-01-24 20:10] appilon commented on #1296
Closing duplicate

[2022-01-24 20:10] #1296 closed

[2022-01-24 20:19] appilon commented on #1191
I took a quick look at the linked PR @tenthirtyam , I'm not sure it's appropriate to exit early if no disk type can be read, why is it that this attribute fails, do disks not always have a disk type? I worry merging that PR will cause state drift.

[2022-01-24 20:40] appilon commented on #1235
Closing since example was given and an update from issue opener has not been provided. If the issue persists please feel free to open a new issue linking back to this one.

[2022-01-24 20:40] #1235 closed

[2022-01-24 22:51] tenthirtyam commented on #1448
Hi @coffmant , I ran a test of this scenario in my environment today and tracked the issue down to:

[code]

The following example runs without issue:

[code]

However, once key/vaules are added to `sdrs_advanced_options` the same error is seen:

[code]

The issue occurs with additional advanced options and is not limited to `IgnoreAffinityRulesForMaintenance`.

This does appear to be a bug.

cc @

[2022-01-24 23:19] tenthirtyam commented on #1244
Hi @sameh-Tawfiq,

In older versions of Terraform (pre-v0.13) the syntax would be:

[code]

In Terraform v0.13 and later, without the interpolation, the syntax should be updated to the following:

[code]

/ / / /

Hi @vdba73,

I would recommend the following assuming Terraform v0.13 and later:

[code]

Adding @appilon for review.

Ryan

[2022-01-25 12:57] coffmant commented on #1448
@tenthirtyam - Thanks for the investigation!  I must have figured this a long time ago as I have a bunch of these deployed now.  Forgot I even filed this as a bug.

[2022-01-25 13:58] tenthirtyam commented on #1448
Thanks for the update, @coffmant. Out of curiosity, did you proceed with the datastore clusters w/o the `sdrs_advanced_options` in the Terraform configuration or use another method?

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.
[credly.com/users/tenthirtyam](credly.com/users/tenthirtyam)

[2022-01-25 14:06] erSitzt commented on #851
Isnt this always a problem to be solved by a provisioner with access to the os running/using the disks ?

In linux you would rescan the scsi bus and resize the disks via something like
[code]
I think you can even do this via cloud-init on boot ?

In Windows this can be done by powershell as well if i remember correctly...

TLDR
I think this is outside the scope of the vsphere-provider as it requir

[2022-01-25 19:05] coffmant commented on #1448
I did the manual workaround.  I created the DS cluster without the advanced settings, then updated it simultaneously in both the WebUI and the .tf code, then did a refresh apply (which does work).

So I ended up with the right result but in a very non-TF friendly way.  Obviously this is sub-optimal but we really want full TF coverage on the infra so we're going to work around the sharp edges in th

[2022-01-25 19:20] jsmilani commented on #851
The OS maps the device to a physical volume and then to a logical volume so it is true that it must get involved to make the actual volume increase in size, but the prerequisite is the device has been resized first and that is done by VSphere by modifying the virtual disk. We are not asking to solve the OS side of the problem, but we want to be able to increase the virtual disk size via terraform.

[2022-01-25 19:53] tenthirtyam commented on #1448
Thanks again for the update, @coffmant.

Another _option_ could also be to use a PowerShell provisioner to connect and address the gap BMC is PowerCLI or other modules. (I've had to do something very similar for storage policies and tagging for Tanzu.)

Anyway, we have identified it as a bug in the provider for next steps which is a step forward. 😃

**Ryan Johnson**
Staff II Solutions Architect, V

[2022-01-25 19:57] erSitzt commented on #851
@jsmilani  Yeah, i misread something here...
my bad, sorry...

can i downvote my own comment ? :)

[2022-01-25 19:59] tenthirtyam commented on #851
Votes are only counted on the original
description issue

[2022-01-25 20:37] tenthirtyam commented on #1220
Hi @mobilesuitzero and @neurostream, I've taken a moment to test this scenario on the following:

[code]

Teraform: v1.1.4
Terraform Provider for vSphere: v2.0.2
VMware vSphere: v7.0.2

For the example, I've used the Ubuntu 20.04 LTS [cloud-image](http://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.ova) since the original description did not describe the OVF/OVA used.

Here in

[2022-01-25 21:04] tenthirtyam commented on #1254
Hi @podman2020, I know this issue is rather old but I'd like to respond.

Can you confirm if you are still having this issue or if you were able to resolve it since your original posting?

Generally, the only packages that are required for RHEL/CentOS for guest customizations are `open-vm-tools` and `perl`.

[code]

It wasn't mentioned in the issue, but generally, if the customization is not worki

[2022-01-25 21:29] tenthirtyam commented on #1428
Hi @Calvinaud, I suspect that this would be the expected behavior of the provider.

If you are running a destroy on the plan you would be requesting to remove the resource from vSphere (if possible) and therefore remove the resource from the state. In this instance, since the storage policy is in use by another object (_perhaps outside of this plan, in another plan, or other_)  the removal of the

[2022-01-25 22:14] appilon commented on #1428
Naively, I would expect the provider to error if it was unable to delete something upstream (would expect to get an error from vsphere API/govmomi) and have that bubble up on destroy, and yes, it would then not be a successful destroy/would remain in state. I will have to look into the resource code.

However, @Calvinaud , creating something with terraform and then attaching it to something out of

[2022-01-25 22:40] tenthirtyam commented on #1212
Hi @mikequentel, I suspect that the issue is related to the following:

https://github.com/hashicorp/terraform-provider-vsphere/blob/04f9ec0827e12f3e1089e2ba6daa056c0fd62fb0/vsphere/virtual_machine_config_structure.go#L242-L248

Even though the argument is optional and would default to inheritance using the UI, API, PowerCLI, govc, etc, by virtue of the provider **_setting_** the `Default` ...

[c

[2022-01-25 23:33] heitmanr commented on #922
same here: VM get's shutdown/modified/poweredon everytime,

logging
[code]

everything set after first run
![grafik](https://user-images.githubusercontent.com/26636908/151075646-f9f301cc-2d08-4e40-a462-6a59cc93948f.png)

as configured statically
[code]
The password here is similar to the default-password "VMware1!" but different ;-)

[2022-01-25 23:59] heitmanr commented on #922
thinking about this for ten additional minutes - for my setup the vapp-properties are only relevant for the very first start of the virtual-machine.

So adding
[code]
fixes the issue - now terraform ignores the by mistake detected non-existing diff regarding the password..

[2022-01-26 00:01] tenthirtyam commented on #922
This! ☝🏻

[2022-01-26 00:06] tenthirtyam commented on #922
Also, if there are **specific** properties would wish to ignore you can drill down to the property item.

resource vsphere_virtual_machine "foo" {
...
 vapp {
 ...
 }
 lifecycle {
   ignore_changes = [
     vapp[0].properties.username,
     vapp[0].properties.password,
   ]
 }

}

[2022-01-26 00:09] tenthirtyam commented on #922
@Yousseph, although your issue is rather old, could you review the prior comments and confirm if this resolves your concerns.

[2022-01-26 02:47] andrew-sumner opened #1561 "Windows server is not created with disk of size requested"
Creating a Windows 2016 server from a classic template and requesting C drive (disk 0) of size 512, but getting one with C drive the same size as the template.

### Terraform Version

v1.0.6

### vSphere Provider Version

Tried these two versions
v1.21.1
v2.0.2

### vSphere Version

vSphere Client version 6.7.0.50000

### Affected Resource(s)

- `vsphere_virtual_machine`

### Terraform Configurati

[2022-01-26 10:51] Calvinaud commented on #1428
Hi @appilon and @tenthirtyam, thanks for the response.

I agree on the fact that Terraform can loose authority on a resource it's not ideal. But in our cases the binding is done by something way out of scope from Terraform/the infrastructure and we can do nothing about it. (or if you have a idea to get around it I will gladly take it but it's not the subject of this issue).

That why, in our proce

[2022-01-26 17:21] tenthirtyam commented on #1561
Hi @andrew-sumner,

I took a moment today to use a very simple, flat plan (_seen below_) against Windows 2016, 2019, and 2022 templates I created with Packer just last week. Each had a single 100GB disk allocate for C: (system) during the build.

Terraform: v1.1.4
Terraform Provider for vSphere: v2.0.2
vSphere: v7.0.2

`main.tf`

[code]

By setting the `var.disk_size_0` as both 512 and 1024 and ru

[2022-01-26 21:11] tenthirtyam commented on #1259
Taking the specific issue reported by @luoymu into account this is pretty easy.

Here are the specifics of my reproduction:
- Terraform v.1.1.4 on macOS
- Terraform Provider for VMware vSphere v2.0.2
- VMware vSphere v7.0.1
- Amazon Linux 2 OVA (as used in the issue description) v2.0.20200617.0 (`amzn2-vmware_esx-2.0.20200617.0-x86_64.xfs.gpt.ova`)

One of the first things to note is that we need

[2022-01-26 23:11] wood2040 commented on #1554
This is looking good, and we even found a setting that looks like we can add for any systems that were built directly to a datastore moving forward via vsphere_storage_drs_vm_override

[2022-01-26 23:11] #1554 closed

[2022-01-26 23:53] tenthirtyam commented on #1554
@wood2040, thank you for the update!

[2022-01-27 00:10] tenthirtyam commented on #1406
Hi @iBrandyJackson and @appilon, this issue appears to be ready for closure based on solution provided.

Ryan

[2022-01-27 00:21] tenthirtyam commented on #1122
Hi @iBrandyJackson and @appilon, I suggest that this issue can be closed based on solution provided in the thread to return the firmware from the template using the `vsphere_virtual_machine` data source of the template since the default is BIOS.

[code]

Ryan

[2022-01-27 02:22] tenthirtyam commented on #1466
Hi @jbrunetext ,

Below is a real-time demo I recorded with the virtual machine configuration files and disk0 files on a single datastore in the same directory. When the virtual machine is destroyed, all files and the containing directory are appropriately removed.

![gh-1466](https://user-images.githubusercontent.com/7771363/151279852-41f86323-d8e2-4e78-b10c-f692b0a82ca3.gif)

For reference, belo

[2022-01-27 02:25] tenthirtyam commented on #1435
cc @iBrandyJackson and @appilon for review and closure consideration.

[2022-01-27 02:34] tenthirtyam commented on #1382
I've run into the same issue. In https://github.com/hashicorp/terraform-provider-vsphere/blob/04f9ec0827e12f3e1089e2ba6daa056c0fd62fb0/vsphere/data_source_vsphere_ovf_vm_template.go#L18 the only available option is `datastore_id`.

Recommend: `type/enhancement`

[2022-01-27 02:38] tenthirtyam commented on #1279
@iBrandyJackson and @appilon, may I suggest that this issue is mark are closed as a example has been provided and the age of origination.

Ryan

[2022-01-27 02:41] tenthirtyam commented on #1202
cc @iBrandyJackson and @appilon  - I'd like to suggest this issue for closure based on age of issue, solution / example response provided.

Ryan

[2022-01-27 04:03] #1279 closed

[2022-01-27 04:15] tenthirtyam commented on #1494
Duplicate of #1265.

cc @iBrandyJackson and @appilon

[2022-01-27 19:19] #1494 closed

[2022-01-27 19:21] appilon commented on #1202
Closing based on suggestion, please feel free to open a new issue if needed.

[2022-01-27 19:21] #1202 closed

[2022-01-27 19:25] appilon commented on #1435
Closing based on suggestion and time since last response. Please open a new issue if needed.

[2022-01-27 19:25] #1435 closed

[2022-01-27 19:31] appilon commented on #1466
I am going to close the issue due to lack of context on the original post and time since last response, please feel free to open a new issue if needed.

[2022-01-27 19:31] #1466 closed

[2022-01-27 19:34] #1122 closed

[2022-01-28 00:47] #1406 closed

[2022-01-28 00:50] dandunckelman commented on #1189
We're getting the same issue when trying to use the EMC Isilon VM from here: https://downloads.emc.com/usa/Isilon/EMC_Isilon_OneFS_9.1.0.0_Simulator.zip

Any workaround?

[2022-01-28 17:35] heitmanr opened #1564 "Add support for distributed switch membership as a `vsphere_host` resource argument"
### Description

Right now, each ESXi-Host participating in a DVS is
* configured in HCL to "be part of the DVS"

The ability to configure this in a different way in HCL:
* make the DVS-Membership a property of the ESXi-Host.
would enable dynamic "creation" of ESXi-Hosts [add them to vCenter/Cluster etc] and afterwards to the DVS:
* without having to change the DVS-Setup.

This DVS-Setup is absolu

[2022-01-28 19:34] tenthirtyam commented on #1331
Hi @patrick-hermann-sva,

This issue is a duplicate of #1262 which raises this valid concern.  We'll link these issues and track a path to resolution in the originating issue.

Ryan

[2022-01-28 19:34] #1331 closed

[2022-01-28 20:43] appilon commented on #1328
Closing duplicate, please open a new issue if the issue persists.

[2022-01-28 20:43] #1328 closed

[2022-01-28 20:44] appilon commented on #1470
closing since it appears resolved

[2022-01-28 20:44] #1470 closed

[2022-01-28 20:56] tenthirtyam commented on #1362
@appilon - would you suggest this is an `enhancement` rather than a `bug`?

[2022-01-28 21:02] appilon commented on #1259
@tenthirtyam are you suggesting this isn't a bug, and there is a provided solution?

[2022-01-28 21:06] tenthirtyam commented on #1259
@appilon, correct. The example walkthrough provided [above](https://github.com/hashicorp/terraform-provider-vsphere/issues/1259#issuecomment-1022606299) demonstrates that this is functional using the newer `vsphere_ovf_vm_template` datasource. The solution is based on the same Amazon Linux 2 build and .ova.

Ryan

[2022-01-28 21:08] appilon commented on #1244
Closing since examples have been provided

[2022-01-28 21:08] #1244 closed

[2022-01-28 21:13] appilon commented on #1212
If we can remove the default (allowing empty string to be the default) then it should not be a breaking change for anyone. If the default has to change, then I believe it will be a breaking change.

[2022-01-28 21:16] tenthirtyam commented on #1212
I'll self-assign this issue to research/test.

[2022-01-28 21:19] appilon commented on #1444
Closing due to time since last reply

[2022-01-28 21:19] #1444 closed

[2022-01-28 21:23] #1350 closed

[2022-01-28 21:26] tenthirtyam commented on #1261
Hi @eliz-ol - I realize that this issue is rather old and stale. Are you still experiencing this issue? I do quite a bit with Terraform and Packer (using `vsphere-iso`) and have not run into this issue yet.

Let me know, I'd be happy to help.

Ryan

[2022-01-28 21:31] #1493 closed

[2022-01-28 21:35] appilon commented on #1220
I'm going to close this issue based on the provided example. Please feel free to open a new issue if the issue persists

[2022-01-28 21:35] #1220 closed

[2022-01-28 21:44] tenthirtyam commented on #1404
Hi @FF186, I'm going to close this issue as the context is included in a prior issue, #1216. We'll track this concern in this origination.

Ryan

[2022-01-28 21:44] #1404 closed

[2022-01-28 21:53] appilon commented on #1259
Okay thanks! I will be closing since a working example is provided. Please feel free to open a new issue if the issue persists.

[2022-01-28 21:53] #1259 closed

[2022-01-28 22:42] doumhfr commented on #1552
can you post your terraform code ? Are you sure you define the folder in the vm as a terraform object (data or resource) and not just a name ?

[2022-01-29 05:20] tenthirtyam commented on #1556
Hi @godgiftedme, checking in to see if the above resolved you issue.

Ryan

[2022-01-29 05:29] tenthirtyam commented on #1454
Pull request #1546 submitted to address this issue.

[2022-01-29 06:35] tenthirtyam commented on #1445
It seems as though commit b120f5b03bed9f7238c41b51c71164e3899e6ccf made a change to `vsphere/tags_helper.g`o that removed the `vSphereTagTypeAll = "All"` along with others during a set of changes to address linter issues.

This may be the reason the documented alias (All) has been reported to no longer work.

@appilon - do you recall the historical context.

Ryan

[2022-01-29 19:17] tenthirtyam commented on #1534
Hi @wocomwouter, are these two data centers with a vCenter Server instance in each participating in enhanced linked mode?  If so, one method to address this is to use an account with reduced Global Permissions and apply roles/permissions at the vCenter Server level - that will limit the scope and visibility of the account. This would ensure that actions are limited within the scope of the target s

[2022-01-30 05:57] tenthirtyam commented on #1266
This appears to have been addressed in pull request #1361 per the description but needs to be verified.

[2022-01-30 10:48] bmhughes commented on #1534
It's all under the same vCenter server for me (not a large setup), I did already consider doing as you suggest but the addition of ELM and another VCSA has a variety of tradeoffs as well so it's a workaround that wouldn't work for me personally.

[2022-01-30 10:54] bmhughes commented on #1534
To add, I did have a dig through the code back when I first encountered this and it's (as @wocomwouter's initial bug description) because when searching for the VM the datastore/resource pool/etc isn't taken into account to restrict the search.

It's just the VM UUID which is duplicated by the replication operation, I do seem to remember that the govmovi library allowed restricting by datacenter b

[2022-01-30 12:59] demon-zombie commented on #1016
I'm seeing this error on v2.0.2 - even when increasing the size of the vm disk size.

Running latest vsphere v7.0.3c

Template vm is created with Ubuntu cloud images:
* https://cloud-images.ubuntu.com/hirsute/current/hirsute-server-cloudimg-amd64.ova
* https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.ova

[code]

[code]

Output response

[code]

[2022-01-31 15:46] heitmanr opened #1565 "Documentation: vsphere_distributed_port_group - "vlan_range"-property is not documented"
### Description

The Property
- vlan_id

is documented, but

- vlan_range

not.

It's working fine for me - I hope, this is expected and only the doc's might need the vlan_range get mentioned!?

### Working Terraform Configuration

[code]

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)

[2022-01-31 16:09] tenthirtyam commented on #1565
Hi @heitmanr, I believe that this is well documented in the below for `vsphere_distributed_switch`:

https://github.com/hashicorp/terraform-provider-vsphere/blob/01f0f19481abdfd709df066f4dddb6b9405f8a82/website/docs/r/distributed_virtual_switch.html.markdown?plain=1#L303-L320

Which appears in https://registry.terraform.io/providers/hashicorp/vsphere/latest/docs/resources/distributed_virtual_switc

[2022-01-31 19:53] tenthirtyam commented on #1362
This would be expected behavior.

For simplicity, let's say you have a plan to manage an anti-affinity rule for a set of virtual machines like below.

This example is based on:
- Terrafrom v1.1.4
- Terraform Provider for vSphere v2.0.2
- vSphere v7.0.3c

[code]

and your vars are

[code]

Now, let's say that virtual machine `tf-example-01B` is rebuilt outside in another plan, thus the ID will chan

[2022-01-31 20:16] javierlga commented on #1362
@tenthirtyam To be honest I'm no longer working with the client, so it's difficult to test it again with a newer Terraform or provider version, however, I'd like to mention that the example provided may work because you're managing the resources independently (one state for the VMs and one for the affinity rules), in my scenario both resources were modified in the same action (sharing one single s

[2022-01-31 20:26] tenthirtyam commented on #1362
@javierlga, yes you are correct regarding the simplistic example. However, as I mentioned, you could taint the specific resource in a shared state to force that resource to be recreated with the updated ID.

Does that make sense?

[2022-01-31 20:30] javierlga commented on #1362
@tenthirtyam Yes, tainting it makes sense, but if you're using Terraform Cloud/Enterprise workspaces and use the VCS workflow, you can't manage the state, and also, even when working with the CLI driven one, it forces the operator to run specific actions outside of a pipeline, for example.

[2022-01-31 20:38] tenthirtyam commented on #1362
Thanks for the updates, @javierlga. I'll pass this up next to @appilon for issue perspective.

[2022-01-31 22:10] heitmanr commented on #1565
yes, you're right - my fault - the title of my note should have been "vsphere_distributed_port_group" not "VDS/Distributed-Switch".

[2022-01-31 22:11] tenthirtyam commented on #1565
@heitmanr, would you mind updating the issue title so that we can best track an update to the docs?

[2022-01-31 22:56] tenthirtyam commented on #1228
Hi @nvibert and @gchek, below is a basic example that would address this use case.

The example uses the following:
- Terraform v1.1.4
- Terraform Provider for VMware vSphere v2.0.2
- VMware vSphere v7.0.3c

### The basic plan.

`versions.tf`

[code]

`variables.tf`

[code]

`main.tf`

[code]

`terraform.tfvars`

[code]

### The Results

[code]

As you can see above, using `hashicorp/time` I put I

[2022-02-01 02:51] tenthirtyam commented on #1212
Hey @appilon, after a little investigation, this issue **seems** to be much further down than simply removing this default mentioned above. There's the logic for both the virtual machine resource and virtual disk subresource to query the status of storage policy-based management (`spbm`), compute the storage policy, and so forth.

Let's discuss how it might be addressed or if it's a nuance based o

[2022-02-01 12:15] FinweVI opened #1567 "Documentation: vsphere_distributed_port_group - import example is wrong"
### Terraform Version

1.1.4

### vSphere Provider Version

2.0.2

### vSphere Version

6.7.0

### Affected Resource(s)

- `vsphere_distributed_port_group`

### Expected Behavior

Importing a DPG should work as stated in the [documentation](https://registry.terraform.io/providers/hashicorp/vsphere/latest/docs/resources/distributed_port_group#importing):
[code]

### Actual Behavior

When importing

[2022-02-01 12:21] tenthirtyam commented on #1567
Duplicate of #1461

[2022-02-01 22:09] #1461 closed

[2022-02-01 22:09] #1565 closed

[2022-02-01 22:09] #1567 closed

[2022-02-02 00:02] tenthirtyam commented on #1266
I've been able to reproduce the issue with the following:

[code]

For the reproduction I used a cloud-init based Ubuntu 20.04 LTS virtual machine and successfully imported the resource.

[code]

However, when running the first apply the virtual machine was powered on since the following changes were found:

[code]

As a result, I needed to all thee following to the `vsphere_virtual_machine` resou

[2022-02-02 00:03] tenthirtyam commented on #1556
Hi @godgiftedme, checking in to see if the above resolved you issue.

Ryan

[2022-02-02 03:55] tenthirtyam commented on #1295
The import format is:

[code]

[code]

For example:

[code]

[code]

Ryan

[2022-02-02 08:34] godgiftedme commented on #1556
Hi Ryan, I am receiving an error while launching the vms. Vms are created successfully but a new error occurred

 POST https://<ip>/rest/com/vmware/cis/tagging/tag-association?~action=list-attached-tags: 401 Unauthorized

Can you help me with this.
When creating VMs more than 10 this error comes.

[2022-02-02 12:46] tenthirtyam commented on #1556
Te above message appears to indicate that the user the provider is running under does not have privileges to view (read) the vSphere tags.

[2022-02-02 13:00] godgiftedme commented on #1556
I am not trying to view the tags. How can I rectify this error?

[2022-02-02 13:59] tenthirtyam commented on #1556
However, the provider would read the tags for the `vsphere_virtual_machine` resources.

[2022-02-03 05:05] tenthirtyam commented on #1490
Hi @xxzk - checking in to see if the prior comments helped.

Ryan

[2022-02-03 05:17] tenthirtyam commented on #1370
@avseelam - could you provide an example that is not working for you!

Ryan

[2022-02-03 14:45] tenthirtyam commented on #1023
Hi @vNerdyNate,

I'm marking this issue as closed based on the comments and testing provided earlier in the thread.

If the issue persists, please open a new issue and reference this originating issue.

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.
VMware Validated Solutions Engineering

[2022-02-03 14:45] #1023 closed

[2022-02-03 14:47] tenthirtyam commented on #1326
Hi @lmayorga1980

Are you still experiencing this issue?

It appears that the vSphere version used is vSphere 5.5; whereas, the provider supports VMware vSphere 6.5 or later in accordance with the VMware Product Lifecycle Matrixfrom General Availability to End of General Support per the [VMware Product Lifecycle Matrix](https://lifecycle.vmware.com/).

**Ryan Johnson**
Staff II Solutions Architect

[2022-02-03 14:50] tenthirtyam commented on #1254
Hi @podman2020

I'm marking this issue as closed based on the comments and information provided earlier in the thread.

Generally, the only packages that are required for RHEL/CentOS (and other RHEL derivatives) for guest customizations are `open-vm-tools` and `perl`.

[code]

If the issue persists, please open a new issue and reference this originating issue.

**Ryan Johnson**
Staff II Solutions

[2022-02-03 14:50] #1254 closed

[2022-02-03 14:54] tenthirtyam commented on #1364
I'm marking this issue as closed based on the staleness of the issue and not enough information for reproduction.

If the issue persists with the latest version of the provider, please open a new issue and reference this originating issue.

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.
VMware Validated Solutions Engineering

[2022-02-03 14:54] #1364 closed

[2022-02-03 14:58] tenthirtyam commented on #1442
I'm marking this issue as closed based on the limited information to reproduce the issue and no response.

If the issue persists with the latest version of the provider, please open a new issue and reference this originating issue.

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.

[2022-02-03 14:58] #1442 closed

[2022-02-03 15:03] tenthirtyam commented on #1421
Hi @behnm

I'm marking this issue as closed based on the comments and solution provided earlier in the thread.

If the issue persists, please open a new issue and reference this originating issue.

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.

[2022-02-03 15:03] #1421 closed

[2022-02-03 15:06] lmayorga1980 commented on #1326
I forgot about testing this but should be able to give you a response by Monday

Sent from my iPhone

[2022-02-03 15:09] tenthirtyam commented on #1275
I'm marking this issue as closed based on the staleness of the thread.

If the issue persists with the latest version of the provider, please open a new issue and reference this originating issue.

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.

[2022-02-03 15:09] #1275 closed

[2022-02-03 15:30] tenthirtyam commented on #1342
Hi @dghogg,

I'm marking this issue as closed based on the comments earlier in the thread and the staleness of the issue..

However, I did do some sanity checks with the latest version of the provider (as of v2.0.2) using templates with underscores and the same names (`WINDOWS_ADMIN_DC3` and `WINDOWS_ADMIN_DC1`). I was unable to reproduce the issue and the correct templates were used from the data

[2022-02-03 15:30] #1342 closed

[2022-02-03 15:46] tenthirtyam commented on #1332
Hi @bpfoley45,

I'm marking this issue as closed based on the comments and testing provided earlier in the thread.

One critically important piece of information that was missing from the issue description is which version of vSphere is being used in the environment. This would help to ensure that the version of vSphere in the environment fully supports Windows 2019 as a guest OS since it appears

[2022-02-03 15:46] #1332 closed

[2022-02-03 15:53] tenthirtyam commented on #1536
Hi @gitprady - check-in to see if you had any update on the storage type and if this issue is still being seen.

Ryan

[2022-02-03 15:57] tenthirtyam commented on #1552
Hi @vajeen,

Checking in to see if you had any update on the plan, if any `depends_on` was included, and if this issue is still being seen.

I suspect the issue is related to the dependency not being set in the plan.

Ryan

[2022-02-03 16:05] tenthirtyam commented on #1561
Hi @andrew-sumner, just checking in to see if you are still having this issue. I was unable to reproduce the issue.

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.

[2022-02-03 16:09] tenthirtyam commented on #1267
Hi @e11en - did the [above workaround](https://github.com/hashicorp/terraform-provider-vsphere/issues/1267#issuecomment-851065430) resolve the issue for you?

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.

[2022-02-03 16:11] tenthirtyam commented on #1239
@scluff -

Have you tested deploying the OVA with the `latest` (_e.g._ v2.0.2) version of the provider?

See https://github.com/hashicorp/terraform-provider-vsphere/issues/1227#issuecomment-1005112446 for an example using the [`Nested_ESXi7.0u3_Appliance_Template_v1.ova`](https://download3.vmware.com/software/vmw-tools/nested-esxi/Nested_ESXi7.0u3_Appliance_Template_v1.ova) OVA image along with th

[2022-02-03 16:20] tenthirtyam commented on #790
HI @antoniopimenta and @VickyWinner - this issue is rather stale. Are you both still experiencing the same issue with the latest version of the provider?

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.

[2022-02-03 16:27] e11en commented on #1267
Had this issue more then a year ago, I'm no longer working on this so I can't check it. I'll close this issue.

[2022-02-03 16:27] #1267 closed

[2022-02-03 16:33] tenthirtyam commented on #1252
I've taken a moment to test this scenario on the following:

[code]

Teraform: v1.1.4
Terraform Provider for vSphere: v2.0.2
VMware vSphere: v7.0.3c

For the example, I've used the Ubuntu 20.04 LTS [cloud-image](http://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.ova) since the original description did not describe the OVF/OVA used.

Here in the first example, I'm doing a basi

[2022-02-03 17:40] tenthirtyam commented on #1474
The recommended path is to use the `lifecycle` meta-argument. As previously mentioned it would look similar to the following in the `vsphere_virtual_machine` resource:

[code]

The above would work where source templates are updated/recreated using previously template names (e.g. via Packer) -  the name passed to `data.vsphere_virtual_machine.template.id` would remain a valid data source object an

[2022-02-03 18:31] tenthirtyam commented on #1352
I can confirm that this issue does exist and is a limitation of hot-add in vSphere. It would need additional validations based on the specific guest operating system version and the architecture in which this impacts.

I'm more inclined to recommend that this is an enhancement vs a bug since it is a vSphere limitation. This could be, at a minimum, addressed in the docs for `vsphere_virtual_machine

[2022-02-03 18:46] rene-at-dell commented on #1474
appreciate the comments gents.

closing this off

[2022-02-03 18:46] #1474 closed

[2022-02-03 23:25] #1295 closed

[2022-02-03 23:28] #1292 closed

[2022-02-03 23:57] tenthirtyam commented on #1478
Hi @c0razo,

As @pascal-hofmann, [mentions above](https://github.com/hashicorp/terraform-provider-vsphere/issues/1478#issuecomment-921645118) you can do this; however, you need to use `clone[0].attribute` vs `clone.0.attribute` as seen in your issue description.

Also, I would recommend updating the provider and using the newer `vsphere_ovf_vm_template` data source for the OVA.

Regards,
Ryan

[2022-02-04 00:02] tenthirtyam commented on #1476
Hi @sachittiwari, do you continue to have the same issue with the latest version of the provider - v2.0.2? You mentioned v1.12 was in use.

Ryan

[2022-02-04 00:26] tenthirtyam commented on #1334
Duplicate of #1268. Closing this issue and tracking using this originating issue.

Ryan

[2022-02-04 00:26] #1334 closed

[2022-02-04 00:39] tenthirtyam commented on #1337
@ptpford,

The following with the `depends_on` should resolve the issue:

[code]

Let me know if this helps,

Ryan

[2022-02-04 00:49] tenthirtyam commented on #1017
@sprnza - do you still need assistance with this question?

Ryan

[2022-02-04 01:08] tenthirtyam commented on #1540
Hi @adarobin, I would recommend splitting this to two related enhancement issues to be tracked individually.

Perhaps we could arrange and discuss the creation of the test cases with @appilon?

Ryan

[2022-02-04 01:18] tenthirtyam commented on #1467
Duplicate of #1285.

[2022-02-04 01:18] #1467 closed

[2022-02-04 01:20] tenthirtyam commented on #1285
Appears to be a duplicate of #1137. @appilon, thoughts?

[2022-02-04 03:43] tenthirtyam commented on #1190
Resolved in #1360 with `replace_trigger` in the `vsphere_virtual_machine` resource.

Marking as resolved/closed.

[2022-02-04 03:44] #1190 closed

[2022-02-04 03:50] tenthirtyam commented on #1314
Are you still seeing issue or was it resolved since originally posted?

Ryan

[2022-02-04 03:56] tenthirtyam commented on #1153
Duplicate of #1276. Closing this issue in favor of the latter as it has more detail, comments, and community upvotes.

Ryan

[2022-02-04 03:56] #1153 closed

[2022-02-04 04:11] tenthirtyam commented on #1128
@stobias123, which content library features do you feel are most need by the provider?

Ryan

[2022-02-04 06:36] arizvisa commented on #1128
As per #1126, the "type" attribute was added thanks to #1184. With this, you can at least use conditionals to choose the right resource and combine it with some local script via the "external" provider to download the content and export them as a "data source".

However, instead...it would be super SUPER awesome to have clients for all 3 of the client types listed in #1558.

The thing that's kind

[2022-02-04 06:52] stobias123 commented on #1128
@tenthirtyam  alost 2 years since this was opened. I'm not the right person to ask anymore 😅

[2022-02-04 07:34] sprnza commented on #1017
@tenthirtyam Nope, I think it's me using cloud-init incorrecly. I've switched to using plain net-install based images.

[2022-02-04 07:34] #1017 closed

[2022-02-04 08:58] andrew-sumner commented on #1561
I wasn't aware that the partition had to be expanded, that solved it thanks.

[2022-02-04 12:08] erSitzt commented on #1314
I'll try to reproduce this and post an update or close the issue

[2022-02-04 12:14] tenthirtyam commented on #1561
Thanks for the update, @andrew-sumner. Happy to hear that resolved the issue.

I'll mark this issue as closed.

Ryan

[2022-02-04 12:14] #1561 closed

[2022-02-04 12:24] tenthirtyam commented on #1314
Thanks for the update @erSitzt. Happy to help if it's still a concern.

Ryan

[2022-02-04 14:32] appilon commented on #1285
Seems to be a duplicate

[2022-02-04 14:32] #1285 closed

[2022-02-04 20:34] tenthirtyam commented on #1564
@heitmanr, can you share some additional rationale and context for this additional configuration path.

For example, is the goal to allow for different vmnics to be used on a per host level when there is a vendor or hardware mismatch within a cluster or across clusters?

Ryan

[2022-02-04 21:44] tenthirtyam commented on #1010
I agree with @qiangtang in the [previous comment](https://github.com/hashicorp/terraform-provider-vsphere/issues/1010#issuecomment-1003239632).

The ideal method would be to use a dynamic block.

[code]

Ryan

[2022-02-04 21:44] #1010 closed

[2022-02-04 22:34] #1454 closed

[2022-02-05 01:54] tenthirtyam commented on #1323
I can confirm that I've seen the similar results in recent datastore cluster tests using v2.0.2 of the provider and v7.0.3c of vSphere.

Ryan

[2022-02-05 02:03] tenthirtyam commented on #1300
Resolved in #1301.

Marking this issue as closed. If this issue is reappears with the latest version of the provider, please create a new issue linking back to this one for added context.

**Ryan Johnson**
Staff II Solutions Architect
Cloud Infrastructure Business Group, VMware

[2022-02-05 02:03] #1300 closed

[2022-02-05 02:14] tenthirtyam commented on #1415
Duplicate of #1134.

**Ryan Johnson**
Staff II Solutions Architect
Cloud Infrastructure Business Group, VMware

[2022-02-05 02:15] #1415 closed

[2022-02-05 02:16] tenthirtyam commented on #1335
Duplicate of #1134.

**Ryan Johnson**
Staff II Solutions Architect
Cloud Infrastructure Business Group, VMware

[2022-02-05 02:23] tenthirtyam commented on #945
Resolved in #1405 with the introduction of the `defaultAPITimeout` configuration for the provider.

Marking this issue as closed. If this issue is reappears with the latest version of the provider, please create a new issue linking back to this one for added context.

**Ryan Johnson**
Staff II Solutions Architect
Cloud Infrastructure Business Group, VMware

[2022-02-05 02:23] happly commented on #1300
Thank you for closing; I had forgotten to circle back after my PR was accepted!

[2022-02-05 02:23] #945 closed

[2022-02-05 02:27] #1134 closed

[2022-02-05 02:27] tenthirtyam commented on #1283
Resolved in #1405 with the introduction of the `defaultAPITimeout` configuration for the provider.

Marking this issue as closed. If this issue is reappears with the latest version of the provider, please create a new issue linking back to this one for added context.

**Ryan Johnson**
Staff II Solutions Architect
Cloud Infrastructure Business Group, VMware

[2022-02-05 02:27] #1283 closed

[2022-02-05 02:28] tenthirtyam commented on #790
Resolved in #1405 with the introduction of the `defaultAPITimeout` configuration for the provider.

Marking this issue as closed. If this issue is reappears with the latest version of the provider, please create a new issue linking back to this one for added context.

**Ryan Johnson**
Staff II Solutions Architect
Cloud Infrastructure Business Group, VMware

[2022-02-05 02:28] #790 closed

[2022-02-05 02:35] tenthirtyam commented on #1459
Confirming that this issue exists in latest (v2.0.2).

**Ryan Johnson**
Staff II Solutions Architect
Cloud Infrastructure Business Group, VMware

[2022-02-05 02:37] johnypony3 opened #1571 "Provider should abide by the Terraform log level (TF_LOG)"
### Description

### vsphere provide should abide by the terraform log level

### References

[link to helper function](https://github.com/hashicorp/terraform-provider-vsphere/blob/ff10de0ce019c080530a99da2374365a7625b706/vsphere/internal/helper/virtualmachine/virtual_machine_helper.go#L254)

in my log:

`2022-02-05T02:23:26.498Z [INFO]  provider.terraform-provider-vsphere_v2.0.2_x5: 2022/02/05 02

[2022-02-05 02:45] tenthirtyam commented on #1329
Community review and solution provided above.

Marking this issue as closed. If this issue is reappears with the latest version of the provider, please create a new issue linking back to this one for added context.

**Ryan Johnson**
Staff II Solutions Architect
Cloud Infrastructure Business Group, VMware

[2022-02-05 02:45] #1329 closed

[2022-02-05 02:55] tenthirtyam commented on #1307
I've needed to perform a sleep in similar situations both in the provider and the vRealize Automation provider when accessing some resources.

Here's a [link](https://github.com/hashicorp/terraform-provider-vsphere/issues/1228#issuecomment-1026292915) to a recent example in another issue.

**Ryan Johnson**
Staff II Solutions Architect
Cloud Infrastructure Business Group, VMware

[2022-02-05 03:04] tenthirtyam commented on #1571
Please update using the full issue template.

**Ryan Johnson**
Staff II Solutions Architect
Cloud Infrastructure Business Group, VMware

[2022-02-05 03:20] johnypony3 commented on #1571
done! thanks!

[2022-02-05 15:05] itayporezky opened #1572 "vsphere_host_pci_device data_source, can't "select" other device with identical name."
### Description

Using [vsphere_host_pci_device](https://registry.terraform.io/providers/hashicorp/vsphere/latest/docs/data-sources/host_pci_device) data source, unable to get ID of the second device when there is a situation where there are 2 PCI devices on the same host which share same vendor, name, model.

For example, I have an esxi host which has 2 GPU cards from the same vendor, and are the

[2022-02-05 15:07] itayporezky commented on #1572
Continuing slack chat, tagging @tenthirtyam
Thanks Ryan.

[2022-02-05 19:50] tenthirtyam commented on #1172
The provider support added in in https://github.com/hashicorp/terraform-provider-vsphere/pull/1144; however, there are open issues (#1517) on the implementation and an open enhancement for global permissions. (#1102).

Previous https://github.com/hashicorp/terraform-provider-vsphere/issues/1172#issuecomment-678529987 above shares the solution for the vCenter Server root-level.

Ryan

[2022-02-05 19:50] #1172 closed

[2022-02-06 04:08] tenthirtyam commented on #1372
Updating this issue as a request for `enhancement`.

Ryan

[2022-02-06 11:42] erSitzt commented on #1314
Seems this is still not working...

[code]

On first run it fails with there errors:
[code]

Running `apply` again, does not fix it
[code]

And `destroy` will fail too...
[code]

[2022-02-06 11:47] erSitzt commented on #1314
Btw this is the resulting vApp

<img width="1108" alt="image" src="https://user-images.githubusercontent.com/1625376/152679345-e3512ace-28e0-4126-a8a6-9448a064fa4a.png">

[2022-02-06 12:04] erSitzt commented on #1314
And this the state file after all this
<details>
<summary>terraform.tfstate</summary>
<p>

[code]

</p>
</details>

[2022-02-07 07:10] benohara opened #1573 "Add support for lazy loading of the provider"
Currently the provider doesnt lazy load.

This means it not possible to deploy a new VCSA as a vsphere.virtual_machine resource and then connect to the newly deployed VCSA to configure it with an aliased provider.

This requires splitting into multiple workspaces which doubles licensing costs.

Please implement lazy loading in this provider.

[2022-02-07 07:14] benohara commented on #1246
Also raised with hashicorp as 1201697339237161 including the ability to add hosts to a DVS and migrate their vmk0 to the lag.

[2022-02-07 09:57] tenthirtyam commented on #1573
Hi @benohara,

Could you please recreate the issue using and completing the `enhancement` template?

Ryan

[2022-02-07 11:55] NitishGupta9282 opened #1574 "Dynamically add `disk { }` to `vsphere_virtual_machine` resource when cloning from template"
Hi
    i want to create a vm using template on vsphere. My requirement is that if a template has 2 disks then terraform automatically add disk1 to my configuration or if there is only one disk in template then it stick to disk0. how can i do this configuration?

[2022-02-07 12:02] NitishGupta9282 commented on #1574
Here is my code:-

provider "vsphere" {
#  version        = "1.15.0"
  user           = "${var.username}"
  password       = "${var.password}"
  vsphere_server = "vcenter-noids.gemalto.com"
  allow_unverified_ssl = true
}

# The Data sections are about determining where the virtual machine will be placed.
# Here we are naming the vSphere DC, the cluster, datastore, virtual network and the template

[2022-02-07 12:04] tenthirtyam commented on #1574
Add an additional `disk {}` stanza to get he resource.

[2022-02-07 12:06] NitishGupta9282 commented on #1574
How can you explain ....it is very important plsh guide me to resolve this ?

[2022-02-07 12:08] NitishGupta9282 commented on #1574
I am getting this error

[2022-02-07 12:08] NitishGupta9282 commented on #1574
╷
│ Error: Missing required argument
│
│   on main.tf line 65, in resource "vsphere_virtual_machine" "vm":
│   65:   disk {}
│
│ The argument "label" is required, but no definition was found.

[2022-02-07 12:09] tenthirtyam commented on #1574
[code]

[2022-02-07 12:14] NitishGupta9282 commented on #1574
I am getting this error
The argument "label" is required, but no definition was found.

[2022-02-07 12:14] tenthirtyam commented on #1574
Documentation: `vsphere_virtual_machine` [Disk Options](https://registry.terraform.io/providers/hashicorp/vsphere/latest/docs/resources/virtual_machine#disk-options)

[2022-02-07 12:17] NitishGupta9282 commented on #1574
Here is my new code:-

[code]

[2022-02-07 12:20] tenthirtyam commented on #1574
Please refer to the documentation linked above. There is an abridged example and information regarding the required and optional arguments.

Ryan

[2022-02-07 12:27] tenthirtyam commented on #1574
It covers the scenario. Please look for the Disk Options portion. There you will see the below **abridged** example and the all required and optional arguments.

`resource "vsphere_virtual_machine" "vm" {
  # ... other configuration ...
  disk {
    label       = "disk0"
    size        = "10"
  }
  disk {
    label       = "disk1"
    size        = "100"
    unit_number = 1
  }
  # ... other conf

[2022-02-07 12:32] NitishGupta9282 commented on #1574
I  know how to configure disks ... my requirement is that if i select a new template in which 3 hard disk is connected then i dont want to come to terraform script again and define another disk .. it should be added automatically .. may it should be done with dynamic blocks but i am not able to crack the correct syntax.. thats why i come here ....

[2022-02-07 12:37] tenthirtyam commented on #1574
Yes, a dynamic block for `disk` with a `for each` on a would be a valid path that would allow you to simply provide the data in your vars, with an object map for example.

[2022-02-07 12:42] NitishGupta9282 commented on #1574
Plsh provide me the configuration of that block ?

[2022-02-07 13:25] tenthirtyam commented on #1449
Hi @Nitin052,

The team welcome contributions to the provider. efore you get started, I recommend reading the [contributing guidelines](https://github.com/hashicorp/terraform-provider-vsphere/blob/master/docs/CONTRIBUTING.md) and information on [submitting pull requests](https://github.com/hashicorp/terraform-provider-vsphere/blob/master/docs/PULL_REQUESTS.md) to get started.

Please reach out to

[2022-02-07 14:08] tenthirtyam commented on #1574
Take a look at this [community module structure ](https://github.com/Terraform-VMWare-Modules/terraform-vsphere-vm/blob/master/main.tf)for an immediate example of how it can be done with a more elaborate dynamic block.

The could be vastly simplified based on your personal use case or scenario.

[2022-02-07 20:33] tenthirtyam commented on #1171
As @pjamenaja[ mentions above](https://github.com/hashicorp/terraform-provider-vsphere/issues/1171#issuecomment-886177415), to ignore the dynamic disks added to the virtual machine, use the lifecycle meta-argument in the `vsphere_virtual_machine` resource.

[code]

Marking the issue as closed. If the solution (and the latest version of the provider) do not resolve your issue,  please open a new is

[2022-02-07 20:33] #1171 closed

[2022-02-07 20:47] tenthirtyam commented on #1252
Marking this issue as resolved based on the detailed [solution example](https://github.com/hashicorp/terraform-provider-vsphere/issues/1252#issuecomment-1029172827) provided in the previous comment.

If the issue persists with the solution provided and [the latest version of the provider](https://github.com/hashicorp/terraform-provider-vsphere/releases/latest), please open a new issue and referenc

[2022-02-07 20:47] #1252 closed

[2022-02-07 20:58] tenthirtyam commented on #1228
Hi @nvibert and @gchek,

Marking this issue as resolved based on the detailed [solution example](https://github.com/hashicorp/terraform-provider-vsphere/issues/1228#issuecomment-1026292915) provided in the previous comment for this use case. Generally, I'd recommend that these are resources are managed separately; however, the solution above demonstrates that the use case is entirely possible.

If

[2022-02-07 20:58] #1228 closed

[2022-02-07 21:07] tenthirtyam commented on #1478
Marking this issue as resolved based on the [solution example](https://github.com/hashicorp/terraform-provider-vsphere/issues/1478#issuecomment-921645118) provided in the previous comment.

[code]

or even for all clone,

[code]

If the issue persists with the solution provided and [the latest version of the provider](https://github.com/hashicorp/terraform-provider-vsphere/releases/latest), please

[2022-02-07 21:07] #1478 closed

[2022-02-07 21:11] tenthirtyam commented on #1359
Hi @fabricesemti80, is this still an issue that you are experiencing? If so, can you share a redacted version of the configuration plan?

Ryan

[2022-02-07 22:17] #1352 closed

[2022-02-07 22:25] tenthirtyam commented on #1004
Changes to, or removal of, the `extra_config` argument for the `vsphere_virtual_machine` will require a reboot.

https://github.com/hashicorp/terraform-provider-vsphere/pull/1522 by @AliAllomani addresses mentioning the reboot conditions in the `vsphere_virtual_machine` resource documentation.

To ensure that the removal of `extra_config` does not reboot the resource, use the `lifecycle` meta-argu

[2022-02-07 22:25] #1004 closed

[2022-02-07 23:00] tenthirtyam commented on #1124
Using an example Ubuntu 20.04 LTS image with cloud-init 21.3 and the upstream `VMware` data source as seen in [vmware-samples/packer-examples-for-vsphere](https://github.com/vmware-samples/packer-examples-for-vsphere), I was able to sucessfully use the following to pass the `guestinfo.*` configurations on the **_first_** apply.

`metadata`

[code]

`userdata`

[code]

`main.tf`

[code]

If the iss

[2022-02-07 23:17] tenthirtyam commented on #919
Marking this issue as resolved based on the [previous scenario testing](https://github.com/hashicorp/terraform-provider-vsphere/issues/919#issuecomment-955051350) on `2021-11-29` and repeated with the same results on `2021-02-07`.

If the issue persists with the solution provided and [the latest version of the provider](https://github.com/hashicorp/terraform-provider-vsphere/releases/latest), plea

[2022-02-07 23:17] #919 closed

[2022-02-08 00:08] dandunckelman commented on #1476
@tenthirtyam I'm testing on the latest version. If you specify a disk w/ its `unit_number` set to 16, 17, or 18, then you get the error saying that unit number of **SCSI bus 1 is in use**.

[2022-02-08 13:49] #1239 closed

[2022-02-08 13:56] tenthirtyam commented on #1225
Hi @darthVikes,

This issue is rather stale but checking in to see if you were able to derive a solution for your use case.

All disks would be added at the creation of the resource or with subsequent applies of the plan if the disks change vs one-by-one.

Ryan

[2022-02-08 14:02] #1223 closed

[2022-02-08 14:43] tenthirtyam commented on #1195
Hi @adarobin - are you still seeing this issue in latest provider and TF?

Ryan

[2022-02-08 15:18] tenthirtyam commented on #1166
Hi @ppiccolo,

Using an example Ubuntu 20.04 LTS image with cloud-init 21.3 and the upstream `VMware` data source as seen in [vmware-samples/packer-examples-for-vsphere](https://github.com/vmware-samples/packer-examples-for-vsphere), I was able to successfully use the following to pass the `guestinfo.*` configurations on the **_first_** apply and retain in tfstate.

My results are similar to those

[2022-02-08 16:47] tenthirtyam commented on #1548
Verifying that this is still an issue in the latest (v2.0.2) version of the provider and needs further triage and prioritization.

@appilon - I can review this one with you directly.

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.

[2022-02-08 16:52] tenthirtyam commented on #1536
Marking this issue as `pending-closure` based on [previous comment](https://github.com/hashicorp/terraform-provider-vsphere/issues/1536#issuecomment-994096944) during reproduction attempts on local, NFS, and vSAN.

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.

[2022-02-08 17:48] tenthirtyam commented on #1463
I'm not sure I'm following the concern raised here @shibumi.

In a reproduction, I have a virtual machine resource running Ubuntu 20.04 LTS with a `guest_ip_addresss` list of:

[code]

If I manually update the guestOS and change the IP to `172.16.11.202`, then wait for this to be picked up by open-vm-tools, then the following is seen in the next plan, which matches the pattern reported in the desc

[2022-02-08 17:58] tenthirtyam commented on #1351
@appilon I included a correction for this one in https://github.com/hashicorp/terraform-provider-vsphere/pull/1502. I think I can cherry-pick this one out and address this one in a separate pull to get this one resolved sooner.

Ryan

[2022-02-08 18:54] #1351 closed

[2022-02-08 23:09] tenthirtyam commented on #1558
Hi @benfairclough,

I tested this scenario today in my environment with the following:

- Terraform v1.1.5
- Terraform Provider for vSphere v2.0.2
- vSphere v7.0.3(c)

`main.tf`

[code]

[code]

Below you can see it moving far beyond 1% ......

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/7771363/153089808-f3d75aa0-c3f3-4705-9145-3db4e9a7b669.png">

And here it has

[2022-02-08 23:52] tenthirtyam commented on #1510
Hi @elifsamedin and @TimVerbois,

This is expected behavior for the computed values.

Notice that _**`"No changes. Your infrastructure matches the configuration. Your configuration already matches the changes detected above. If you'd like to update the Terraform state to match, create and apply a refresh-only plan:
  terraform apply -refresh-only"`**_ is displayed.

If you run `terraform apply -re

[2022-02-08 23:53] tenthirtyam commented on #1510
Duplicate: #1463

[2022-02-09 01:15] tenthirtyam commented on #980
To confirm, this issue is seen when moving between clusters, not just between datastores, correct?

**Ryan Johnson**
Staff II Solutions Architect, VMware Inc.

[2022-02-09 03:47] tenthirtyam commented on #1574
Marking as `pending-closure`.

Please comment if the dynamic block example sed in the [community module](https://github.com/Terraform-VMWare-Modules/terraform-vsphere-vm/blob/master/main.tf) did not help.

[2022-02-09 04:05] tenthirtyam commented on #1213
This can be addressed with a `depends_on` added to the resource mapped to the `vsphere_virtual_disk` resources.

During the destroy, the `vsphere_virtual_machine` would be destroyed first followed by the resources on which it had a dependency. This is why the second pass of the plan worked.

For example:

[code]

[2022-02-09 04:05] #1213 closed

[2022-02-09 04:08] tenthirtyam commented on #1307
Marking as `pending-closure`. This is often mitigated with the sleep timer.

Here's a [link](https://github.com/hashicorp/terraform-provider-vsphere/issues/1228#issuecomment-1026292915) to a recent example in another issue.

**Ryan Johnson**
Staff II Solutions Architect
Cloud Infrastructure Business Group, VMware

[2022-02-09 04:22] tenthirtyam commented on #1557
Similar to #1385 in terms of potential enhancement (customization script) and use of cloud-init.

[2022-02-09 04:23] tenthirtyam commented on #1385
Similar to #1557 in terms of potential enhancement (customization script) and use of cloud-init.

Marking this one as closed to track in the latest issue.

[2022-02-09 04:23] #1385 closed

[2022-02-09 04:33] tenthirtyam commented on #1503
@appilon, do you have any thoughts on why the order could be lost in the above?

Ryan

[2022-02-09 04:37] tenthirtyam commented on #1490
Hi @xxzk, checking in to see if the replies above helped provide you a path forward for your issue.

Marking as `pending-closure`.

[2022-02-09 07:39] Tigershark2005 commented on #1574
This is how I did it:
`dynamic "disk" {
    for_each = var.vsphere_disks
    content {
        label = "disk${disk.value["number"]}"
        size = disk.value["size"]
        unit_number = disk.value["number"]
    }
}`
This lets you send in as many disks as you want to your module. What I send in is:
`vsphere_disks = [
    {
        number = 0
        size = 75
    },
    {
        number = 1

[2022-02-09 07:54] Tigershark2005 commented on #1476
While there is a `controller_type` parameter I don't see any option to set a disk to be on a certain SCSI controller. I'm guessing you are creating 4 SCSI controllers but no disks are being assigned to that second one, maybe that's where the error for SCSI bus 1 is. I'd be curious if you had 4 disks and set `controller_type = "scsi"` for each if they would be 0:0 through 0:4 or if they would be 0:

[2022-02-09 08:06] Tigershark2005 opened #1578 "Multiple disks specified in clone don't work and VM doesn't power up"
### Terraform Version

v1.1.4

### vSphere Provider Version

2.0.2

### vSphere Version

7.0.3, also tried on 6.7

### Affected Resource(s)

`vsphere_virtual_machine`

### Terraform Configuration Files

[code]
I'm using a dynamic block but the tf plan shows the expected attributes that will be used. Disk size, provisioning style, all parameters are correct, so it's nothing to do with the dynamic b

[2022-02-09 12:54] tenthirtyam commented on #1578
Taking a _very_ quick look at the issue, I see that `firmware` and `enable_secure_boot` are not defined, both of which could be pulled from the template with a data source (`data.vsphere_virtual_machine.template.firmware`). If your template uses EFI / EFI Secure Boot, but these are not defined / sourced it will fail to boot as it defaults to BIOS.

Ryan

[2022-02-09 15:30] tenthirtyam commented on #1307
Please add a reaction to the other enhancement PR as there are currently none (and no linked enhancement issue)

Ryan

[2022-02-09 15:34] tenthirtyam commented on #1307
Set to `needs-triage`.

Ryan

[2022-02-09 15:36] tenthirtyam commented on #1307
re: 1417, I see you closed the related issue. I'm going to reopen and properly link these.

[2022-02-09 15:39] tenthirtyam commented on #1136
Reopening this issue as it's not yet merged. Once merged, this issue with be closed by the linked pull request.

**Ryan Johnson**
Staff II Solutions Architect | VMware, Inc.

[2022-02-09 15:51] Tigershark2005 commented on #1578
No, the VM creates fine with one disk. We've never set those parameters and they're carried over anyway with the clone.

[2022-02-09 16:21] Tigershark2005 commented on #1578
<script src="https://gist.github.com/Tigershark2005/440f44c987ac043368beaeccdf3683e5.js"></script>

[2022-02-09 19:12] appilon commented on #1463
@tenthirtyam Is correct that this is actually expected behavior, Terraform has detected drift with computed attributes and suggests a refresh to synchronize state. I have also personally found the messaging in this case to be initially misleading by rendering a diff the user and having the "no change" messaging fall so low in the messaging.

I have opened an issue with [Terraform Core](https://git

[2022-02-09 19:12] #1463 closed

[2022-02-09 19:19] tenthirtyam commented on #1510
@appilon has shared confirmed that this is the expected behavior in the #1463, but he has raised a UX issue with Terraform core regarding the CLI presentation.

https://github.com/hashicorp/terraform-provider-vsphere/issues/1463#issuecomment-1034103856

Marking as closed.

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc

[2022-02-09 19:19] #1510 closed

[2022-02-09 23:13] #1243 closed

[2022-02-09 23:16] #1548 closed

[2022-02-09 23:24] tenthirtyam commented on #1191
Good point, @appilon - I'll add this to my list of those to review.

Ryan

[2022-02-10 04:52] benohara commented on #1573
Can see hoto get the enhancement template to complete.

Essentially fix this 7 year old bug https://github.com/hashicorp/terraform/issues/2430

[2022-02-10 13:34] #1558 closed

[2022-02-11 00:06] tenthirtyam commented on #1459
@appilon , I think this would be considered expected behavior. Let me know if you agree.

Let me see if I can explain this one.

If the virtual machine template has an existing annotation (e.g. "Built by Packer") then this will be the initial annotation unless _defined_ by the `annotation` argument in the resource.

If no annotation argument is provided, during each plan/apply it will show that a

[2022-02-11 03:08] #1290 closed

[2022-02-11 19:58] tejavar opened #1582 "Provider panic when `resource_pool_id` not returned"
### Terraform Version
terraform 1.1.4

### vSphere Provider Version
Product Version: vsphere v2.0.2

### vSphere Version

### Affected Resource(s)
Issue occurred here: https://github.com/hashicorp/terraform-provider-vsphere/blob/master/vsphere/resource_vsphere_virtual_machine.go#L447

Segmentation violation is attempting to access something that has not been allocated yet and it seems to be the re

[2022-02-11 20:06] tenthirtyam commented on #1582
@tejavar - was the following provided in the original configuration:

[code]

This would be required to support the following:

[code]

Ryan

[2022-02-11 20:10] tejavar commented on #1582
Here is the vars.tf

[code]

[2022-02-11 20:36] iBrandyJackson opened #1584 "Update `master` branch to `main`"
Update `master` branch to `main`  as per our company initiative: https://discuss.hashicorp.com/t/inclusive-language-changes/12797

[2022-02-11 21:08] tenthirtyam commented on #1582
The following full example takes the root resource pool path (`/<datacenter>/host/<clusterName>/Resources/`" and single plan dependencies into consideration.

`variables.tf`

[code]

`main.tf`
[code]

[2022-02-11 21:14] tenthirtyam commented on #1584
Very minor post change updates needed to links with the following:

`https://github.com/hashicorp/terraform-provider-vsphere/blob/master/`.

Simple search/replace. 🙃

Ryan

[2022-02-11 21:28] tenthirtyam commented on #1556
Marking this issue as closed based on the comments earlier in the thread.

If the issue persists with the latest version of the provider, please open a new issue and reference this originating issue.

**Ryan Johnson**
Staff II Solutions Architect, VMware

[2022-02-11 21:28] #1556 closed

[2022-02-11 21:29] tenthirtyam commented on #1337
Marking this issue as closed based on the comments and solution provided earlier in the thread.

If the issue persists with the latest version of the provider, please open a new issue and reference this originating issue.

**Ryan Johnson**
Staff II Solutions Architect, VMware

[2022-02-11 21:29] #1337 closed

[2022-02-11 21:29] #1452 closed

[2022-02-11 21:31] tenthirtyam commented on #1225
Marking this issue as closed as this use case is not addressable by Terraform or the provider.

**Ryan Johnson**
Staff II Solutions Architect, VMware

[2022-02-11 21:31] #1225 closed

[2022-02-11 21:33] tenthirtyam commented on #1536
Marking this issue as closed based on the comments provided earlier in the thread.

If the issue persists with the latest version of the provider, please open a new issue and reference this originating issue.

**Ryan Johnson**
Staff II Solutions Architect, VMware

[2022-02-11 21:33] #1536 closed

[2022-02-11 21:35] tenthirtyam commented on #1552
Marking this issue as closed based on the comments and solution (use of `depends_on = [ ]`)provided earlier in the thread.

If the issue persists with the latest version of the provider, please open a new issue and reference this originating issue.

**Ryan Johnson**
Staff II Solutions Architect, VMware

[2022-02-11 21:35] #1552 closed

[2022-02-11 22:57] tenthirtyam commented on #1503
Hi @CSimpiFoN,

I attempted to run a reproduction of this reported issue a testbed today, but I was unable to observe the reported behavior with the same configuration. All tests ran with the expected results - `vmnic1` and  `vmnic4` remained in the same order with every apply.

[code]

Basic example:

[code]

Are you still experiencing this issue?

**Ryan Johnson**
Staff II Solutions Architect |

[2022-02-11 23:04] tenthirtyam commented on #1498
`resource/virtual_host` : Added support add tags to hosts. (GH-1499]

[2022-02-12 11:02] tenthirtyam commented on #1195
Marking this issue as closed as there is a workable solution with the provisioner.

From experience in both nested and physical all-flash vSAN deployment, this is a common requirement to tag SSDs as capacity flash. In fact, it's a requirement in Cloud Foundation before running Cloud Builder if the cache and capacity are the same size.

Ryan

[2022-02-12 11:09] tenthirtyam commented on #1257
Hey Dean,

Have you tried this with the latest provider **but** with using the new `vsphere_ovf_vm_template` data source?

Ryan

[2022-02-12 22:40] tenthirtyam commented on #922
Marking as closed based on the previous comments and solutions provided in the thread ([1](https://github.com/hashicorp/terraform-provider-vsphere/issues/922#issuecomment-1021721476)) ([2](https://github.com/hashicorp/terraform-provider-vsphere/issues/922#issuecomment-1021725156)).

If the issue persists with the solution provided and [the latest version of the provider](https://github.com/hashico

[2022-02-12 22:40] #922 closed

[2022-02-12 22:45] tenthirtyam commented on #1261
Marking as closed based on the age of the reported issue.

If the issue persists with [the latest version of the provider](https://github.com/hashicorp/terraform-provider-vsphere/releases/latest), please open a new issue and reference this issue for additional context.

If you need some examples for building Linux virtual machine images with Packer and the `vsphere-iso` builder, I recommend taking

[2022-02-12 22:45] #1261 closed

[2022-02-12 23:08] tenthirtyam commented on #1524
@appilon, I'm wondering if this issue and #1262 could actually addressed jointly.

[2022-02-12 23:39] adarobin commented on #1195
@tenthirtyam I haven’t been able to test this as my home lab is a bit of a mess right now. The workaround doesn’t work with anything newer than 7.0 Update 1 as newer releases have SHA-1 disabled for SSH by default.

[2022-02-13 01:20] adarobin commented on #1195
@tenthirtyam I’m ok with this being closed, I just wanted to call out that the workaround doesn’t work for 7.0 U2+ if other folks run into it. It should work once https://github.com/hashicorp/terraform/issues/30134 is fixed.

[2022-02-13 01:39] adarobin commented on #1540
@tenthirtyam Horizon exposes those values with APIs so I ended up implementing data sources in my provider. If you aren’t managing the resources with the vSphere provider then using the data source in my Horizon provider probably makes more sense as you won’t have to auth to vCenter.

I do have a PR I could submit for the vm data source - the amount of code was trivial and the tests should be easy

[2022-02-13 01:52] tenthirtyam commented on #1195
Thanks for the update, Adam.

[2022-02-13 01:52] #1195 closed

[2022-02-13 01:55] tenthirtyam commented on #1540
Sounds good, Adam. Let us know if you want to submit a pull request and even if you like to have a discussion beforehand.

Have a great weekend and thanks for being a member of the provider community.

Ryan

[2022-02-13 11:25] wocomwouter commented on #1534
Hi @tenthirtyam, your comment was very usefull - we implemented a workaround where we create 2 accounts - one for datacenter 1, the other one for datacenter 2 and used these in our specific pipelines and did some magic on the global permissions & vcenter level.  I can confirm that this workaround works, but it is not optimal of course ...

[2022-02-13 23:12] tenthirtyam commented on #1380
This would be a case for the addition of a `virtual_machine_video_subresource` that could be used by the the `vsphere_virtual_machine` resource.

##Community Note:

Please vote on this issue by adding a 👍 reaction to the original issue description to help the maintainers prioritize this request.

Ryan

[2022-02-13 23:16] tenthirtyam commented on #1355
This enhancement should only be considered once ESXi for ARM is productized and graduates from Fling status.

**Ryan Johnson**
Staff Ii Solutions Architect | VMware, Inc.

[2022-02-13 23:38] tenthirtyam commented on #1209
@adarobin, would you mind confirming that the scope of your enhancement request was  addressed in #1339?

Ryan

[2022-02-14 00:18] tenthirtyam commented on #1395
@appilon amd @tejavar, could either or both of you weight in on this one. I'm of the opinion that this would be out of scope for the provider.

Ryan

[2022-02-14 11:19] Kishanbhatk opened #1587 "Unable to upload the vmdk file when the destination folder doesnt exist"
### Community Guidelines

- [X] I have read and agree to the [HashiCorp Community Guidelines ](https://www.hashicorp.com/community-guidelines).
- [X] Vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue initial description to help the maintainers prioritize.
- [ ] Do not leave "+1" or other comment

[2022-02-14 12:03] tenthirtyam commented on #1587
Hi @Kishanbhatk,

This is a known issue and is resolved in pull request #1409. The fix will be in the next release of the provider.

Ryan

[2022-02-14 16:47] iBrandyJackson commented on #1584
ℹ️
https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch#updating-a-local-clone-after-a-branch-name-changes

[2022-02-14 22:31] dhekimian commented on #1189
@tenthirtyam Any chance you could take a look at this and try to recreate using the EMC Isilon VM linked in the comment above? Looks like it might be quick to fix.

[2022-02-15 00:14] tenthirtyam commented on #1189
I've added this to one of the milestones for triage.

Regarding IDE seen in the responses quoted below (@aloforte @ssodhi @krunal-git) did these VM imports have no CD-ROM?Currently `ide 0:0` is currently blanker reserved for the CD-ROM and might be the reason it's reporting the error.  See GH-1354.

and

[2022-02-15 00:20] tenthirtyam commented on #1354
The provider should **only** enforce `ide 0:0` as reserved for the **only** when a CD-ROM exists in the configuration. Otherwise it should allow the use of `ide 0:0`.

This would match the vSphere Client behavior.

**CD-ROM Attached**:

<img width="1149" alt="image" src="https://user-images.githubusercontent.com/7771363/153968789-9ef9b324-920c-4eb7-bad4-51e8cc677a62.png">

**NO CD-ROM Attached**:

[2022-02-15 00:21] appilon commented on #1445
I am inspecting the changes in that commit now and it would appear that "ALL" never worked. There was constants for associable_types at some point (and were removed when a linter identified they were never referenced in the code). From what I can tell, vsphere expects when "ALL" is selected in the UI that a set of all the types is passed programmatically (that is, the UI's ALL is merely sugar for

[2022-02-15 00:59] dhekimian commented on #1189
@tenthirtyam The EMC Isilon VM (https://downloads.emc.com/usa/Isilon/EMC_Isilon_OneFS_9.1.0.0_Simulator.zip) that encountered this error does not have a CD-ROM. This is a common use case for simulating a physical hardware storage environment where the OS is booted off a Compact Flash/SD card so it doesn't interfere with the SCSI controller. The EMC Isilon VM OVA is ~300mb making it an easy way to

[2022-02-15 01:20] dhekimian commented on #1189
While reviewing the code, I noticed the same check `if ct != SubresourceControllerTypeSCSI` is done in two places with slightly different error messages:

- In [DiskCloneValidateOperation (L704-L809)](https://github.com/hashicorp/terraform-provider-vsphere/blob/master/vsphere/internal/virtualdevice/virtual_machine_disk_subresource.go#L704-L809)
  - See Line: 804 (_Interesting comment at lines 797-

[2022-02-15 01:24] tenthirtyam commented on #1189
Yep! I'm quite familiar with the this virtual storage appliance as well some of the others (e.g. Dell EMC UnityVSA). I'll take a look at a reproduction with the Isilon OVA soon.

**Ryan Johnson**
Staff II Solutions Architect | VMware, Inc.

[2022-02-15 01:30] tenthirtyam commented on #1189
Indeed, I was reviewing the same earlier. It needs to be triaged since all but NVME should be supported as I recall. _(The latter being an existing enhancement request.)
_
Ryan

[2022-02-15 02:00] appilon commented on #1445
I can't find within govmomi the list of tag types that the system understands, if anyone can link to it in powercli or govmomi please link it.

[2022-02-15 02:40] tenthirtyam commented on #1445
Let me know if the [Tagging Tag Association APIs](https://developer.vmware.com/apis/vsphere-automation/latest/cis/tagging/tag_association/) docs help.

Ryan

[2022-02-15 03:05] tenthirtyam commented on #1189
After some addition code review, it does appear that these are the likely pointers to the issue and that these were not completed lifted as a part of #1118.

Ryan

[2022-02-15 19:56] tenthirtyam commented on #1459
After further investigation with Alex, we've tested a fix and I'll be submitting a pull request for inclusion in the next release.

Ryan

[2022-02-15 21:24] tenthirtyam commented on #1124
Marking this issue as closed based on the [previous recommendations](https://github.com/hashicorp/terraform-provider-vsphere/issues/1124#issuecomment-1032020312)

If the issue persists with the solution provided and [the latest version of the provider](https://github.com/hashicorp/terraform-provider-vsphere/releases/latest), please open a new issue and reference this issue for additional context.

[2022-02-15 21:24] #1124 closed

[2022-02-15 21:26] tenthirtyam commented on #1166
Marking this issue as closed based on the [previous comment](https://github.com/hashicorp/terraform-provider-vsphere/issues/1166#issuecomment-1032722840).

If the issue persists with the solution provided and [the latest version of the provider](https://github.com/hashicorp/terraform-provider-vsphere/releases/latest), please open a new issue and reference this issue for additional context.

**Ryan

[2022-02-15 21:26] #1166 closed

[2022-02-15 21:55] tenthirtyam commented on #1266
Marking this issue as closed based on the previous comment and and addition set of tests today where I was unable to reproduce the issue for the first apply.

[code]

[code]

[code]

Result: VM was still powered off.

If the issue persists with the solution provided and [the latest version of the provider](https://github.com/hashicorp/terraform-provider-vsphere/releases/latest), please open a new

[2022-02-15 21:55] #1266 closed

[2022-02-15 22:27] tenthirtyam commented on #1445
Here you go @appilon. I just scraped it in a browser session/\.

[code]

[2022-02-16 01:24] tenthirtyam commented on #1472
@kumarom was this resolved upstream in vmware/govmomi?

Ryan

[2022-02-16 02:39] #1459 closed

[2022-02-16 05:35] Kishanbhatk commented on #1587
Hi I picked the latest code changes and built a plugin out of it , this issue is thrown only when the destination directory doesn't exist , It will work fine when the destination directory exist . This issue is only seen in vmdk

[2022-02-16 05:45] tenthirtyam commented on #1587
You can also add `create_directories = true` as an option in the event the directories may not already exist.

Ryan

[2022-02-16 06:03] Kishanbhatk commented on #1587
But create_directories option will throw error if it already exists , Need a functionality in such a way that directory needs to be created only if it doesnt exist otherwise it should not create . For time being I have modified the create_directories functionality according to my convenience to upload vmdk https://github.com/Kishanbhatk/terraform-provider-vsphere/commit/cea3a8ecae6f4aa16151beb9945

[2022-02-16 06:06] Kishanbhatk commented on #1587
for ISO uploads I dont require create_directories option it will successfully upload with the latest change, but this issue is only seen in vmdk uploads with the latest change

[2022-02-16 06:14] tenthirtyam commented on #1587
Reopening to review again before next release.

Ryan

[2022-02-16 11:26] kumarom commented on #1472
@tenthirtyam Nope. I have no updates from them.

[2022-02-16 12:22] rutgerblom opened #1589 "`r/vsphere_nas_datastore` not mounted to additional hosts as day-two"
### Community Guidelines

- [X] I have read and agree to the [HashiCorp Community Guidelines ](https://www.hashicorp.com/community-guidelines).
- [X] Vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue initial description to help the maintainers prioritize.
- [X] Do not leave "+1" or other comment

[2022-02-16 12:45] tenthirtyam commented on #1589
Have you tried it similar to the following example:

https://github.com/tenthirtyam/terrafom-examples-vmware/tree/main/vsphere/vsphere-storage-nfs-datastore

Ryan

[2022-02-16 13:21] tenthirtyam commented on #1589
It's quite possibly a bug, or an implementation details of the original developers did not consider.

Let us know the results and we will prioritize as a bug or enhancement if that's the case.

Ryan

[2022-02-16 17:38] rutgerblom commented on #1589
I tried using the "for each" method you suggested but the result is the same. Terraform applies the changes in its state but nothing happens. The next time I run terraform plan/apply it wants to commit the same changes again.
It doesn't look like the vCenter API is contacted when running this or at least there is nothing in the hosts' event logs that indicates something is happening.

Thank you.

[2022-02-16 23:26] tenthirtyam commented on #1574
Marking this issue as closed based on the previous comments and suggested solutions.

If the issue persists with the solution provided and [the latest version of the provider](https://github.com/hashicorp/terraform-provider-vsphere/releases/latest), please open a new issue and reference this issue for additional context.

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.

[2022-02-16 23:26] #1574 closed

[2022-02-16 23:28] tenthirtyam commented on #1437
Marking this issue as closed based on the suggested solution and time since last response.

If the issue persists with the solution provided and [the latest version of the provider](https://github.com/hashicorp/terraform-provider-vsphere/releases/latest), please open a new issue and reference this issue for additional context.

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.

[2022-02-16 23:28] #1437 closed

[2022-02-16 23:30] tenthirtyam commented on #1209
Marking this issue as closed based on the this being addressed in https://github.com/hashicorp/terraform-provider-vsphere/pull/1339.

If the issue persists with the solution provided and [the latest version of the provider](https://github.com/hashicorp/terraform-provider-vsphere/releases/latest), please open a new issue and reference this issue for additional context.

**Ryan Johnson**
Staff II So

[2022-02-16 23:30] #1209 closed

[2022-02-16 23:32] tenthirtyam commented on #1439
Marking this issue as closed based on the staleness of the issue and no community reactions. 👍🏻 👎🏻

If the issue persists with the solution provided and [the latest version of the provider](https://github.com/hashicorp/terraform-provider-vsphere/releases/latest), please open a new issue and reference this issue for additional context.

**Ryan Johnson**
Staff II Solutions Architect, VMware, Inc.

[2022-02-16 23:32] #1439 closed

[2022-02-17 02:48] tenthirtyam commented on #1326
Marking as `pending-closure`.

Ryan

[2022-02-17 02:51] tenthirtyam commented on #1370
Marking as `pending-closure`. More context is needed to support any desired enhancements requests.

Ryan