[2017-11-15 01:47] #22 closed

[2017-11-15 01:48] lynic commented on #156
okay, just check the [code](https://github.com/terraform-providers/terraform-provider-vsphere/blob/f84f2e6024f99b4da4994b938c488c90a26e865f/vsphere/resource_vsphere_virtual_machine.go#L1938), and I found that I must specific "datacenter" in vsphere_virtual_machine, after doing that, it can find the folder.

[2017-11-15 10:01] sofixa opened #240 "More information on the new virtual_machine resource"
Hi, @vancluever . How have you been?

I've noticed that in #212 you mentioned the new virtual machine resource and that it will be out soon, so i have some follow up questions, most notably:

* would it be possible to get an overview of its functionalities in the v1 and the potential future roadmap(e.g. if modification of VMs isn't possible in v1, is it in the roadmap? etc. etc. etc.) ?

* do you

[2017-11-15 10:12] javefang commented on #182
Agreed and this is our use case. We do immutable infrastructure, meaning we always build a new template using Packer when change is required (e.g. upgrading binary version) Currently changing the template does show change but Terraform does not seem to behave correctly.

[2017-11-15 14:41] vancluever commented on #240
Hi @sofixa!

I'm excited to say that the PR for the VM resource should be following very soon - probably in the next couple of days, as porting the existing tests, adding a couple of more tests, and documentation are the only remaining tasks before we start the review process for shipping.

You can see the branch here: https://github.com/terraform-providers/terraform-provider-vsphere/tree/f-vm-res

[2017-11-15 20:19] jbraswell commented on #220
Just ran into this as well. Any idea when the refactor of the provider will be available?

[2017-11-16 13:12] marekmrowca commented on #57
Hi,
are there any updates on this issues? I am using v0.10.8 and there is still the same error showing up when trying to import:
Error importing: 1 error(s) occurred:
... resource vsphere_virtual_machine doesn't support import

Best regards

[2017-11-17 07:21] perlei commented on #231
We are getting this on ubuntu 16.04, but only with ipv6 only vm's.
i tried setting the wait_for_guest_net = false, but then you only get a more general "timeout".

As a workaround i changed this line : https://github.com/terraform-providers/terraform-provider-vsphere/blob/master/vsphere/virtual_machine_helper.go#L141  to return false, instead of the error. This make it "work" for us (using the tim

[2017-11-17 15:28] jason-azze commented on #42
I would like to give a hearty second to this enhancement request, and I can cite a strong technical motivation.

If I use TF to provision a Windows 7 machine with, let's say, 16 vCPUs -- I'll end up with 16 sockets with 1 core each. The problem is, the Windows 7 OS can only see 2 sockets and therefore only 2 of those cores. (I just discovered this the hard way when a Windows compile project took 1

[2017-11-17 16:52] vancluever commented on #231
@perlei - when you set `wait_for_guest_net = false`, what is the timeout you are getting instead?

You should not have to hack the waiter, as setting it to false skips it altogether, as seen [here](https://github.com/terraform-providers/terraform-provider-vsphere/blob/master/vsphere/resource_vsphere_virtual_machine.go#L739) and [here](https://github.com/terraform-providers/terraform-provider-vsphe

[2017-11-17 17:11] ranjanm1 commented on #55
Hi, Is there a solution for this issue? I am using Terraform v0.10.8 with vsphere version 6.0 and seeing the exact same error. I have even created a Resource pool and wanted to see if that works, it is still same.

using this : resource_pool = "<my_cluster_name>/Resources/<my_resource_pool_name>"

[2017-11-17 20:09] rowanjacobs opened #243 "Support VAppConfig for vsphere_virtual_machine resource"
Hi,

We'd like to automate deploying a template that has some VAppConfig values, including IP, DNS server, gateway, etc. set, but it looks like the `vsphere_virtual_machine` resource currently doesn't support configuring those values.

We'd like to PR this support into the provider. We were thinking the config in the resource might look like this:
[code]

We wanted to get some feedback on this bef

[2017-11-17 22:32] vancluever commented on #243
Hey @rowanjacobs - thanks for checking in before starting work on this!

I have an incoming PR for the new `vsphere_virtual_machine` resource. Part of this work is a large re-organization of higher-level VM lifecycle config stuff like cloning and customization to dedicated blocks like you have have laid out above, so I think the config structure is on the right track.

However, I'm curious to the

[2017-11-17 22:52] vancluever commented on #240
Hey anyone watching this, #244 is now in. If you are curious about what is going into the new resource and what you might want to do to start preparing for it, feel free to look the full documentation, which has been linked in the PR as well.

Thanks!

[2017-11-17 22:52] rowanjacobs commented on #243
Our main use case is to deploy an existing template with configurable IP address, gateway, DNS, and NTP options.

Having spiked out some changes to the provider to add values specific to our vSphere cluster for those vAppConfig options, we were able to get the template working after `terraform apply` without any additional configuration. I admit I don't understand that much about vApps but that se

[2017-11-17 22:54] vancluever commented on #235
Hey @jason-azze, yeah that sounds about right and makes sense (if you don't have anything cached it would need to grab something to cache).

I think we are all okay here, seeing as there is now clarification on the behaviour of `terraform init`, so I'm just going to close this now.

Thanks!

[2017-11-17 22:54] #235 closed

[2017-11-18 00:44] vancluever commented on #243
Hey @rowanjacobs, when you say "template" - do you mean a traditional template, OVF file, or VM from a vApp?

If it's a regular template, we do support customization currently - it's mainly coupled to the entire resource. It's being re-factored in #244 and moved to its own dedicated section - you can see the PR for more details.

For OVFs, we do plan on supporting this eventually. The implementati

[2017-11-18 00:52] vancluever commented on #228
Thanks @mas9612,

We have a new version of the resource going in that makes customization a lot more explicit and might help with this.

Also, if you are still having issues, you might want to check for [CentOS related issues on open-vm-tools](https://github.com/vmware/open-vm-tools/issues?utf8=%E2%9C%93&q=is%3Aissue%20centos%20is%3Aopen%20) and see if any of those match the problem you are experi

[2017-11-18 00:55] vancluever commented on #227
Hey @pryorda - #244 is in which is the rewrite, we will be reviewing it soon and if all goes well I'm hoping to have it merged next week. In the meantime you can check out the PR for the new docs (linked in the PR) and check out the tests to see how we manage disks now. There are tests that do things like remove the middle disk in say an order of three and then verify to make sure the other two ar

[2017-11-18 01:00] vancluever commented on #221
Hey @JamesTGrant, just FYI we have a new PR coming in soon which should address these issues.

After that is in I will probably close this issue on advice that you try out the new version of the resource, or have you confirm if building from master fixes things before closing (if it's possible for you to do so).

Stay tune on #244 which should be in in the next week or two (thanksgiving schedules

[2017-11-18 01:05] vancluever commented on #224
Hey @tmlink, we actually have #244 in now which is a complete rewrite of the VM resource. In the new version we move all customization options to a new `customize` block, which never has values written in from running VM state - it's basically a fire-and-forget block that forces a new resource if it's never changed. So the spurious diff stuff that you are seeing should go away.

For more details a

[2017-11-18 01:08] vancluever commented on #226
Hey @albertvdv, since we haven't heard from you in a bit and this is a question-related issue, I am going to close this one out. If you have problems carrying out the recommended action, feel free to open another issue with the details.

Thanks!

[2017-11-18 01:08] #226 closed

[2017-11-18 02:04] rowanjacobs commented on #243
We deploy from an OVF file. Do you have a roadmap for OVF support, or an idea of what the UI for VM configuration or `extra_config` will look like?

[2017-11-18 03:22] vancluever commented on #243
@rowanjacobs - interesting - so do you upload the OVF first and then clone it?

You can view #244 for links to the docs. `extra_config` is documented there, and is pretty much a key/value interface to the VM's advanced configuration options.

The exact options necessary will vary depending on the OVF you are deploying, I would imagine, although there might be common ones for vApps.

As far as the

[2017-11-19 16:27] surajsub commented on #4
Anybody know if this issue was fixed in 0.10.x version ? I'm having this issue as well

[2017-11-19 17:02] vancluever commented on #4
Hey @surajsub, I would imagine, more than likely, that this is still an issue. However, with the work going on in #244, this will be solved as this is one of the very specific things that we are targeting in the new VM resource. The ability to place different disks on different datastores has been specifically added and tested, in addition to the ability to use storage vMotion to migrate a single

[2017-11-20 09:13] perlei commented on #231
"You should not have to hack the waiter,"
Well we do what we can to keep our self floating. We recently had problems with DNS on our network, and on version 0.2.2 where we do not see this problem we instead have problems with terraform hanging. So we needed to upgrade. And without hacking the waiter, we are unable to create IPv6 enviroments at all, and that is not acceptable. Now its atleast worki

[2017-11-20 09:21] lynic commented on #231
setting "wait_for_guest_net = false" didn't work for me, but after   I update my vcenter version ,  this problem  gone away.

[2017-11-20 15:59] vancluever commented on #231
@perlei the IPv6 part is interesting and good to know - are you working in an IPv6-exclusive environment? I see that you don't have any IPv4 data in your output.

I will add an IPv6-only test today and see if I can reproduce.

[2017-11-20 18:57] kaizoku0506 commented on #43
I am also experiencing this issue.  I am using Terraform 11.0 with terraform-provider-vsphere version 0.4.2 running against vSphere 6.0.0.

In this case, I have told TF to create 4x VMs called "Terraform-Magic-VM-${count.index}"  The result is:
[code]

I did build the plugin from source immediately before running this most recent test.

[2017-11-20 22:35] vancluever commented on #231
@perlei - just an update on my testing. I've uncovered what's more than likely the root cause here. I was able to reproduce this with the default timeout that we have in the guest network waiter (and the only setting in v0.4.2, but in the next version the timeout will be configurable).

The issue stems from the fact that at minimum, you have to have DHCP in the IPv4 settings in the customization s

[2017-11-21 13:13] perlei commented on #231
We never use any dhcp at all for our enviroments. We use terraform to spawn up test enviroments. So enviroments use ipv4 some ipv6 and some mixed. we dont use dhcp in our vm's at all, we want control over what enviroments have what ip.

[2017-11-21 16:46] vancluever commented on #231
@perlei - in this case, your two course of actions were the ones I mentioned - you will either need to disable the waiter or increase the timeout past what the DHCP timeout on your own machine, unless you have set up the template in a way that allows the machine to get past the initial DHCP timeout on launch so that VMware tools launches and starts reporting IPs to the vSphere. You cannot set IPv4

[2017-11-21 20:41] jason-azze opened #247 "Enhancement - A resource pool change should not force a new TF resource"
### Terraform Version

Terraform v0.10.8

### vSphere Provider Version

0.4.2

### Affected Resource(s)

Please list the resources as a list, for example:
- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]
where `resource_pool_designator` is
[code]

### Desired Behavior

Moving to a resource pool should be a "change". (If you did this in the vSphere Web Client, you could multis

[2017-11-21 21:10] vancluever commented on #247
Hey @jason-azze, #244 includes the ability to do vMotion on resource pools. See the [virtual machine migration](https://github.com/terraform-providers/terraform-provider-vsphere/blob/f-vm-resource-refactor/website/docs/r/virtual_machine.html.markdown#virtual-machine-migration) section.

I think the fact that resource pool changes are permitted too is an important note. I am going to review the cod

[2017-11-21 22:54] tdanner01 commented on #97
Hi @vancluever,
I too, am trying to leverage the vCenter 'Customization Spec'. I'm attempting this on a Windows Guest OS after spinning a VM from a template. The objective is to customize using an existing customization specification to do the following:
Apply a proper Windows License - 'Product Key' and 'Set the Licensing Mode'
Set the local Administrator pw
Add the VM's Guest OS (Windows Host) t

[2017-11-21 23:17] vancluever commented on #97
Hey @tdanner01, #244 is going in soon which makes big improvements to customization experience. Check the pending [documentation update](https://github.com/terraform-providers/terraform-provider-vsphere/blob/f-vm-resource-refactor/website/docs/r/virtual_machine.html.markdown) for more information. All the information for Windows customization should be there as well.

One note though in regards to

[2017-11-23 18:11] tdanner01 commented on #97
Thank you @vancluever. I started reading up on the improvements. Looking forward to the version.

[2017-11-24 13:15] AranVinkItility commented on #156
@lynic Thanks for the "datacenter" tip, fixed my problem

[2017-11-25 17:39] vancluever commented on #243
Hey all, just thought I'd put some info here on some stuff I've been playing around with trying to get a CoreOS OVF template to work over here.

It looks like `coreos-cloudinit` in this scenario primarily attempts to use the OVF environment here to map the `guestinfo` confiugration namespace. This maps to the `guestinfo.ovfEnv` attribute. The problem is there seems to be a _ton_ of conflicting inf

[2017-11-26 14:49] pall-valmundsson commented on #243
Hey @vancluever, just chiming in.

As it's unclear how successful you've been with your research I just wanted to let you know that I have been successful in deploying the CoreOS OVA with Ignition using just `guestinfo.coreos.config.data` and `guestinfo.coreos.config.data.encoding` and the `ct_config` data provider from CoreOS. I'm uploading the OVA using ovftool.

I haven't had to deploy a plain

[2017-11-26 17:01] vancluever commented on #243
Hey @pall-valmundsson,

This is the part that I actually tried. I wrote up a quick `vsphere_ovf_environment` data source (would have been awesome if it worked) that leveraged the `ovf` package in govmomi to marshal an XML and tried adding that as `guestinfo.ovfEnv`. No dice - vSphere just wiped the value every time it was injected.

That's when I realized what was going on with the vApp options an

[2017-11-26 17:53] vancluever commented on #243
CC @rowanjacobs on the above ^^^ as you mentioned you wanted to work on a PR. :slightly_smiling_face: if this is something you were planning on taking on, let us know! Also, if you do plan on working on it can you make sure to base your work off #244.

[2017-11-27 03:36] rowanjacobs commented on #243
Thanks! I'll check in with the team but I think it's likely we will be working on a PR. If we do, we'll make sure to use that branch.

[2017-11-28 15:52] ryancurrah commented on #31
Same issue here.

[2017-11-29 12:05] JamesTGrant commented on #221
using terraform 0.11 with the new vSphere provider 0.4.2 I can confirm this issue is fixed.
Also - the new provider is sooo much better and more reliable - not had a single crash in the past few days

[2017-11-29 21:27] vancluever opened #250 "d/resource_pool: Add explicit cluster default attribute"
As per https://github.com/terraform-providers/terraform-provider-vsphere/pull/244#discussion_r153619804. I don't want to hold up v1.0.0 with this and adding it to #244 will just add to an already overwhelming process. This will be looked at post-1.0.

To be clear this does not really cause any major usability issues. It will be a quality of life update that allows someone to specify

[code]

Inste

[2017-11-30 04:07] vancluever opened #251 "r/virtual_machine: Assert timezone using stdlib and TF core"
Reference: https://github.com/terraform-providers/terraform-provider-vsphere/pull/244#discussion_r153981342

Right now we are validating this using [StringMatch](hashicorp/terraform#16774), but a much cleaner way would be to validate using `LoadLocation` in stdlib, which loads data from the IANA TZ database.

This should be a validation function in TF core: https://github.com/hashicorp/terraform/b

[2017-11-30 04:15] vancluever opened #252 "r/virtual_machine: windows_sysprep_text testing and specific coverage"
Reference: https://github.com/terraform-providers/terraform-provider-vsphere/pull/244#discussion_r153981944

- [ ] Add test for raw sysprep.inf file
- [ ] Review if we want to store this as b64 in the state
- [x] Review adding `Sentitive` to schema field due to the potential for it to carry sensitive data

[2017-11-30 04:26] vancluever opened #253 "d/vsphere_ms_sysprep_timezone: New data source"
Reference: https://github.com/terraform-providers/terraform-provider-vsphere/pull/244#discussion_r153854821

Sysprep timezone values are arbitrary numbers, which is a bit frustrating from a human point of view. I'm pretty sure that `LoadLocation` in the standard library does not map to these values period, and I'm not too sure if they exist in some MS package anywhere, so we might need to do this

[2017-11-30 05:42] vancluever opened #254 "r/virtual_machine: Review run_tools_scripts_before_guest_reboot option"
Reference: https://github.com/terraform-providers/terraform-provider-vsphere/pull/244#discussion_r153989599

Need to look into this more, but this kept getting reset back to `false`, causing diff issues in tests. Guessing this might be due to guest type, but need to confirm for sure.

[2017-11-30 16:50] vancluever opened #255 "r/virtual_machine: Validate memory hot-add restrictions"
As per https://kb.vmware.com/s/article/2008405, there are limits to the amount of virtual memory you can add to a VM that is powered on, depending on the current memory on the machine.

vSphere will reject any changes when the request is sent, but we can probably validate this during plan.

[2017-11-30 19:38] vancluever commented on #210
@diwu1989 just wanted to say that I didn't forget about this for 1.0.0 - the PR is in now!

[2017-11-30 19:38] rismoney commented on #240
Will existing 0.4.2 configurations still work or will they bork the state file and FNR...asking for a friend :)

[2017-11-30 19:42] vancluever commented on #240
@rismoney 0.4.2 states will work, but the configuration has changed significantly, you will need to update the configuration with the new config. Your state will be migrated on the next plan/apply cycle. The path is similar to importing, without the need to import. As is good general TF practice, make sure you plan and review the plan before executing any applies.

Check the docs for more details!

[2017-11-30 19:45] #210 closed

[2017-11-30 20:32] rowanjacobs commented on #243
We checked out the provider version with the latest changes to the resource. Without having made any code changes, acceptance tests don't pass because we get `501 Not Implemented` when trying to query OS family for the VM guest ID.

Is there a particular version of vSphere that the new resource is targeting?

Here's the debug logs:
[code]

[2017-11-30 20:42] vancluever commented on #243
@rowanjacobs I just checked the API docs and `QueryConfigOptionEx` is only available on vSphere 6.0 and higher. I'm checking to see what our options are as this is used in a couple of places in the new VM resource.

[2017-11-30 21:30] vancluever commented on #243
@rowanjacobs looks like we were able to cleanly remove `QueryConfigOptionEx` from our environment browser helpers. The tests are running right now and this should be merged in about an hour, but things are looking good so far.

[2017-11-30 21:34] genevievelesperance commented on #243
Amazing! Thank you

[2017-11-30 23:31] rowanjacobs commented on #243
We're seeing some more failures, mysterious to us, which might also be related to vSphere version.

[code]

It's unclear to us where this `"sharing"` tag comes from, as we can't find the `"sharing"` literal in the codebase, and none of the code paths that set values on a `FlatVer2BackingInfo` object seem to be getting hit during the test.

[2017-11-30 23:34] vancluever commented on #243
Hey @rowanjacobs, can you paste your config?

[2017-11-30 23:36] vancluever commented on #243
Actually scratch that. I see that disk `sharing` is indeed a 6.0 feature. Seeing what we can do about dropping that as well.

[2017-11-30 23:37] rowanjacobs commented on #243
Thanks!

[2017-11-30 23:51] vancluever commented on #243
@rowanjacobs can you try against #258?

[2017-11-30 23:54] rowanjacobs commented on #243
The "efiSecureBootEnabled" tag seems to also be a problem.

(By the way, we've just been running `TestAccResourceVSphereVirtualMachine` with everything but boot up, shutdown, and clone from template commented out.)

[2017-12-01 14:22] olljanat commented on #10
FYI. I noticed that simple "workaround" to these issues is create separate VMware role which have Network\Assign network right only to correct networks and not even read rights to wrong ones.

[2017-12-01 15:04] VictorBjelkholm opened #260 "Fails to customize macOS clone but works fine when cloning via GUI"
### Terraform Version
[code]
### vSphere Provider Version

Running from master to take advantage of the new API for instances. Currently on commit `44c6eb6e0855818f53464aa67ab4e4fbe15d47fb` which right now is latest commit on master

### Affected Resource(s)

- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]

### Expected Behavior

A cloned instance of the instance `macOS3` bu

[2017-12-01 15:21] VictorBjelkholm commented on #260
Seems I mixed together the hardware customization and guest os customization. I get the same error when cloning via the GUI if I select the guest os customizations, so it's not terraform-provider-vsphere's fault but rather vSphere itself. Sorry

[2017-12-01 15:21] #260 closed

[2017-12-01 23:01] raymondhoagland opened #262 "Are resource pools intended to be required for virtual machines?"
### Terraform Version
v0.11.0

### vSphere Provider Version
v1.0.0

### Affected Resource(s)
- `vsphere_virtual_machine`
- `vsphere_resource_pool`

### Expected Behavior
Should not be required to specify a resource pool to place the VM in.

### Actual Behavior
Resource pool is required for all new virtual machines.

### Steps to Reproduce
terraform apply

### Important Factoids
We currently have n

[2017-12-01 23:51] vancluever commented on #262
Hey @raymondhoagland - resource pools are indeed required for all virtual machine resources. `CreateVM_Task` requires a resource pool, and the old VM resource was abstracting this functionality away by doing the heavy lifting of locating this resource pool for you. As part of our continued effort to move this kind of provider-side searching/selection logic to data sources, this logic has been move

[2017-12-02 00:34] vancluever commented on #262
@raymondhoagland if you use ESXi just FYI that there is currently some issues with using the resource pool and VM resources on ESXi. A fix should be in shortly.

[2017-12-02 01:48] vancluever commented on #262
@raymondhoagland the ESXi issues have been fixed and 1.0.1 should be out shortly. The info in my first response should be good now :slightly_smiling_face:

[2017-12-02 02:49] raymondhoagland commented on #262
@vancluever awesome, thanks for the quick responses! it looked like
[code]
was working for me but I'll check out v1.0.1 and see if that changes anything :grin:

[2017-12-02 03:27] raymondhoagland commented on #262
@vancluever looks like using just "Resources" still works for me in v1.0.1.  Thanks!

[2017-12-02 07:03] AndrewSav commented on #10
@olljanat, oh, it's a good one! Thank you for sharing!

[2017-12-02 17:52] vancluever commented on #262
@raymondhoagland glad it's working for you, but as just to clarify what I said above, if you are using ESXi, then you should not need to specify anything in the data source at all:

[code]

If you can specify `Resources` without running into a error that your search was too broad, it almost seems like you are using ESXi directly. I'd recommend using the short form of the resource instead. I'm goin

[2017-12-02 17:52] #262 closed

[2017-12-02 17:58] vancluever commented on #250
Update:

* We want to make sure this covers_all_ compute resources, including standalone hosts.
* There seems to be some confusion over the various usage forms right now - some of these were corrected in 1.0.1 - namely, it works on ESXi again and we ensure that `name` is set when connected to vCenter, but we might want to enforce a usage form when conversely connected to ESXi, and, when we add com

[2017-12-02 18:25] vancluever commented on #262
If that's the case, sounds like you are using vCenter. Do you just have a single host in your setup?

[2017-12-02 19:22] raymondhoagland commented on #262
Yes I'm using Vcenter - there are 3 hosts, does that change anything?

[2017-12-03 17:05] vancluever commented on #262
Hey @raymondhoagland, can you install and configure [govc](https://github.com/vmware/govmomi/tree/master/govc) if you don't have it already, and enter the following command, and let me know what the output looks like?

[code]

Where `dc` is the path to your datacenter (including datacenter folders if you use them).

I just need an abridged output, don't send the full output if it's sensitive from

[2017-12-04 03:43] surajsub opened #264 "Create VM using cloning fails due to spec.deviceChange.device"
I'm on tf 0.10.7.

Just upgraded to the 1.0. version of the vpshere provider.  Lots of changes ..good work...
Trying to create/clone a vm .. resulting in this error
========

Initializing provider plugins...
- Checking for available provider plugins on https://releases.hashicorp.com...
- Downloading plugin for provider "vsphere" (1.0.1)...
Terraform has been successfully initialized!

You may now

[2017-12-04 03:50] Ankan-Fraedom commented on #57
Would love to get this feature as in my current organization, we wanna use this feature to compare the existing infra and then basically rewrite IaC as we add more. Would be a great feature to have. 👍

[2017-12-04 14:53] tommymunter opened #265 "Create VM fail on ESXi 5.5 standalone"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform
issue trackers reserved for bug reports and feature requests. For general usage
questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.11.0
+ provider.vsphere v1.0.1

Terraform v0.11.1
+ provider.vsphere v1.0.1

Terraform v0.10.8
* provider.vsphere: version = "~> 1.

[2017-12-04 15:06] raymondhoagland commented on #262
Hey @vancluever I see something like
[code]

So based on what you said above, I guess I do have a cluster that I wasn't aware of!

Based on that, I should be able to change the data resource I have for the resource pool - let me try that and I'll update with my results - thanks again!

[2017-12-04 16:12] vancluever commented on #262
Glad it worked out for you @raymondhoagland!

[2017-12-04 16:19] raymondhoagland opened #266 "Host Pinning Ignored for Clones?"
### Terraform Version
v0.11.0

### vSphere Provider Version
v1.0.1

### Affected Resource(s)
- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]

### Expected Behavior
VM is created on the specified host system.

### Actual Behavior
VM is created on one of the hosts in the cluster, not necessarily the one specified.

### Steps to Reproduce
1.  Specify a host to the data resource

[2017-12-04 16:19] vancluever commented on #264
Hey @surajsub - can you do a couple of things:

* Get the debug log of the problem as per the instructions in the [issue template](https://github.com/terraform-providers/terraform-provider-vsphere/blob/master/.github/ISSUE_TEMPLATE.md) and send along the gist?
* While you are collecting debug logs - can you do a run with `VSPHERE_CLIENT_DEBUG=1` set, and locate the `ReconfigVM_Task` call (will be

[2017-12-04 16:20] hashibot opened #267 "Terraform crashes when creating vSphere VM with 1.x vSphere provider"
_This issue was originally opened by @twoqubed as hashicorp/terraform#16832. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I recently upgraded my Terraform template to use the `1.0.1` version of the vSphere provider. The first time I used this to provision a VM,

[2017-12-04 16:32] vancluever commented on #266
Hey @raymondhoagland, you may have to change your DRS level to "Manual" to have this function 100% correctly right now.

I'm adding this as an enhancement - this is not necessarily an issue with the code, but possibly something we could look at - basically what is happening is that even though you create a VM/clone on one host, when it gets powered on DRS may move it to a different host. Can you c

[2017-12-04 16:33] vancluever commented on #265
Hey @tommymunter - sorry this is happening for you. This should have been corrected as disk sharing is not available on vSphere 5.5 - we will try to reproduce on 5.5 as soon as we can!

[2017-12-04 16:39] tommymunter opened #268 "Create VM ESXi 6.0.0 and 6.5.0 not possible on standalone license!"
Hi there,
Great work with new provider.vsphere v1.0.1 but it's not working on ESXi standalone :(
Only working with vcenter, Essentials Plus license.
Or temporary in Evaluation Mode.

### Terraform Version
Terraform v0.11.1

### vSphere Provider Version
+ provider.vsphere v1.0.1

### Affected Resource(s)
- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]
### Expected Behavior

C

[2017-12-04 16:41] vancluever commented on #267
Hey @twoqubed, thanks for the report and sorry you ran into the crash.

I notice that you have a _lot_ of zero values in your config - this configuration as it stands would more than likely not function anyway. We will work to resolve the source of the crash, but if you have values in any of these fields, that information would be valuable - as it stands right now I will just be looking for places

[2017-12-04 16:47] johnjelinek commented on #267
From the crash output:
[code]
This looks like `Network devices located:` list is empty and the [unitRange](https://github.com/terraform-providers/terraform-provider-vsphere/blob/master/vsphere/internal/virtualdevice/virtual_machine_device_subresource.go#L750-L765) depends on this not being empty.

[2017-12-04 16:49] vancluever commented on #268
Hey @tommymunter, thanks for the report.

Definitely we want to work to support standard here. Apologies for the issues that you are experiencing.

We will have to investigate what feature is causing this issue, but in the meantime, can you try this with `VSPHERE_CLIENT_DEBUG=1` set as an environment variable for your Terraform run? One of the logged responses in the `.govmomi` directory will have

[2017-12-04 16:51] twoqubed commented on #267
@vancluever I initially blanked out several values. Here is the unedited file:

[code]

This module is used by this template:

[code]

The variables are driven by this file and passed into the `apply` execution via the `-var-file` option.

[code]

I anonymized some bits, but hopefully this gives you a clearer idea of what is confirgured.

[2017-12-04 17:02] vancluever commented on #267
@twoqubed much better - thanks!

Given this information the specific part mentioned by @johnjelinek sounds like it could be the issue (thanks for that btw @johnjelinek)! Does your template have no network interfaces on it?

[2017-12-04 17:08] vancluever commented on #131
Hey @mjrider - this should have been fixed with 1.0.0. If something like this comes up again, can you open a new issue?

Thanks!

[2017-12-04 17:08] #131 closed

[2017-12-04 17:11] johnjelinek commented on #267
@vancluever: I fixed it locally, see patch below -- it's kinda dirty, so I bet you could clean it up better.
[code]

[2017-12-04 17:11] vancluever commented on #125
Hey all, with 1.0.0 out, this should be a lot more stable now - I'm closing this now on part of this and a lack of activity since the last issue has been posted.

`ignore_changes` for ignoring cluster and disk now would look like:

[code]

[2017-12-04 17:11] #125 closed

[2017-12-04 17:13] vancluever commented on #267
@johnjelinek thanks! About to repro by removing the NIC from our template, but this fix seems straightforward! I'll see if there's any "better" way this needs to be handled.

[2017-12-04 17:56] sh1ny commented on #267
I am experiencing something similar:

`provider "vsphere" {
  user           = "${var.vsphere_user}"
  password       = "${var.vsphere_password}"
  vsphere_server = "${var.vsphere_server}"

  # if you have a self-signed cert
  allow_unverified_ssl = true
}

data "vsphere_datacenter" "dc" {
  name = "stage"
}

data "vsphere_datastore" "datastore" {
  name          = "datastore"
  datacenter_id = "$

[2017-12-04 18:04] vancluever commented on #267
@sh1ny so just to confirm, your template has two network interfaces?

[2017-12-04 18:05] sh1ny commented on #267
No, my template has 1 network interface. I want to clone it and add second (and third ) network interfaces. That was possible in 0.4.2. @vancluever

[2017-12-04 18:34] twoqubed commented on #267
Confirming your question to @johnjelinek that our template has no network interface.

[2017-12-04 18:49] tommymunter commented on #268
Hi,
I Will do that first thing in the morning, swedish time.
Hope I Will manage to get debuter on and catch the error.

[2017-12-04 19:10] vancluever commented on #267
Hey all, there is a fix now for this in #269. If you have the ability to do so, would you please try your issue again with a [custom built provider binary](https://github.com/terraform-providers/terraform-provider-vsphere#building-the-provider) against the branch in the PR to see that resolves the issue for your inparticular cases?

I'm just running some tests here and then this will be merged.

T

[2017-12-04 19:15] vancluever commented on #266
PS: In this situation, running another apply should vMotion it to the correct host after creation.

[2017-12-04 20:00] vancluever commented on #268
Hey Tommy,

I'm actually wondering - are you referring to _free_ ESXi by any chance?

I can't really see any difference in editions that would be causing this issue here otherwise, and API write operations are not allowed on free ESXi:

https://www.virtuallyghetto.com/2011/06/dreaded-faultrestrictedversionsummary.html

Can you confirm this? We will update the documentation in the meantime.

[2017-12-04 20:29] twoqubed commented on #267
@vancluever Confirmed that this fixed my issue. Thanks!

[2017-12-04 20:49] ephos opened #271 "vsphere_virtual_machine "cannot locate virtual machine or template with UUID""
### Terraform Version

[code]

### vSphere Provider Version

[code]

### Affected Resource(s)

Data Sources
- `vsphere_virtual_machine`

Resources
- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]

### Debug Output

[DebugGist](https://gist.github.com/ephos/42f49890d15b37d63a7d13e86d45be9b)

### Expected Behavior

The VM template should have been located from its datasource.

[2017-12-04 21:59] #267 closed

[2017-12-04 22:02] vancluever commented on #267
Thanks @twoqubed! This has now been merged and will be a part of 1.0.2 which will go out today.

[2017-12-04 22:24] vancluever commented on #265
Hey @tommymunter just confirmed this is indeed a bug and I'm working on a fix!

[2017-12-05 00:08] deberon commented on #239
Sorry for the long delay, but I finally got around to attempting to create a folder in a different vmware environment and received the same error. The folder gets created properly and when I run an apply (without making any other changes) it continues as normal.

[2017-12-05 00:11] #265 closed

[2017-12-05 09:17] tommymunter commented on #268
Hi
It was the "free license" we had on those standalone host. I thought if you had a license it's not the _free_ edition. So this should only be documented, could also place the _note_ about:
data "vsphere_resource_pool" "pool" {} a bit clearer (hard to find).

[2017-12-05 13:47] vancluever commented on #268
Hey @tommymunter, #273 adds a bit of language to [this section](https://www.terraform.io/docs/providers/vsphere/d/resource_pool.html#using-with-esxi) that will hopefully make it a bit clearer.

Glad you got this worked out!

[2017-12-05 13:47] #268 closed

[2017-12-05 16:59] mmb opened #274 "Provide a way to set DRS affinity rules"
I would like to create virtual machines with Terraform and tell vSphere to keep them on different hosts.

govc has recently added support for this:

https://github.com/vmware/govmomi/pull/928

[2017-12-05 17:48] vancluever commented on #274
Thanks for the info @mmb - super useful to know that govmomi has an example.

Cluster affinity is something we can probably touch when start the effort to add better cluster support ourselves - which is something we will be looking at soon, now that 1.0 is out!

[2017-12-05 21:45] vancluever opened #275 "r/virtual_machine: Enforce disk provisioning options on linked clones"
Looks like we have an issue in which if a VM is cloned via linked_clone, and the disk options are set to something incorrect of what the source template is, we end up with an inconsistent state.

The first apply fails with something like:

[code]

Trying to run any plans after this will give you:

[code]

The VM is not able to be deleted in this state and will need to be removed from vSphere and T

[2017-12-05 21:49] vancluever commented on #271
Hey @ephos, thanks for the report and sorry you are having trouble. However, I cannot reproduce this on vSphere 5.5 U3f.

Can you tell me a bit more about your setup? Is the user a provisioning user with possibly split privileges? Also, can you tell me a bit of how the template was created and any options that might be affecting the UUID set on the virtual machine, if any?

I attempted to reproduc

[2017-12-06 02:50] tianomonteiro commented on #2
Hi @vancluever , we have any update about this? Thank you.

[2017-12-06 10:58] RyanD0001 commented on #271
Hi @vancluever, I have the same issue as above on vCenter Server 5.5 Update 3e
using terraform windows version v0.11.1

heres my build file

#configure the VMware vSphere Provider
provider "vsphere" {

    vsphere_server = "${var.vsphere_vcenter}"
    user = "${var.vsphere_user}"
    password = "${var.vsphere_password}"
    allow_unverified_ssl = true
}

data "vsphere_datacenter" "dc" {
  name = "

[2017-12-06 13:02] ephos commented on #271
Hi @vancluever , I just checked both vCenters that we have that gave me the issue and both were _vCenter Server 5.5 Update 3e_.  In both vCenters there are different templates, I have tried on about 4 different Windows based templates (2 in one vCenter, 2 in the other (2012 R2 and 2016)).  I haven't tried any of our Linux templates.

I tried with a provisioning user but also saw the same error on

[2017-12-06 13:59] tommymunter opened #279 "Not possible to create more than 3 network interfaces!"
Hi there,

### Terraform Version
Terraform v0.11.1

### vSphere Provider Version
+ provider.vsphere v1.0.1
+ provider.vsphere v1.0.2

### Affected Resource(s)

Please list the resources as a list, for example:
- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]

### Debug Output

### Panic Output
panic: runtime error: index out of range
2017-12-06T14:37:57.290+0100 [DEBUG] plugi

[2017-12-06 16:02] AranVinkItility commented on #264
Got the same error after upgrading from 0.4 to 1.0

[2017-12-06 16:18] vancluever commented on #264
@AranVinkItility thanks for the input. Can you send along the same info I've requested from @surajsub?

Thanks!

[2017-12-06 16:36] #275 closed

[2017-12-06 17:01] vancluever commented on #279
Hey @tommymunter, sorry you are having trouble and there is a fix for this in PR now.

Thanks!

[2017-12-06 17:12] vancluever commented on #271
Hey @ephos and @RyanD0001, thanks for the updates.

Not too sure if either of you use has used the MOB before, but I'm wondering if you can try the following on it:

* Drill down to your VM (once in the MOB you can click down to it), and in its `config` verify that `uuid` is set
* Take that UUID, and the top level `ServiceContent` object in the MOB, load the `FindByUuid` method, and enter that UUI

[2017-12-06 18:02] Rybue commented on #57
Hi

I tried import with newest provider version - 1.0.3 and terraform version 0.11.1:

[code]
Is there a way to specify datacenter? I tried with -var 'datacenter=mydatacenter', but it doesn't work.

Best regards

[2017-12-06 18:08] johnjelinek commented on #267
@vancluever: I upgraded to `1.0.3` today and I'm seeing:
[code]

[2017-12-06 18:10] johnjelinek commented on #267
oh -- this is related to #275

[2017-12-06 19:14] vancluever commented on #267
Hey @johnjelinek - yeah, this will be going out hopefully today, but tomorrow at the latest. Thanks!

[2017-12-06 20:06] ephos commented on #271
@vancluever I hadn't used the MOB before, thanks for showing me this (coming from the PowerCLI world a lot of this is abstracted).  Anyway I did as you instructed, sure enough I wasn't able to return any data for the template in question, either by _instanceUuid_ or _uuid_.

One thing though, if I convert the template back to a VM both of these queries work.  Perhaps something with 5.5U3e on query

[2017-12-06 20:24] vancluever commented on #271
@ephos this is interesting data - thank you for checking!

I also see something [here](https://communities.vmware.com/thread/400607) that at some point in time in the past, `FindByUuid` actually did _not_ work on templates.

I did not necessarily test VMs marked as templates on our 5.5f installation, I'll try that and report back the results.

Thanks!

[2017-12-06 20:43] perbly opened #281 "Wrong datastore_id"
Hi

Good job to everyone involved in vpshere terraform provider. It really is a big improvement.

However, it looks like there´s something wrong with the datastore_id data lookup (or it´s only in our environment)

Running vsphere 6

Terraform plan outputs datastore id:
`  datastore_id:                                     "" => "datastore-12"`

This fails with the error message:
`vsphere_virtual_ma

[2017-12-06 20:50] vancluever commented on #271
@ephos confirmed that this is still an issue in 5.5f. Looks like the best workaround for now is to convert specific templates to virtual machines.

I'm guessing we will need to think of a different way to hunt down UUIDs for templates as a fallback - I'll have to think of the best way to do that would be. I don't necessarily want to do managed object references for VMs as we have committed to usin

[2017-12-06 20:58] ephos commented on #271
@vancluever no worries, I knew it might be a little tough being on 5.5 as we are a little behind upgrading, we are planning on upgrading to 6.5 soon though so that should fix it, a work around could be perhaps cloning the template and turning that into a virtual machine.  Thanks for the help!

[2017-12-06 21:04] vancluever commented on #271
@ephos no problem :slightly_smiling_face:

Remember too that a template is mainly just a VM that has been marked as such and hasn't been assigned to a host/cluster/resource pool. So all the functionality from a clone perspective will be the same, it just might have a slight impact to your resource count due to the fact that it's present in a powered off state on one of your hosts.

Anyway will upd

[2017-12-06 21:32] #279 closed

[2017-12-06 22:06] vancluever opened #282 "virtual_machine: Transition (BIOS) UUID as ID attribute to instance UUID"
As part of the new VM work we have transitioned to using UUIDs as the `id` attribute for both the resource and data source form of `vsphere_virtual_machine`. This was facilitated by using existing functionality in  `helper/virtualmachine`, namely the `virtualmachine.FromUUID` method that was already being used to search VMs by UUID in the `vsphere_virtual_machine_snapshot` resource. This UUID was

[2017-12-07 10:02] RyanD0001 commented on #271
@vancluever this is the uuid of my template:

Get-Template ryan-clone | %{(Get-View $_.Id).config.uuid}
4229d461-8419-42cc-87f5-aa43b936f784

and this is the error on terraform:

Refreshing Terraform state in-memory prior to plan...
The refreshed state will be used to calculate this plan, but will not be
persisted to local or remote state storage.

data.vsphere_datacenter.dc: Refreshing state...
d

[2017-12-07 13:23] jason-azze opened #284 "customization after clone - Linux and Windows options conflict"
### Terraform Version

Terraform v0.11.1

### vSphere Provider Version

+ provider.vsphere v1.0.3

### Affected Resource(s)

Please list the resources as a list, for example:
* `vsphere_virtual_machine`
  *  `clone`
    **  `customize`

### Terraform Configuration Files

My module (the "called?" module)

[code]
My "calling?" modules.
[code]
### Debug Output
[code]
And many more of the same for eve

[2017-12-07 14:40] AranVinkItility commented on #264
Already figured it out, I had set a disk size which wasn't the same as template I was cloning. This is mentioned in the docs, but the provider error message wasn't clear about what was going on. Maybe we could also include the faultmessage's 'key' in the providers error message?
[code]
Setting the disk size the same as the template fixed this for me:
[code]

Because the error message seems to be q

[2017-12-07 15:31] jason-azze opened #285 "clone from template - Having more disk sub-resources defined than exist in the template results in "index out of range""
### Terraform Version
Terraform v0.11.1

### vSphere Provider Version
+ provider.vsphere v1.0.3

### Affected Resource(s)

- `vsphere_virtual_machine` > `disk`

### Terraform Configuration Files
A chunk of my "called" module.
[code]
### Debug Output
[code]

### Expected Behavior

In the `vsphere_virtual_machine` resource documentation, under "Additional requirements and notes for cloning" it says:

[2017-12-07 17:07] vancluever commented on #285
Hey @jason-azze, thanks for kind words! Hopefully I can clarify here:

The error you are seeing is due to there not being 2 elements in the `disk_sizes` attribute of your `vsphere_virtual_machine` _data source_ - since there are not two disks in the template as you mentioned, there is only one element in `disk_sizes`, hence the "index out of range" error when trying to reference the missing elemen

[2017-12-07 17:08] #285 closed

[2017-12-07 17:22] jason-azze commented on #285
Thanks, @vancluever. That is very helpful guidance. In general, I'm trying to discover if I'm misusing the tool or if I've made bad architectural decisions (or both). :-)

Might I suggest adjusting the language in the documentation to change "at least" to "exactly"?

[2017-12-07 18:12] vancluever commented on #284
Hey @jason-azze, indeed you are running into a deliberate change - the three major OS-specific customization options (`linux_options`, `windows_options`, and `windows_sysprep_text`) now conflict with each other and you cannot set them simultaneously.

One of the goals of the refactor was to remove a lot of the "magic" behaviour from this resource - especially surrounding customization where there

[2017-12-07 18:12] #284 closed

[2017-12-07 19:00] desmondrawls opened #286 "Potential backwards compatibility issues with vSphere 5.5"
While working on a PR for vApp config support (#243), we noticed a few problems in acceptance tests that may be related to backwards compatibility (#258) with vSphere version 5.5.

Since vSphere 5.5 does not support customization for Linux guests, we wrote an acceptance test that clones a simple vm template with Ubuntu pre-installed and skips customization. That test fails with the following error

[2017-12-07 19:19] rismoney opened #287 "Trying to upgrade from 0.4.2 to 1.03"
Hi there,

### Terraform Version

Terraform v0.10.7

### vSphere Provider Version

1.03

### Affected Resource(s)

- `vsphere_virtual_machine`

### Terraform Configuration Files

I had a simplistic module design in 0.4.2 where I had a single vsphere_virtual machine resource within the module, that I invoked.  The module contained this:
[code]

The problem I am having now is that this seems to now

[2017-12-07 20:45] vancluever commented on #286
@desmondrawls for the first one - the waiter waits for a _routeable_ IP address - ie: one that can reach a default gateway that you have configured - if that's not happening for whatever reason, then the waiter needs to be disabled - set `wait_for_guest_net_timeout = -1`. Can you check your network configuration and make sure it is coming up with an IP address that can reach the internet? That wil

[2017-12-07 20:46] josdotso opened #288 "Resource provider for vSphere resource pool"
Hello.

Today, there is a data provider for vSphere resource pool, but I didn't see a resource provider for the same.  Is this feature on the roadmap?

https://www.terraform.io/docs/providers/vsphere/d/resource_pool.html

Thanks,
Joshua

[2017-12-07 21:04] vancluever commented on #288
Hey @josdotso - we are indeed planning to work on this - it will be part of another part of work targeted at getting cluster management into the provider.

No ETA, but we are definitely looking at it in the next couple of months (holiday schedules and what not considering).

Thanks!

[2017-12-07 21:18] vancluever commented on #287
Hey @rismoney, for the configurations that you are migrating, you will need to remove the `clone` block from your configuration. This is a safeguard to ensure that someone doesn't accidentally delete their VMs when migrating, as all attributes in the `clone` and `customize` sub-resources are force new resources.

We may look at fixing this in future releases, but due to complexity of the sub-resou

[2017-12-07 21:18] #287 closed

[2017-12-07 23:41] rowanjacobs commented on #286
Creating a new template seems to have fixed the routeable IP address issue.

[2017-12-08 00:35] yaso195 commented on #101
Hey @vancluever, in which release, "not having IP address during refresh" issue will be resolved? Is there any link to track that issue?

[2017-12-08 02:20] hashibot opened #289 "vsphere Unexpected element tag "sharing" seen"
_This issue was originally opened by @d10sbt as hashicorp/terraform#16877. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi there,
When executing terraform plan everything is ok but when executing terraform apply it returns a crash
Error: Error applying plan

##

[2017-12-08 11:42] hmalinov opened #290 "Terraform apply wants to change disk.0.disk_sharing every time."
### Terraform Version

Terraform v0.11.1
+ provider.vsphere v1.1.0

### vSphere Provider Version

 provider.vsphere ~> 1.1.0

### Affected Resource(s)

Please list the resources as a list, for example:
- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]

### Expected Behavior

[code]

Should have changed the disk.0.disk_sharing

### Actual Behavior

Again wants to change the dis

[2017-12-08 13:33] steffencircle opened #291 "Support for Template Deployment from VMWare Content Library"
Hi there,

### Terraform Version

Terraform v0.11.1
+ provider.vsphere v1.1.0

I am trying to deploy a Virtual Machine from a Template that sits on a VMWare Content Library.
This is a feature from VSphere 6.0 onwards.

Unfortunately the provider seems to be not able to find a Template from it.

I get the following error, when a specify a VM Template from it.

_Error: Error refreshing state: 1 erro

[2017-12-08 15:58] rismoney opened #292 "time_zone on vsphere virtual machine windows 1.1.0"
before: vsphere complains the time zone is not a valid setting.

`time_zone = "035"`

configuration does not work if the leading 0 is provided.  ie 035 does not work, while 35 does.

this works:
`time_zone = "35"`

documentation provides reference to MSFT indices for this value.

Thoughts for resolution:
Leading zero should be managed properly in code, or documentation should advise to omit leadin

[2017-12-08 16:57] alexholliz opened #293 "Terraform Init Error "Unknown root level key: vsphere_user""
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform
issue trackers reserved for bug reports and feature requests. For general usage
questions, please see: https://www.terraform.io/community.html.

### Terraform Version

Terraform v0.11.1

### vSphere Provider Version

Running `terraform providers` gives me this output:
`Error: Unknown root level key: vsphere_us

[2017-12-08 17:07] vancluever commented on #293
@alexholliz this sounds like an issue in where you are putting your variables. While file are you placing your secrets in?

[2017-12-08 17:08] alexholliz commented on #293
Variables are in `variables.tf` and secrets are in `secrets.tf`in the same directory as `it-docker-prod-01.tf`

[2017-12-08 17:28] vancluever commented on #293
@alexholliz the secrets.tf file is the problem. These are essentially variable definitions and need to be in you `terraform.tfvars` file.

You can name this differently if you don't want that path specifically as well, but you will need to supply a different path to `terraform apply`:

[code]

Make sure you don't give it a `.tf` extension though or else Terraform will try to load and parse the fil

[2017-12-08 17:52] alexholliz commented on #293
Well I'll be a monkey's uncle, changing secrets.tf to terraform.tfvars worked just fine. Thanks @vancluever !

[2017-12-08 17:52] #293 closed

[2017-12-08 18:00] vancluever opened #294 "Post-migration: Error applying plan due to 403 from tagging API"
This seems to only be happening _very_ sporadically and I'm wondering if it has to do with a race condition  in the order of things being applied (possibly that the 403 is not due to actually not being authorized but some state post-migration).

Migration succeeds, and then vSphere kicked back this:

[code]

Further plans return no changes, so there was no issues with the migration.

Possible reso

[2017-12-08 18:01] vancluever commented on #293
:grinning: glad you got it worked out @alexholliz!

[2017-12-08 18:38] vancluever opened #295 "r/virtual_machine: Current limitations and roadmap for disk device management and vMotion"
**NOTE: Read update for more details on current plans**

This is something we need to block across the board - running storage vMotion on a linked clone does not necessarily work anyway, but there are situations where it can function (so long as vSphere has determined that it can properly link the disks).

However, upon migration of these disks, The filename of the backings will change to a delta

[2017-12-08 19:11] Veske opened #296 "custom_configuration_parameters missing for 1.0.2"
[code]

There used to be an option before the 1.x release to have a block like this:

[code]

This was quite useful for people generating their Ansible inventory dynamically. This way you can give an identity to a VM in a simple manner.

I fail to find the same functionality for vSphere provider 1.0.2. Are there any plans to introduce this again or maybe I have just failed to find it from the docu

[2017-12-08 19:21] vancluever commented on #296
Hey @Veske, these have now been moved to [`extra_config`](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#extra_config). Let me know if this fixes it for you!

[2017-12-08 19:22] Veske opened #297 "Accessing variables from outer scope not possible"
**Terraform environment:**
[code]

I seemed to stumble upon an issue where I am unable to access declared variables from an outer scope. This is an useful thing to be able to do because say you would like to create a certain machine with a count of > 1....  this assumes that each machine is named a bit differently. We have the convention to have a incremented number in the name of a service machin

[2017-12-08 19:34] vancluever commented on #297
Hey @Veske, this is not a supported configuration in Terraform. You can reference a resource's own attributes using the `self` namespace, but only in provisioners. See [here](https://www.terraform.io/docs/configuration/interpolation.html#attributes-of-your-own-resource) for more information.

Thanks!

[2017-12-08 19:34] #297 closed

[2017-12-08 19:35] Veske commented on #296
@vancluever Sorry for the inconvenience. Completely missed that part in the documentation.
This solves my problem.

[2017-12-08 19:35] #296 closed

[2017-12-08 19:36] deberon commented on #294
This is the same error I was receiving in #239 but came when I was creating a Folder.

[2017-12-08 19:36] vancluever commented on #296
Glad you figured it out @Veske!

[2017-12-08 19:36] rismoney opened #299 "Deleting resource manually breaks TF"
Terraform 0.10.7
Provider:  Version 1.1.0

Reproducer:

1. run tf to clone windows vm.
1. manually Delete VM in Vsphere console.
1. run tf

Error message:
vsphere_virtual_machine.wks: Refreshing state... (ID: 422dbafe-5671-f3c6-132f-5e1ac75364e1)
Error refreshing state: 1 error(s) occurred:

* module.rismoney.vsphere_virtual_machine.wks: 1 error(s) occurred:

* module.rismoney.vsphere_virtual_mach

[2017-12-08 19:38] jason-azze commented on #297
@Veske I'm doing something similar and I just ended up repeating the expression I'm using to build names and abstracting as much as I can into variables.

[code]

[2017-12-08 19:38] vancluever commented on #297
@jason-azze beat me to the punch! I was just typing that.

[2017-12-08 19:39] Veske commented on #297
But am I using Terraform wrong then?
Take the disk block for example:

[code]

Say you want to create multiple copies of a scaling service, do you create a new .tf file for each one of them then? Before 1.x I never experienced this issue as there was no inner block requiring the name I put for the machine.

[2017-12-08 19:42] Veske commented on #297
@jason-azze So count is referencable from an outer scope actually?

[2017-12-08 19:43] vancluever commented on #294
@deberon yeah, this is a good point!

I wonder if maybe a general backoff would be a good idea then.

[2017-12-08 20:08] rismoney opened #300 "cdrom issue for managing a 0.4.2 host with 1.1.0"
If cdrom = "1" on existing image has nothing inserted, how can this be represented in TF code?

According to doc: both datastore and path are required attributes on the cdrom resource.  Can they be null?

[2017-12-08 20:12] jason-azze opened #301 ""invalid disk name" when cloning from a template and specifying a disk name"
### Terraform Version

Terraform v0.11.1
+ provider.vsphere v1.1.0

### Affected Resource(s)

- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]

### Expected Behavior
A new VM with a disk with the filename (in this particular case) cent69-build04disk01.vmdk should be created.

I believe (perhaps incorrectly) that `name =` inside the disk block in the case of a clone operation

[2017-12-08 20:40] vancluever commented on #301
Hey @jason-azze, you are correct in your assessment that this is the disk that gets created, but that's only half the story.

vSphere clones the disk during a clone with the general default naming way that a VM gets during creation. This follows the convention of `VMNAME.vmdk` for the initial disk, and `VMNAME_INDEX.vmdk` for all other disks, hence `foobar.vmdk`, `foobar_1.vmdk`, `foobar_2.vmdk`,

[2017-12-08 20:47] vancluever commented on #300
Hey @rismoney, currently CDROM drives need to have something in them or be removed. If the drive had nothing in it before then it will be updated the new specified parameters on the next run.

I'll add this as an enhancement as I could see scenarios where just ejecting the ISO would be favourable to hot-removing and adding the device.

[2017-12-08 20:48] #301 closed

[2017-12-08 20:52] jason-azze commented on #301
Ahh. It's strange, but I understand your explanation and the constraints. It's like the Ford Model T, you can have any color you want as long as it's black.

Thanks for the help @vancluever .

[2017-12-08 21:35] josdotso commented on #26
![screen shot 2017-12-08 at 4 32 21 pm](https://user-images.githubusercontent.com/13571670/33786018-72dad6c2-dc35-11e7-9cfc-b2a25e8e5956.png)

I have this problem as well.  I'm also seeing a problem where cloning and customizing a template on vSAN results in systemd not able to mount root disk inside VM.

[2017-12-08 23:23] rismoney opened #302 "d/vsphere_virtual_machine: Cannot see second disk"
tf  v.0.10.7
provider 1.1.0

[code]

this variable does does not seem to work on a template with 2 hard disks.

[code]

[2017-12-10 10:43] ariva07 opened #306 "Unexpected EOF while read current state, then provider.vsphere dets SIGSEGV"
Hello! Recently i have a problem while trying to Plan, Apply or Refresh due to state Unexpected EOF, the provider.vsphere gets SIGSEGV.
Thank You in advance for helping me tracking down the cause of the issue.

### Terraform Version

`Terraform v0.11.1`

### vSphere Provider Version

`provider.vsphere v0.4.2`

### Affected Resource(s)

- `vsphere_virtual_machine`

### Terraform Configuration Files

[2017-12-11 04:23] raymondhoagland commented on #266
Completely forgot to respond to this - it appears to have resolved itself by switching to using the data resource to look up the id of the host rather than specifying it myself.  Everything is working as expected so I'll close out the issue.

I don't actually have DRS enabled at all at the moment which is why I was surprised that it could be moving.

[2017-12-11 04:23] #266 closed

[2017-12-11 07:29] perbly commented on #281
It looks like this works good without the workaround. /P

[2017-12-11 07:29] #281 closed

[2017-12-11 08:37] tommymunter opened #307 "Configure the NIC that should PXE boot the VM!"
Hi there,

I would like to propose a new feature when VM are PXE booting.

To be able to choose the NIC that should PXE boot the VM :)

### Terraform Version
Terraform v0.11.1

### vSphere Provider Version
+ provider.vsphere v1.1.0

### Affected Resource(s)
- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]
### Expected Behavior
I would like to choose the interface that will PX

[2017-12-11 09:38] perbly opened #308 "virtual_machine_resource failes when having multiple disks"
Hi

We are getting this error from vsphere when we are provisioning a virtual machine from template with 2 disks. vSphere clones the templates first but fails on the reconfigure step with this error:
`vsphere_virtual_machine.vm: error reconfiguring virtual machine: Cannot complete file creation operation`

If we remove the second disks segment the machine get´s created successful.

Any idea what w

[2017-12-11 09:45] perbly commented on #308
Adding the plan file also if it helps:

[code]

[2017-12-11 14:13] astraios opened #309 "terraform plan fail with `err: disk.2: virtual disk "vm/vm_1.vmdk"`"
### Terraform Version

`Terraform v0.11.1`

### vSphere Provider Version

`provider.vsphere v1.1.0`

### Affected Resource(s)

- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]

### Debug Output

https://gist.github.com/notuscloud/c8264ac26a8f70bc1ba502667fc8d24f

I truncated the output to show only the relevant part.

### Expected Behavior

As I did no modification, the secon

[2017-12-11 14:27] d10sbt commented on #265
we have the same problem ... any workaround to be able to continue working?

[2017-12-11 15:03] rismoney commented on #292
As a further update to this,

If I set the configuration to `time_zone = "35"` and terraform apply, subsequent terraform plans show this as `"29"` which is problematic for many reasons, and is a breaking change holding up pipelines.

1.  This value is not even valid.  Not sure where it gets this from.
1.  This FNR

[2017-12-11 16:08] vancluever commented on #292
@rismoney coincidentally `29` is the decimal form of octal `035`. Are you sure your configs don't have the leading zero in them?

We aren't reading this value back into state, so this has to be coming from config. I'm just reviewing the old code to confirm, but it's possible that this needs to be an octal value and that's why the leading zeros appear in the MS spec.

Changing this to a bug as ther

[2017-12-11 16:36] vancluever commented on #292
@rismoney this is definitely an octal value. What I will do is "restore" the old functionality so that this is a string field that expects a number beginning with a leading zero so that it can be properly converted.

[2017-12-11 16:56] vancluever commented on #292
@rismoney confirming that `85` (decimal) is actually UTC. Going to try another zero-padded zone in decimal form (removing the zero), and a non-zero padded one, and will post results.

[2017-12-11 17:25] vancluever commented on #292
OK, results of test:

* Using `20` for Central Time is functional
* Using `215` for Singapore Standard Time is functional

So I don't think it's using octal, the values are just (tragically) documented with a leading zero in some cases. Moving this back to doc so that it gets documented in the resource documentation correctly.

[2017-12-11 18:07] rismoney commented on #292
The config I use now on new provider 1.0.3 provider was `time_zone="35"`.  Terraform does not complain about this, but if I pass 035.

However using "35" then subsequent terraform plan returns this to be "29" and wants to FNR.

The config I used in 0.4.2 worked fine as "035" on old (unrelated resources)  resources.

I'm thinking it's not doc, but rather octal handling, perhaps on the reading of th

[2017-12-11 22:02] surajsub commented on #264
@AranVinkItility - thanks for issue hijack - i did have the same issue :-) . Updated the template as per your fix 👍  - thanks got past the issue .

[2017-12-11 22:32] dannyk81 opened #310 "Ability to define multiple scsi controllers with different types"
### Terraform Version
`Terraform v0.11.1`

### vSphere Provider Version
`provider.vsphere v1.1.0`

### Affected Resource(s)
- `vsphere_virtual_machine`

### Expected Behavior
Be able to specify the scsi controller type per disk

### Actual Behavior
`scsi_type` parameter is a general parameter per VM and all controllers created on this VM will be of the same type.

### Important Factoids

We are de

[2017-12-11 22:48] vancluever commented on #310
Hey @dannyk81, sorry you are experiencing trouble.

The decision to use a single SCSI controller type for the entire virtual machine was a deliberate decision to simplify device management across all virtual disks. Hence, this something that we will not be supporting any time soon.

FWIW, when we made the decision to use PVSCSI as the default controller type, I did check to see what kind of suppor

[2017-12-11 22:48] #310 closed

[2017-12-11 22:53] dannyk81 commented on #310
Thanks for the clarifications! we are going to make an attempt to use pvscsi for boot, hoping for the best 😄

[2017-12-12 12:05] ariva07 commented on #306
It's more environment problem, not terraform nor provider itself. I found one of our host does not properly communicate with the vcenter server each time.

[2017-12-12 13:02] #306 closed

[2017-12-12 14:29] jason-azze commented on #284
@vancluever I understand your explanation and will probably split my module into two, yet I can't help but whine a little more. There's still some magic happening. :zap:

I tried commenting out the `windows_options` section of my customization block in my example above, so that I could quickly move forward to test things out. But then Terraform got upset that I don't have any customization options

[2017-12-12 18:12] tommymunter commented on #265
Hi for #265 there is à fix in 1.0.2
I am running the latest version now. Works fine

[2017-12-12 19:26] alexholliz opened #312 "Terraform - timeout waiting for customization to complete"
### Terraform Version
### vSphere Provider Version

`Terraform v0.11.1`
`+ provider.vsphere v1.1.0`

### Affected Resource(s)

Please list the resources as a list, for example:
- `vsphere_virtual_machine.vm`

### Terraform Configuration Files

[code]

### Expected Behavior

Terraform Apply should have spun up the VM and customized it from the template

### Actual Behavior

The VM hung on first boo

[2017-12-12 21:44] adnoh commented on #308
@perbly the typos in your config are just copy / paste errors?
""ibiza-cluster1/Resources/Normal""
"ubuntu-1604

[2017-12-12 22:40] ntrvic opened #314 "Cannot provision VM w/o resource_pool_id"
Hello,

I was using vsphere provider 0.4 and just tried to update. One big problem is that our vsphere setup does not use resource pools of any sort. I have scanned through the docs, and one section mentions
[code]
However, I am no longer able to provision vms. I tried defining a default RP with cluster name/uuid, but no luck. Please advise. Is this intended behavior?

Thanks,
Victor

Terraform v0

[2017-12-12 23:29] d10sbt commented on #265
ok @tommymunter ! I've tried it and it works perfectly
thanks!!!

[2017-12-13 13:23] jason-azze commented on #314
Hi @ntrvic . I believe that `resource_pool_id` is required.

I have a vSphere lab environment with no defined resource pools, and my codes contains:

A datasource:
[code]
And a `resource_pool_id` (required by the Terraform resource)
[code]
Because I don't have a resource pool, I set the value of my variable `resource_pool_designator` to empty.
In my variables.tf
[code]

And then in my tfvars file

[2017-12-13 16:33] jason-azze opened #316 "clone from template - network_interface.0: ServerFaultCode: The object or item referred to could not be found"
### Terraform Version
Terraform v0.11.1
+ provider.vsphere v1.1.0

### Affected Resource(s)

Please list the resources as a list, for example:
- `vsphere_virtual_machine`

### Terraform Configuration Files
(Lots of trimming here.)
The called module
[code]

### Successful Plan Output
[code]
### Errors on apply
[code]

### State after failed apply
[code]
And I am left with 3 VM "stubs" in vSphere. T

[2017-12-13 16:47] vancluever commented on #316
@jason-azze can you check your template's NIC and see if it has a valid network visible to where it is currently located?

If it it doesn't, can you set one, and try the clone again?

Thanks!

[2017-12-13 18:40] jason-azze commented on #316
My template did not have a network label assigned to it. I selected a network for the template and tried again. Now I am on to the next error. :-)

[code]
I am going to try removing this
[code]
which I had in place for safety. But I don't think I need it. I am not doing a linked clone.

[2017-12-13 19:44] jason-azze commented on #316
`terraform state list` returned nothing after I rm'ed all of the state, but I got the error mentioned above in my comment update.
I then blew away my `terraform.tfstate` file, ran a new plan and apply, and got success.

[code]
So something was left in the state file that wasn't listable.

[2017-12-13 19:47] vancluever commented on #316
OK - yeah I think the issue here is we need to allow cloning with empty NIC names.

I think this might be safe to do across the board - while we require it in config, I don't think it's a dangerous scenario if we skip reading the network if it doesn't exist. We could possibly even exclude it from updates if it's absent, but that would need checking on.

[2017-12-13 20:43] pfrayer commented on #2
Is this issue still true with the new version of vSphere provider ?
https://www.hashicorp.com/blog/a-re-introduction-to-the-terraform-vsphere-provider

I don't have any vSphere around me to test it

[2017-12-13 20:54] vancluever commented on #295
Further details on this. In light of this, I want to get away from using file name to track virtual disks and switch to another scheme, discussed below.

[Source](https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.vcenterhost.doc/GUID-AB266895-BAA4-4BF3-894E-47F99DC7B77F.html)

This has been confirmed by manual testing.

As such, the stop-gap for now will be to block all storage vMot

[2017-12-13 20:56] vancluever commented on #2
Hey all,

Storage cluster support is a feature that is still currently on the roadmap. Conservatively, I would expect it in a couple of months, released around the time of our support for DRS and storage DRS, but the actual release time may be different.

Hope this helps!

[2017-12-13 21:04] pfrayer commented on #2
Thanks for the update @vancluever :) And it's nice to ear about DRS support !

[2017-12-14 02:53] rismoney commented on #299
Do you need additional info for this?  This one is causing a lot of usability issues for us as our pipeline cannot work around this without state mucking, as we provision and destroy often and the latter not always via TF.

[2017-12-14 06:33] vancluever commented on #299
@rismoney, sorry for the delay. This was confirmed as being incorrect behaviour when the bug tag as added to it, and it's a relatively trivial fix, but there has just been a focus on adding safety to the virtual disk lifecycle before focusing on the other bugs. Now that that's out of the way, we will have time to focus on this and other other post-1.1 issues.

Thanks!

[2017-12-14 07:26] perbly commented on #308
Yes, they are copy paste typos @adnoh we use datasource lookup up for them using a homemade CMDB so i just replaced the value with something.

[2017-12-14 12:04] tianomonteiro commented on #2
Thanks for the update @vancluever .

[2017-12-14 12:13] amarruedo commented on #243
First of all, sorry if this is not the place for making questions, but I'm having a really difficult time trying to deploy a CoreOS vm machine on vSphere.

I imported a CoreOS OVA file, then created a virtual machine template, and finally, I'm trying to create the virtual machine using that template.

@vancluever when you point this:

How do you set up the `extra_config` property? I'm doing this

[2017-12-14 14:34] ntrvic commented on #314
Thanks! That helped me get passed.

[2017-12-14 14:34] #314 closed

[2017-12-14 15:45] nvideau opened #320 "computed name leads to error when cloning"
### Terraform Version

Terraform v0.11.1

### vSphere Provider Version

provider.vsphere v1.1.0

### Affected Resource(s)

vsphere_virtual_machine

### Terraform Configuration Files

[code]

### Expected Behavior

computed name bypassed

### Actual Behavior

Error: Error refreshing state: 1 error(s) occurred:

2017/12/14 16:40:12 [ERROR] root: eval: *terraform.EvalDiff, err: disk.0: invalid disk n

[2017-12-14 15:47] nvideau commented on #320
on version 0.4.2 I was using an uuid in the name of my cloned VMs and it worked well

[2017-12-14 16:04] vancluever commented on #320
Hey @nvideau, this is a current limitation of how we are validating the disks, and is probably not something we will be fixing in this current minor version cycle. The reason is exactly as you mentioned it - there is a computed value there, but as we use the `name` field while processing the diff to track a disk's lifecycle, it's very important that it's available in its complete form at the time

[2017-12-14 16:20] jason-azze commented on #320
@vancluever Maybe I'm misunderstanding "make sure the extra validation is there to ensure that both VM and disk name cannot be a computed value for now", but if we can't use computed names for both (to make sure the disk name matches the VM name), how do we do it? I can't hard-code 1000 VM names. :-)

[2017-12-14 16:51] vancluever commented on #320
@jason-azze not all "computed" values are problematic - when I say _computed_, I mean the value must be known at plan-time. This generally means anything is okay in that field for interpolation except for the unknown output of a resource (ie: IDs generated from other resources, or in this case, the `hex` attribute of the `random_id` resource). Hope that helps!

[2017-12-14 17:19] vancluever commented on #289
Hey @d10sbt, this should have been fixed in 1.0.2 - if you can update your plugin to the latest version and give it a go that would be great. If you still have issues - can you submit an issue against the [vSphere provider project](https://github.com/terraform-providers/terraform-provider-vsphere) rather than Terraform core?

Thanks!

[2017-12-14 17:19] #289 closed

[2017-12-14 17:20] vancluever commented on #264
Hey everyone, closing this now as it appears the issues were fixed and due to configuration issues. 1.1 and higher should have better validation for specific issues like this and we will continue to add more as they come up.

Thanks!

[2017-12-14 17:20] #264 closed

[2017-12-14 20:15] ntrvic opened #323 "VM cannot boot off template"
Hello,

I have recently upgraded from 0.4 to 1.1. I am having trouble cloning off of a template. The system fails to boot with a dracut error. I build the template using packer. I am using Centos7 and `autopart` for my partitions. My terraform config looks roughly like:

[code]

the error I am seeing is

![screen shot 2017-12-14 at 2 33 44 pm](https://user-images.githubusercontent.com/5298940/3401

[2017-12-14 20:22] #299 closed

[2017-12-14 20:23] #286 closed

[2017-12-14 20:31] vancluever commented on #323
Hey @ntrvic, sorry you are having trouble. Have you by any chance looked in the `rdsosreport.txt` file after it goes to emergency boot to see what it says?

[2017-12-14 20:34] vancluever commented on #323
Also, I noticed that you don't have `scsi_type` set to the type discovered from the template - you might want to try that. Refer to the [full cloning example](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#cloning-and-customization-example) for info. It might be that the initrd was written with just the SCSI driver that was needed to load the specific controller and not muc

[2017-12-14 22:59] ntrvic commented on #323
interesting, the default is lsilogical, but when I set it explicitly, that did the trick. Thanks!

[2017-12-14 22:59] #323 closed

[2017-12-15 00:34] vancluever commented on #295
Now that 1.1.1 is out and we've mitigated this, I've removed the "bug" label from this so that it's classified as an enhancement, and it will be taken care of in the next set of changes for possibly 1.2 or 1.3.

[2017-12-15 00:37] vancluever commented on #3
Closing this issue - it's dated, and since cloning and customization is now sufficiently de-coupled in the 1.x version of the resource (or more explicitly so), I don't think there are many workflow issues here.

[2017-12-15 00:37] #3 closed

[2017-12-15 00:38] vancluever commented on #4
This has been fixed with the new version of the resource (additional disks can be added to a clone in pretty much the way you would expect, no special work necessary).

[2017-12-15 00:38] #4 closed

[2017-12-15 00:40] vancluever commented on #5
This issue is dated, and with the 1.x release, the referenced bug is more than likely no longer relevant. If anyone is still getting a crash related to this issue, please open a new issue with the pertinent details!

[2017-12-15 00:40] #5 closed

[2017-12-15 00:42] vancluever commented on #10
Hey all, with the release of 1.x, this issue is no longer relevant to the current state of the provider. Networks are now fetched with the [`vsphere_network` data source](https://www.terraform.io/docs/providers/vsphere/d/network.html) and passed into network interfaces via their managed object IDs, so there is little room for ambiguity. If there is still a problem though, please open a new issue w

[2017-12-15 00:42] #10 closed

[2017-12-15 11:13] RyanD0001 commented on #312
Hi Vancluever is there any way of delaying the customisation as it seems to run before the vm is turned on?

[2017-12-15 16:35] jason-azze opened #324 "create_before_destroy with VM name collision results in destruction without creation"
This is a story of user error, but there might be room for a safety check.

### Terraform Version
Terraform v0.11.1
+ provider.vsphere v1.1.0

### vSphere Version
6.5.0 build 4944578

### Affected Resource(s)

- `vsphere_virtual_machine`

### Terraform Configuration Files
A module with a computed VM name and a create_before_destroy lifecycle.
[code]

### Debug Output
A picture of the vSphere clien

[2017-12-15 17:02] vancluever commented on #324
@jason-azze this is interesting and I'm curious as to what the output from TF was - this will help us determine if this is a provider issue or a TF core issue. We do return error on name collisions (and I've seen proper graceful errors many a time as part of it) so I'm wondering if something in the CBD logic is causing the failed create from being ignored.

Thanks!

[2017-12-15 18:16] vancluever commented on #312
Hey all, sorry for the delay in replying to this one.

@alexholliz your issue sounds like an issue with the VM itself, in order to figure out what is going on you will need to look at the server itself. You can check the logs at the locations documented [here](https://kb.vmware.com/s/article/1026317) (note the article applies to vCloud Director but as mentioned in the article, the same process app

[2017-12-15 18:27] RyanD0001 commented on #312
Hi @vancluever thanks for your response, I just found my issue, it was down to a registry setting and sysprep.

Thanks

[2017-12-15 18:34] jason-azze commented on #324
Here's the output from the apply. The errors relevant for this issue are the ones for the "cent69" and "dev-util" machines. The Windows vmdk errors are something else I need to investigate.
[code]
The result of this run was a totally empty folder. All of my VMs were destroyed and none created. Luckily I'm still working in my pre-prod testing environment.

[2017-12-15 18:55] vancluever commented on #312
Awesome - thanks for updating this @RyanD0001!

[2017-12-15 20:08] pasikarkkainen commented on #243
extra_config {
    guestinfo.foo = "bar"
  }

Inside the guest I can see the value of key "foo" with command: vmtoolsd --cmd "info-get guestinfo.foo"

So that syntax definitely seems to work for me, using terraform v0.11.1 and vsphere provider v1.1.1.

[2017-12-15 20:39] tdanner01 commented on #41
@ydnitin have you seen tried to use the Microsoft Time Zone Index Values?
https://msdn.microsoft.com/en-us/library/ms912391(v=winembedded.11).aspx

I had the same problem using VMware's 'Valid timeZone Values'.

[2017-12-15 21:30] vancluever commented on #324
Thanks @jason-azze, just wanted to add that I did try this with a basic config that I just tainted, and the name conflict did seem to block the CBD properly, with the already created VM still alive.

Have to troubleshoot further but it does look like the base CBD logic is working here.

[2017-12-16 23:09] surajsub opened #325 "Query on SCSI Controller"
### Terraform Version
0.10.7

### vSphere Provider Version
1.1.1
- vsphere_virtual_machine`

more of a query than an issue . I'd like to know if it's possible to create disks + attach them to a specific scsi_controller .

By enabling the scsi_controller_count - i can add more scsi controllers but what i want to do is -

disk1 to be attached to scsi_controller 1
disk2 to be attached to scsi_control

[2017-12-17 21:16] ydnitin commented on #41
I think I did at the time when I opened this issue. Closing this for now as it's too old.

[2017-12-18 13:43] ctramnitz opened #326 "resource_pool_id without DRS"
When DRS is not enabled (i.e. due to licensing: Essentials, Essentials Plus, Standard) no resource pools can be created. But resource_pool_id is a mandatory parameter.

I've got mine by importing a VM and looking at the state file, but I think resource_pool_id should not be mandatory when there are cases where there is none (visible). Even with govc ls I could not find a pool in my installation.

[2017-12-18 14:28] jason-azze commented on #326
Hi @ctramnitz.  #262 and #314 have some background/discussion of this topic.

The "Specifying the default resource pool for a cluster" section of the doc here https://www.terraform.io/docs/providers/vsphere/d/resource_pool.html might be improved by mentioning the license limitations or by better describing the use case. It's not always clear to new users that not having a resource pool actually me

[2017-12-18 15:19] ctramnitz commented on #326
Thanks and sorry for the duplicate, I was only searching for license related issues in already closed issues. #314 was most helpful, this is what I implemented now.

[2017-12-18 17:18] vancluever commented on #325
Hey @surajsub, this is indeed possible, you just need to make sure you adjust the `scsi_controller_count` to the number of controllers that you need and adjust the `unit_number` of the `disk` to the specific address space for the controller that you want. Each controller has 15 slots, so `unit_number` 15 to 29 will work for the second controller, 30 to 44 will be the third controller, and 45 to 59

[2017-12-18 17:18] #325 closed

[2017-12-18 17:19] vancluever commented on #312
Hey all, closing this now as it's been a few days - if there is a problem with what has been mentioned here feel free to open a new issue with the pertinent details.

Thanks!

[2017-12-18 17:19] #312 closed

[2017-12-18 18:03] vancluever commented on #9
This was implemented as the [`vsphere_vitrtual_machine_snapshot`](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine_snapshot.html) resource back in September.

[2017-12-18 18:03] #9 closed

[2017-12-18 18:06] vancluever commented on #11
Hey all, this functionality has been moved to the [`vsphere_network`](https://www.terraform.io/docs/providers/vsphere/d/network.html) data source, and the search works pretty much like you would expect it to work with a command-line tool like `govc`, allowing a search on any path that is allowable in that tool.

`vsphere_virtual_machine` now takes the output of this as a parameter for network inte

[2017-12-18 18:06] #11 closed

[2017-12-18 18:09] vancluever commented on #13
This bug is rather old, and as we have since released v1.0.0 with a re-written virtual machine resource, is probably out of date. MAC address is now indeed controllable via the [`mac_address`](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#mac_address) parameter.

If there are problems with this process, please feel free to open a new issue.

Thanks!

[2017-12-18 18:09] #13 closed

[2017-12-18 18:11] vancluever commented on #16
Hey all,

This is a rather old issue and since the 1.0.0 release of the provider, is no longer relevant. Customization spec data has now been de-coupled from the resource and modifications to the VM post-deployment will no longer trigger a diff in this fashion.

Thanks!

[2017-12-18 18:11] #16 closed

[2017-12-18 18:13] vancluever commented on #17
This is a rather old issue/roadmap. Most of the items mentioned here have been added as parameters in the new version of the resource, with very little actually forcing a new resource (currently only cloning and customization options). View the [full documentation](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html) for the resource for further details.

[2017-12-18 18:13] #17 closed

[2017-12-18 18:15] vancluever commented on #18
This issue is rather old and has actually been fixed in the 1.x version of this resource - working with disks in this fashion no longer forces a new resource.

For full documentation on the new version of this resource, click [here](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html).

[2017-12-18 18:15] #18 closed

[2017-12-18 18:16] vancluever commented on #19
This is a dated issue and has been fixed in 1.0.0 now where there are required fields in most sub-resources, and said sub-resource fields are being checked for valid data with `ValidateFunc`s or at diff customization time.

[2017-12-18 18:16] #19 closed

[2017-12-18 18:17] vancluever commented on #20
Resolved as the tests were largely refactored some time ago.

[2017-12-18 18:17] #20 closed

[2017-12-18 18:20] vancluever commented on #21
This issue has been resolved in a couple of ways:

* Network interface order is now 100% implicit - the fist interface declared is now the first one on the bus, second one is the second, etc. You get what you see when you assign networks to these interfaces.
* VM customization has been de-coupled from the actual management of the hardware, and only gets applied at the time of creation of the virtu

[2017-12-18 18:20] #21 closed

[2017-12-18 18:22] vancluever commented on #25
This should have been fixed a while ago since we added in the customization waiters (back in 0.3.0).
All of our waiter timeouts have now since become customizable. Check [here](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#customization-and-network-waiters) for more information on how we use waiters on the resource.

[2017-12-18 18:22] #25 closed

[2017-12-18 18:26] vancluever commented on #26
This should have been fixed with the 1.0.0 version of this resource as we now only apply incremental changes to network interfaces after cloning - so if a NIC has the correct settings except for network, we don't re-create or otherwise touch the interface other than changing the network that it's connected to. This workflow is the same as it would be if you were to edit a network interface in-plac

[2017-12-18 18:26] #26 closed

[2017-12-18 18:27] vancluever commented on #28
This issue has been resolved in the 1.0.0 release and modifying a VM's disks will no longer force a re-creation of the resource.

[2017-12-18 18:27] #28 closed

[2017-12-18 18:29] vancluever commented on #29
This should have been fixed in the 1.0.0 release with the large overhaul to virtual device management logic.

[2017-12-18 18:29] #29 closed

[2017-12-18 18:32] vancluever commented on #30
As the interface of the resource has changed dramatically since the 1.0.0 release, this issue is not necessarily relevant anymore - hopefully the [network interface options](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#network-interface-options) section addresses this sufficiently.

Thanks!

[2017-12-18 18:32] #30 closed

[2017-12-18 18:34] vancluever commented on #31
Hey all, since the release of 1.0.0, the workflow of the resource has changed dramatically. Further to this there seems to be some issues complicating this like configuration of the template, so if you are still having issues, I would advise to look at the [customization and network waiters](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#customization-and-network-waiters) s

[2017-12-18 18:34] #31 closed

[2017-12-18 18:35] vancluever commented on #32
Tags were added in [0.4.0](https://github.com/terraform-providers/terraform-provider-vsphere/blob/master/CHANGELOG.md#040-september-29-2017) back in late September.

[2017-12-18 18:35] #32 closed

[2017-12-18 18:39] vancluever commented on #33
Closing this one due to age and relevance since the release of 1.0.0 probably changes the logic on this drastically. Namely, we no longer worry about waiting on guest network during refresh (only on creation and update), and there is a [timeout](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#wait_for_guest_net_timeout) configurable in the case you don't have VMware tools in

[2017-12-18 18:39] #33 closed

[2017-12-18 18:40] vancluever commented on #34
This should have been 100% resolved in 1.0.0 as network interface order is now 100% implicit from what is in the configuration and is documented as such. If there are still problems feel free to open a new issue.

Thanks!

[2017-12-18 18:40] #34 closed

[2017-12-18 18:42] vancluever commented on #35
This should now have been 100% fixed in the 1.0.0 release. For more information on network interface customization, see the [relevant section](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#network-interface-settings).

[2017-12-18 18:42] #35 closed

[2017-12-18 18:43] vancluever commented on #36
This should have been fixed with the 1.0.0 release as it makes drastic changes to how disk devices are managed.

[2017-12-18 18:43] #36 closed

[2017-12-18 18:51] vancluever commented on #37
Hey all, I'm changing this one to an enhancement - I'm not too sure if this will be possible as VMDKs are possibly the only place that this magic functionality occurs and depending on if there is a way we can handle this in the API, there may not be too much we can do here.

In the meantime I would recommend using different methods to upload VMDKs.

Thanks!

[2017-12-18 18:53] surajsub commented on #325
Awesome !! - that worked - Thanks

[2017-12-18 18:54] vancluever commented on #219
Hey @pryorda, you can refer to the documentation [here](https://www.terraform.io/docs/providers/vsphere/r/folder.html#importing) for the import syntax.

Closing this one now a it's not really a bug but an (answered) question.

Thanks!

[2017-12-18 18:54] #219 closed

[2017-12-18 18:55] vancluever commented on #38
Creation of subfolders should work so long as you specify multiple resources as documented [here](https://www.terraform.io/docs/providers/vsphere/r/folder.html#example-with-subfolders).

[2017-12-18 18:55] #38 closed

[2017-12-18 18:56] vancluever commented on #39
This documentation has been generalized and you can see the new requirements for permissions [here](https://www.terraform.io/docs/providers/vsphere/index.html#notes-on-required-privileges).

[2017-12-18 18:56] #39 closed

[2017-12-18 19:12] vancluever commented on #40
This is a dated issue, but just some clarification around this: Unfortunately, this is due to API differences in the different methods that make up virtual disks. The underlying specs - [`VirtualDiskSpec`](https://pubs.vmware.com/vsphere-6-5/topic/com.vmware.wssdk.apiref.doc/vim.VirtualDiskManager.VirtualDiskSpec.html) for the `vsphere_virtual_disk` resource, and [`VirtualDiskFlatVer2BackingInfo`]

[2017-12-18 19:12] #40 closed

[2017-12-18 20:58] Matty9191 opened #327 "Add option to control VM power states"
Howdy,

I finally got a chance to play with the vsphere provider. The provider rocks and I want to thank you for all the hard work you did on i!!! We use cobbler to provision systems and I bumped into an issue this morning. Cobbler uses the mac address to connect a given system with a profile during the PXE boot process. I would like to be able to use the mac address assigned to the VM when it is

[2017-12-18 21:13] vancluever commented on #327
Hey @Matty9191, sorry, but this is something that I don't think will ever be implemented. I'm not going to go so far as to say that it doesn't have precedence anywhere else in TF-land, but the general philosophy is that an instance either has two states - on or gone. This was actually something we enforced for a brief period from 0.3.0 until 1.0.0 when we took an approach similar to the `aws_insta

[2017-12-18 21:13] #327 closed

[2017-12-18 21:17] joppa27 commented on #271
@ephos I had the same error when I upgraded to the `1.1.0` vsphere provider and I'm on `vSphere 6.0`.
For me it turned out to be an issue with my remote_state file. On a recommendation from @jwieringa I deleted the remote state file and that got rid of the `uuid` not found error.

[2017-12-18 21:20] hashibot opened #328 "Terraform Vsphere provider - picks BIOS firmware when cloning"
_This issue was originally opened by @ageoffron as hashicorp/terraform#16945. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

When performing a clone based deployment using the vsphere provider.
I noticed that even though the source template had its firmware set t

[2017-12-18 21:21] Matty9191 commented on #327
Hey Chris,

Thanks for the feedback. I'm doing something very similar to what you proposed above and appreciate the well written NO. ;) Thanks again for the feedback and I appreciate all the hard work you've done!

- Ryan

[2017-12-19 01:55] alexholliz commented on #312
I followed the recommendations in https://github.com/terraform-providers/terraform-provider-vsphere/issues/323 and defining the scsi device fixed the problem. This can remain closed!

[2017-12-19 09:15] amarruedo commented on #243
Based on [this](https://github.com/coreos/tectonic-installer/issues/1729#issuecomment-323556282) comment I am starting to think that my problem is related to that vApp option disabling part. The problem is that the IT guys of my company have told me that we don't own the appropriate license to enable DRS, so I cannot interact with that vApp option tab (that tab is missing in my virtual machines).

[2017-12-19 10:46] kennylindholm commented on #290
This also happens on v1.1.1

[2017-12-19 14:54] vancluever commented on #41
Hey @ydnitin, will do. By the way, this has been separated from the Linux timezone options now and is now explicitly controlled by the [`time_zone`](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#time_zone-1) option in the Windows customization block.

[2017-12-19 14:54] #41 closed

[2017-12-19 14:56] vancluever commented on #42
This was added in 1.0.0 and can be controlled by the [`num_cores_per_socket`](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#num_cores_per_socket) option.

[2017-12-19 14:56] #42 closed

[2017-12-19 14:57] vancluever commented on #46
This should be a lot less ambiguous in 1.0.0 with the movement of this logic to a data source and the VM resource taking an ID instead. If there's still an issue feel free to open a new issue!

[2017-12-19 14:57] #46 closed

[2017-12-19 15:01] vancluever commented on #47
Hey @byronrau, this is actually an issue with TF core (and ironically the issue was migrated here).

You can track the problem in hashicorp/terraform#3536 and related tickets. It generally crops up when using VPNs (and I'm assuming other high latency or lossy networks), but may not be exactly restricted to that.

Unfortunately I can't really do much about it here, so I'm going to close it in lieu

[2017-12-19 15:01] #47 closed

[2017-12-19 15:05] vancluever commented on #48
Hey @mrmarbury, this issue is dated and also not necessarily something that is on the roadmap right now. Session keepalive is something that would require a significant effort to implement and is not something that is in our plans for now or the forseeable future, I'm just going to close this issue. It's not out of the realm of possibility that we would add this in the future, but I don't want to

[2017-12-19 15:05] #48 closed

[2017-12-19 15:08] vancluever commented on #49
Hey @ChloeTigre, even though this issue is very old, this is ironically an issue that has re-surfaced since we have moved to 1.0.0. We are tracking it in #295, and it's something I'm hoping to get done for 1.2.0 or 1.3.0.

You can watch that issue for more developments!

[2017-12-19 15:08] #49 closed

[2017-12-19 15:10] vancluever commented on #50
As this issue is rather dated and since 1.0.0 changed the implementation of this resource drastically, I'm going to close this one out. If there are still issues here, feel free to open a new issue!

[2017-12-19 15:11] vancluever commented on #51
Closing this one out due to age and relevance now. In the new version of the VM resource, cloning and customization options are currently the only things that force new resources.

Thanks!

[2017-12-19 15:11] #51 closed

[2017-12-19 15:12] vancluever commented on #52
Hey all, with the release of 1.0.0 and the shift of this logic to data sources, this issue is probably dated and not necessarily relevant anymore. As such, I am closing it out - if anyone is still having issues, please feel free to open a new issue.

Thanks!

[2017-12-19 15:12] #52 closed

[2017-12-19 15:14] vancluever commented on #53
Hi! As this issue is rather dated and there has been work done to the `vsphere_folder` resource, this issue may no longer be relevant. If you have similar problems after updating, feel free to open a new issue!

[2017-12-19 15:20] hashibot opened #330 "Square brackets in network name - not allowed, vsphere provider"
_This issue was originally opened by @marekmrowca as hashicorp/terraform#16952. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi,
I have a network name with square brackets, e.g. [100]MyNetwork, and it's not found by Terraform during apply. I tried to escape the

[2017-12-19 17:07] Matty9191 commented on #327
Hey @vancluever ,

I was experimenting with your suggestion above and I still think there is an issue. If I create a vm resource with the following local provisioner:

[code]
This will never run because the VM creation process fails since it can't PXE boot:

[code]
I was reading through the apply documentation and I don't see a clean way to do this since the vsphere_virtual_machine resource requir

[2017-12-19 17:20] hashibot opened #331 "Vsphere provider, changing network name(label) recreates a VM instead of just updating"
_This issue was originally opened by @marekmrowca as hashicorp/terraform#16953. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi,
When I am changing network name terraform will destroy existing VMs and create them again, instead of just update and restart.
Is th

[2017-12-19 17:42] vancluever commented on #331
Hey @marekmrowca, this was fixed in 1.0.0.

The interface has significantly changed since 0.4.2, so when you upgrade please review the [new resource documentation](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html) for information on what needs to change.

Thanks!

[2017-12-19 17:42] #331 closed

[2017-12-19 17:49] vancluever commented on #327
Hey @Matty9191, the network waiter currently waits on a routeable IP address - this could mean an issue with customization or your VM does not have a default gateway. If you can't get past it you can always tweak [`wait_for_guest_net_timeout`](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#wait_for_guest_net_timeout) to get past that issue. You can read more about the waite

[2017-12-19 18:04] #320 closed

[2017-12-19 19:08] Matty9191 commented on #327
Thanks again @vancluever! wait_for_guest_net_timeout hit the spot! Everything is working now and I don't foresee any side effects from the routeable IP address given the way we plan to provision VMs. My plan is to use a provisioner to register the VM with our CMDB, provision the VM, PXE boot it with cobbler then let ansible finish the final configuration. As the very last step in the process I wil

[2017-12-19 19:17] vancluever commented on #327
@Matty9191 thank you for the kind words and I'm glad everything is working for you now! Nice to hear feedback of this kind of scale :+1:

[2017-12-19 20:16] ydnitin commented on #41
@vancluever appreciate the update.

[2017-12-19 23:31] #326 closed

[2017-12-20 11:02] marekmrowca commented on #330
I upgraded the vsphere provider and the result is the same. Still not found when square brackets are used.

[code]

[2017-12-20 16:38] vancluever commented on #330
@marekmrowca can you try URL escaping those brackets? Something like:

[code]

[2017-12-20 16:49] sofixa commented on #330
If i may just pitch in, we've had issues with square brackets (after upgrade from 6.0 to 6.5, ESXi decided that if there are square brackets, it must be a datastore, so every modification / addition of network interfaces ended with "Invalid datastore name" errors), so it might be a good idea not to allow them.

[2017-12-20 17:25] Xat59 commented on #101
I'm agree with @yaso195 , that could be nice to track the issue.

Thank a lot guys !

[2017-12-20 19:25] vancluever commented on #101
@yaso195 and @Xat59, this was fixed in [0.3.0](https://github.com/terraform-providers/terraform-provider-vsphere/blob/master/CHANGELOG.md#030-september-14-2017) and has been available since that release. For information on the current behaviour of our waiters please see [this](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#customization-and-network-waiters) section in the V

[2017-12-20 19:33] vancluever commented on #330
@sofixa, just for clarification, are you referring to a bug in ESXi or in Terraform?

[2017-12-20 20:20] djhaskin987 opened #333 "I can't import a machine with a clone block in it"
### Terraform Version

[code]

### vSphere Provider Version

[code]

### Affected Resource(s)

- `vsphere_virtual_machine`

### Configuration File and Steps to Reproduce

Basically, I have a `vsphere_virtual_machine` block that has a `clone` block in it.

I do a `terraform state rm <virtual-machine-object>` and reimport it.
Finally, I run a `terraform plan`. I get an error message generated by [th

[2017-12-20 20:24] jason-azze commented on #182
Here's a post 1.1.0 update.
I successfully provisioned some VMs by cloning MyTemplate.v1.
I then changed the value of `name` in my templatesource to MyTemplate.v2 by changing the value of my variable, `template_choice`.
[code]
I then ran a new plan, and Terraform didn't want to destroy or change anything. This is an improvement in one sense. It didn't try to change the OS disk of a running VM. But

[2017-12-20 20:26] almoore commented on #333
+1

[2017-12-20 20:31] sofixa commented on #330
Sorry for the confusion, purely an ESXi bug.

[2017-12-20 20:33] vancluever commented on #333
@djhaskin987 and @almoore, this is currently intended behaviour. Importing does not populate the `clone` sub-resource at all, hence on the next plan, it would force a new resource. This is blocked explicitly to prevent accidental deletion.

There have been some offline requests to change this behaviour and I can see the value in not duplicating your configs, as such I will mark this as an enhancem

[2017-12-20 20:35] vancluever commented on #182
@jason-azze, you are 100% correct here:

By doing this you are still using the same template technically, so the UUID will not change. You need to select a different template altogether.

[2017-12-20 20:37] djhaskin987 commented on #333
This means that either I can import *all* my VMs, or I can clone them, but I can't do both. I can't tell Terraform how to make a new VM and also tell Terraform that a previously created one exists.

I understand that this is a complicated task and the vsphere soap api doesn't make it easier, but I can't really use this provider (or pitch it to the ops team) if I don't have the assurance that I can

[2017-12-20 20:51] vancluever commented on #333
@djhaskin987 to be fair, this is more of a TF issue than it is a vSphere issue. :slightly_smiling_face:

I have some ideas around how this can be implemented, so it might be reasonable to see this in 1.2.0 or 1.3.0 in the new year. Stay tuned!

[2017-12-20 20:52] djhaskin987 commented on #333
"not duplicating your configs" - does that mean there's a workaround involving using a few extra config blocks? If so, I welcome it and would happily use it instead. Is there such a workaround?

[2017-12-20 21:06] vancluever commented on #333
@djhaskin987 yeah, importing those VMs with a config that doesn't have the `clone` block in it will be okay.

What I would do (personally, not saying this applies to your org) is just run the current projects out of a different config repo for now, maybe using a variation of your `ranchermgr` module that has had the `clone` block removed, but with the rest of the config intact.

Even further, if y

[2017-12-21 04:59] danthedapperman commented on #291
I would love to see this, too :-)  Since libraries can be local or remote, supporting both is good

[2017-12-21 05:21] bioxcession commented on #182
Awesome! I didn't realize this has been implemented. I will give it a try tomorrow.

[2017-12-21 05:31] seanmalloy commented on #291
I would love to see this too!

[2017-12-21 06:41] devtook opened #334 "Error: vsphere_virtual_machine: "network_interface": can not use list from data source"
### Terraform Version

Terraform v0.11.1

### vSphere Provider Version
├── provider.null
└── provider.vsphere   1.1.0

### Affected Resource(s)

- `vsphere_virtual_machine: "network_interface"`

### Terraform Configuration Files

[code]

### Debug Output

[code]

[code]

### Panic Output

### Expected Behavior

[code]

### Actual Behavior

`Error: vsphere_virtual_machine.instance: network_interfac

[2017-12-21 21:44] saptaji opened #335 "vSphere provider wishlist"
I have this wishlist for vSphere provider.

1. Snapshot Data Sources
    Want to be able to retrieve a list of snapshots for a VM so we can switch around which snapshot need to be active at a time.
    Use case: we have 'build' and 'test' servers and a couple of snapshots on those servers.
    We activate a certain snapshot depend on what application that needs to be built or test.

2. CDROM
    N

[2017-12-21 21:49] Matty9191 commented on #274
+1 for this.

[2017-12-22 00:30] vancluever opened #336 "Windows VMs not having their SIDs re-generated"
We have a report in #335 that Windows VMs are not having their SIDs re-generated on clones.

This needs to be investigated - this should be something that should be happening by default, if at all possible.

This was empirically checked when we were rolling out 1.0.0 and I thought it was functional, although it could have been a by-product of how our image was built (it was sysprepped at one point

[2017-12-22 00:37] vancluever commented on #336
Update: After re-reading #335, it appears that the VM was not necessarily customized - if that's the case, then this is working as intended because we do not customize VMs where customization is not requested on, hence sysprep will not run.

Just to ensure all context is supplied for anyone else reading this issue.

[2017-12-22 00:40] vancluever commented on #335
Hey @saptaji, just wanted to address these point-by-point:

## VM Snapshot Management/Data Sources

Unfortunately, I don't think this is a good fit for the vSphere provider and it will probably never get implemented. We already rejected a `vsphere_virtual_machine_snapshot_revert` resource in #107 that would ultimately be the end result of such a data source (you check there for some more detail on

[2017-12-22 00:40] #335 closed

[2017-12-22 00:46] vancluever commented on #336
@saptaji also, do you know exactly why your 2K8 machine was not correctly customized? Did Terraform kick back an error or was it an error post-deploy?

[2017-12-22 09:20] hmalinov commented on #290
First of all thank you for the awesome work guys.

Regarding the bug, it is pretty nasty one, which makes Terraform unusable in a mixed environment with 5.5 and 6.0 version of vsphere. Every time I want to do something results in >20  virtual machines restarted.

Is there a possible workaround ? Do you have an estimate when can it be solve?

Thank you once again.

[2017-12-22 11:33] marekmrowca commented on #330
Unfortunately,
urlencoding does not work neither. It returns:

[code]

I was thinking about declaring network id in network datasource, but I also got en error:
`Error: data.vsphere_network.network: : invalid or unknown key: id`

Is there a way to declare network id in main.tf configuration?

[2017-12-22 13:16] marekmrowca commented on #330
I found the workaround, which is to define network name as
 `*MyNetwork`

[2017-12-22 13:21] marekmrowca commented on #331
You're right. After the upgrade, changing networks works instantly.
Thank you!

[2017-12-22 16:16] saptaji commented on #336
@vancluever
PS D:\> terraform version
Terraform v0.11.1
+ provider.vsphere v1.1.1

This is the error message:
Error: Error applying plan:

1 error(s) occurred:

* module.createVMFromTemplate.vsphere_virtual_machine.vm: 1 error(s) occurred:

* vsphere_virtual_machine.vm:
Virtual machine customization failed on "/vm/TSTWIN2K8_SB":

timeout waiting for customization to complete

---------------------

[2017-12-22 20:43] rismoney commented on #336
what i recall seeing w/ 2008, if my memory serves me - is that sysprep was actually working/delayed on a startup but you didn't know it.  You would think it was done, and thereby reboot it, but it would not actually do the work. sometimes it could take 10 minutes after vsphere said it did to actually customize.

Now I do a custom solution w/ powercli and tf, involving inspecting guestcust.log to g

[2017-12-25 23:21] d10sbt commented on #274
+2 for this

[2017-12-27 10:41] jnahelou commented on #290
My workaround :
[code]
I hardcoded the list due to unsupported index wildcard :
[code]
``` ignore_changes = ["disk"] ``` is too much generic, I don't want to ignore others properties..
Seems like same use case as https://github.com/hashicorp/terraform/issues/5666

[2017-12-27 14:04] Xat59 commented on #59
@vancluever is this issue fixed ?

Thank team

[2017-12-27 21:25] kmott commented on #231
I am running in to this consistently with vCenter 6.0 and Debian 8 cloned from template VMs.  I can provide additional debug logs via direct message, as required.  Our environment uses DHCP for the cloned VMs, but terraform never seems to pick up the IP address reported by open-vm-tools on the VM (even though I can open a separate terminal and SSH to it directly).  Setting wait_for_guest_net_timeo

[2017-12-28 08:53] #334 closed

[2017-12-28 08:54] devtook commented on #334
terraform core issue

[2017-12-28 09:52] hmalinov commented on #290
@jnahelou Thank you, it is working perfectly .

[2017-12-29 12:25] maxadamo commented on #271
it seems to be working with plugin 1.1.1 (a side note: I still don't know how to browse/list the plugin version)

[2017-12-30 02:18] seanmalloy commented on #274
+1 for this feature

[2017-12-30 09:15] mjrider commented on #274
+4

[2017-12-31 02:46] seanmalloy commented on #291
It looks like govmomi does not support content library yet.

https://github.com/vmware/govmomi/issues/735

[2018-01-03 02:54] braddeicide opened #337 "OpenBSD guest IP detection"
OpenBSD vmware tools doesn't export routes so it never satisfies the WaitForGuestNet.
I set wait_for_guest_net_timeout = 0 to get passed that.

The host ip is never populated now though:

vsphere_virtual_machine.tf (remote-exec): Connecting to remote host via SSH...
vsphere_virtual_machine.tf (remote-exec):   Host:
vsphere_virtual_machine.tf (remote-exec):   User: vagrant
vsphere_virtual_machine.t

[2018-01-03 17:14] vancluever commented on #337
Hey @braddeicide,

The original philosophy behind waiting for a routeable address is that we need to make sure that one is reported to the provisioner, if at all possible - a non-routeable address is no good if you can't reach it.

I think the way forward here is to loosen this with a flag - something like `wait_for_guest_net_routeable` - which will be `true` by default. If `false`, it will skip t

[2018-01-03 17:16] vancluever commented on #213
Hey all - since we have significantly changed this functionality in 1.x and we have a report of it being fixed (thanks @divyenpatel!) I am going to close this. If there are indeed issues of this happening in the 1.x releases please open a new issue.

Thanks!

[2018-01-03 17:16] #213 closed

[2018-01-04 20:28] virtrixke commented on #274
Yes, definitly a useful feature...

[2018-01-05 13:41] hmalinov opened #338 "Terraform tries to change the datastores with a very similar name"
### Terraform Version

Terraform v0.11.1

### vSphere Provider Version

provider.vsphere ~> 1.1.0

### Affected Resource(s)

vsphere_virtual_machine

### Terraform Configuration Files

[code]

### Debug Output

[code]

[code]

### Expected Behavior

Terraform should make a distinguish between the two datastores.

### Actual Behavior

Terraform tries to change it and it is not successful.

### Step

[2018-01-05 16:49] vancluever commented on #338
@hmalinov, can you confirm that these datastores are not part of a datastore cluster or anything like that?

The `Finder` functionality that the datastore data source leans on is pretty particular - if it for some reason finds multiple matches, it will error. There should be no ambiguity or race conditions being caused here.

Thanks!

[2018-01-08 06:50] hmalinov commented on #338
@vancluever Yes, there is no datastore cluster. Actually it is another instance of the same datastore.
So in vcenter a virtual host is visible on both places ( which is the same place )

* [ds1test] phil-test.sofia.elex.be
* [ds1test ()1] phil-test.sofia.elex.be

I agree that this is not a good configuration, but this happens when there are ESXi hosts upgrades and live migrations.

[2018-01-08 16:01] vidkun commented on #308
I'm getting the same thing. Same error message as OP and was about to open a new issue because I didn't think it was disk related. However, I just commented out the second disk definition for each VM resource and it completed successfully just fine.

Plan gist is here: https://gist.github.com/vidkun/883e1e69c254ba04843379594de886b7

Trace Log snippet gist is here: https://gist.github.com/vidkun/54

[2018-01-08 22:33] johnjelinek commented on #264
Where do I find more details on this error in the docs? If I pick a disk size that is larger than my template, I get this error -- but I thought this should be supported if the VM disk is >= to the template.

[2018-01-08 23:31] vancluever commented on #264
@johnjelinek are you using a linked clone? If you are the disk has to be the exact same size.

[2018-01-08 23:54] johnjelinek commented on #264
@vancluever: I wasn't planning on using a linked clone -- how can I be sure? I'm just pointing to a template (the template is on an NFS datastore).

[2018-01-09 10:20] hashibot opened #341 "Terraform Crash - panic: runtime error: index out of range"
_This issue was originally opened by @jason-azze as hashicorp/terraform#17058. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files
A called module using the vsphere provider.
[code]
A bunch of calling mo

[2018-01-09 13:06] jason-azze commented on #341
I am able to reproduce this crash in the same environment. That is, after cleaning up the state and stub VMs left behind by the last crash and repeating the plan and apply, I get the crash again.

Here is the full content of the main parts of the called and calling modules.
https://gist.github.com/jason-azze/d9e3a8ced36c83a1e72ac5971d26cc40

[2018-01-09 14:41] jason-azze commented on #341
I fibbed a bit above. I also see that while I had my VM templates cracked open to change from e1000 to VMXNET 3, I also updated their compatibility from ESXi 5.5 and later (VM version 10) to  ESXi 6.5 and later (VM version 13). The target vSphere system is 6.5.

[2018-01-09 15:32] jason-azze commented on #341
Things I've tried:
1. Destroying everything, removing rm-ing all state, then deleting the tfstate files and .terraform directory.
2. Removing `adapter_type = vmxnet3`
Neither improved the situation.
Because I am essentially back to code that worked before, I suspect there is something in the templates that is now causing the crash. It has to be either the change from e1000 to vmxnet3 or the upgrad

[2018-01-09 18:19] deberon opened #342 "create_before_destroy"
I've been reading documentation for the best way to use create_before_destroy with this provider plugin but I haven't been able to find anything. In order to avoid naming conflicts I use a semi-unique name for each server by appending the first 5 characters of a hash of the template ID. This means the name changes whenever the template is updated. However, having just a name change means the VM is

[2018-01-09 18:36] jason-azze commented on #342
@deberon This is not a direct answer to you question, #324 might be of interest.

[2018-01-09 18:42] deberon commented on #342
Thanks @jason-azze I actually found that during my research. Is the preferred method to use a manually incremented counter then? I was hoping for a solution that was a little more hands off, but if that's not possible at this point I can deal with having to update it manually.

Also, using that method do you run into problems with terraform attempting to rename your machine? Do you also have to ma

[2018-01-09 18:53] jason-azze commented on #342
I feel like a crude barbarian for using the manually incremented counter, but it works for me. :-) I've seen more sophisticated methods floating around here in others' code examples.

I ended up turning off CBD, that is, setting it to `false`, because for my use case (creating zillions of Jenkins agent machines) I  want my VMs to keep their name once I have provisioned them. So I haven't gotten to

[2018-01-09 21:03] jason-azze commented on #341
Sorry to keep adding to this issue, but I think I have identified the trigger for the bug.
I attempted to reproduce the crash in my test environment and was successful.
I first updated a Windows 7 VM template from VM version 10 to 13. That didn't matter. TF plan and apply worked fine.
Then I changed the same template's adapter from e1000 to VMXNET 3, and tried again. I got the crash.
This test was

[2018-01-10 00:09] johnjelinek commented on #264
@vancluever: I set `linked_clone  = false` in my `clone` block and it still complains (error: `spec.deviceChange.device`) when I set a size larger than the template.

[2018-01-10 14:20] hashibot opened #343 "Crash when creating vsphere vm from template"
_This issue was originally opened by @charonjj as hashicorp/terraform#17075. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform version
0.11.1

### Terraform Configuration Files
provider "vsphere" {
  user           = "xxxx"
  password       = "yyyy"

[2018-01-10 16:00] jason-azze commented on #343
@charonjj I'm curious to know if you're hitting the same bug I am in #341. I was able to reproduce the crash using a data source for the adapter_type as you have done. If you change:
[code]
to
[code]
which is what I think your template has been configured with, does the crash disappear for you?

I know that in your case `network_interface_types[0]` == `e1000` already, but I think the bug lives som

[2018-01-10 16:47] deberon commented on #342
Thanks for the insight @jason-azze! That's helpful. I'm still not clear on how to get the VM to destroy/create instead of being renamed.

[2018-01-10 17:22] charonjj commented on #343
Thanks for your answer.
I made the test, putting  'adapter_type = "e1000"', but unfortunatly I got the same crash

[2018-01-10 17:26] charonjj commented on #343
I run it with full trace, here the important part:
2018-01-10T18:19:41.594+0100 [DEBUG] plugin.terraform-provider-vsphere_v1.1.1_x4.exe: 2018/01/10 18:19:41 [DEBUG] NetworkInterfacePostCloneOperation: Reading existing devices
2018-01-10T18:19:41.594+0100 [DEBUG] plugin.terraform-provider-vsphere_v1.1.1_x4.exe: 2018/01/10 18:19:41 [DEBUG] network_interface.0 (key 4001 at pci:0:8): Reading state
201

[2018-01-10 22:04] vancluever commented on #341
Hey all, I have a valid re-production over here. Looks like the issue lies with when network interfaces don't exist at the exact offsets that you would expect depending on the specific number of devices on the template. Working on a fix now.

[2018-01-10 22:06] vancluever commented on #341
PS: This can be reproduced via the following steps:

* Add a NIC to your template. Do not remove the old one in the same operation.
* Remove the first NIC. This will keep the second NIC at the specific PCI slot it was created on.
* `terraform apply`, and the crash will happen post-clone.

[2018-01-10 22:42] vancluever commented on #343
This is indeed a duplicate (crash is at the same location), closing in favour of #341.

[2018-01-10 22:42] #343 closed

[2018-01-11 00:06] surajsub opened #345 "Terraform Fails on 1TB vm creation"
TF version - 0.10.7
Vsphere provider - 1.1.

More of question rather than an issue. I'm trying to provision a vm with a 1024 GB memory . However i get a failure with this message - A specified parameter was not correct - configSpec.memoryMB

partial snippet of my tf file
===========

variable "name" {
	description = "Name of the Virtual Machine"
}

variable "datacenter" {
	description = "Target vS

[2018-01-11 01:11] vancluever commented on #345
Hey @surajsub, the "specified parameter is incorrect" message comes from vSphere. Have you tried to create this in the console? Given the large amount of memory, I'd imagine there's the possibly that it's just not necessarily possible on your cluster.

[2018-01-11 01:25] vancluever commented on #55
Hey all,

Since this issue is rather old and predates the 1.0.0 release, I am closing it due to reasons of relevance. Note that most of the resource pool functionality has now been moved to the [`vsphere_resource_pool` data source](https://www.terraform.io/docs/providers/vsphere/d/resource_pool.html). If you are still having issues when using the data source after consulting the documentation, fee

[2018-01-11 01:25] #55 closed

[2018-01-11 01:26] vancluever commented on #57
Hey all,

This was added in the 1.0.0 release. For more information, please consult the section in the `vsphere_virtual_machine` resource documentation regarding importing, which can be found [here](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html).

Thanks!

[2018-01-11 01:26] #57 closed

[2018-01-11 01:27] vancluever commented on #57
PS @Rybue, you want to specify the full path to the VM, as per the documentation, which should include the datacenter as well.

[2018-01-11 01:35] vancluever commented on #336
Hey all, so I did a test with TF of creating two VMs off of the same template with customization on Windows Server 2016. Looks like the SIDs are being re-generated properly.

This is from the first server:
![terraform-test0](https://user-images.githubusercontent.com/10704423/34804269-8e5d2984-f62c-11e7-9427-48baa9797bba.png)

And from the second:
![terraform-test1](https://user-images.githubuserco

[2018-01-11 01:35] #336 closed

[2018-01-11 02:02] #341 closed

[2018-01-11 02:27] surajsub commented on #345
@vancluever  - thanks for responding - the template was incompatible -updated it and it went through fine - Thanks for responding and appreciate the patience and the response.

[2018-01-11 02:27] #345 closed

[2018-01-11 03:17] vancluever commented on #345
Glad you got it worked out @surajsub!

[2018-01-11 07:52] Rybue commented on #57
@vancluever thanks!

[2018-01-11 15:09] jason-azze opened #346 "Enhancement request - Make new SID generation optional during Windows OS customization"
### vSphere Provider Version
provider.vsphere v1.1.1

### Affected Resource(s)
[code]
The vSphere client's New VM Guest Customization Spec wizard makes generating a new Security ID (SID) for Windows guests optional. (And the default setting is to NOT generate a new SID.)
![generate-new-sid](https://user-images.githubusercontent.com/1788669/34832224-432952f4-f6b7-11e7-8d49-d87f482b76ba.png)

It wou

[2018-01-11 16:15] deberon commented on #342
@vancluever I see you labeled this as a bug. Would it be helpful for me to provide more technical details? I was under the impression I was just doing something incorrectly.

[2018-01-11 16:57] vancluever commented on #342
Hey @deberon, it's actually labelled as a bug due to the issues @jason-azze mentioned regarding the VM being deleted first even when CBD was enabled, leading to his broken state issues, so kind of as a duplicate of #324.

However, looking at this a bit more, I think I see a few other things going on here not necessarily related to `create_before_destroy`, namely surrounding the rigid disk naming r

[2018-01-11 17:54] vancluever commented on #59
Hey all,

As this is a pretty old issue, it is more than likely not relevant with the release of 1.x and I'm going to close it as a result.

If you are still have any related problems feel free to open a new issue.

Thanks!

[2018-01-11 17:54] #59 closed

[2018-01-11 17:57] vancluever commented on #60
Hey all,

This inparticular feature is now available in the 1.x version of `vsphere_virtual_machine`. See the [resource documentation](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html) for more details on usage.

Thanks!

[2018-01-11 17:57] #60 closed

[2018-01-11 17:58] m4r10k commented on #231
I am running vCenter 6.5 and trying with LinuxKit. Open Vmware Tools are running and recognized by vCenter, dhcp leased ip address is visible. But unfortunately the terraform plan is running into the time-out. I am booting from iso, I am not cloning.

### output
[code]
### version
$ ./terraform version
Terraform v0.11.2
+ provider.vsphere v1.1.1

### screenshot
![image](https://user-images.githubu

[2018-01-11 18:10] vancluever commented on #61
Hey @richardlock, sorry for the delay on replying on this one.

Can you see if the [`vsphere_resource_pool`](https://www.terraform.io/docs/providers/vsphere/d/resource_pool.html) does what you need now? It may not, but you can check as vApp containers do inherit from ResourcePool, and as such those resources might load as ResourcePool managed objects without the extra vApp details added to them. I

[2018-01-11 18:15] vancluever commented on #231
Thanks everyone for the feedback.

We will be making some changes to the network waiter to make the routeable portion opt-out, as mentioned in #337. Keep an eye out for this in future releases.

[2018-01-11 18:22] Matty9191 opened #347 "Enhancement request - NSX provisioning"
We utilize VMware's NSX product which provides the ability to create software router, switches and load-balancers. It would be incredibly useful if you could utilize Terraform to provision each of these resources along with your virtual machines. Just having the ability to modify an edge device load-balancer (add and remove VMs to a pool) would be super useful for zero downtime deployments.

[2018-01-11 18:35] vancluever commented on #347
Hey @Matty9191,

This is actually being implemented in a separate provider. I can't share specifics right now, but expect more details to be announced probably sometime in the spring.

In the meantime - you should be able to load your opaque networks in with the [`vsphere_newtork`](https://www.terraform.io/docs/providers/vsphere/d/network.html) data source.

Thanks!

[2018-01-11 18:35] #347 closed

[2018-01-11 18:48] vancluever commented on #63
Hey all,

As this is a pretty old issue, it is more than likely not relevant with the release of 1.x and I'm going to close it as a result.

If you are still have any related problems feel free to open a new issue.

Thanks!

[2018-01-11 18:49] #63 closed

[2018-01-11 18:49] vancluever commented on #64
Hey all,

This inparticular feature is now available in the 1.x version of `vsphere_virtual_machine`. See the [resource documentation](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html) for more details on usage.

Thanks!

[2018-01-11 18:49] #64 closed

[2018-01-11 18:53] vancluever commented on #66
Hey all,

As this is a pretty old issue, it is more than likely not relevant with the release of 1.x and I'm going to close it as a result.

If you are still have any related problems feel free to open a new issue.

PS: On this issue inparticular, setting a system's hostname is more the domain of VM customization, versus setting an setting in `extra_config` (unless you are using a template that ca

[2018-01-11 18:53] #66 closed

[2018-01-11 19:33] vancluever commented on #67
Hello!

This issue details items mainly relevant to the vSphere provider before the 1.x release. Since the release of the vSphere 1.x release, several features have been added and several have been fixed, namely having to do with the features and functionality of the `vsphere_virtual_machine` resource.

As there is a very good chance that any problems or requests described in this issue have been

[2018-01-11 19:33] #67 closed

[2018-01-11 19:33] vancluever commented on #71
Hello!

This issue details items mainly relevant to the vSphere provider before the 1.x release. Since the release of the vSphere 1.x release, several features have been added and several have been fixed, namely having to do with the features and functionality of the `vsphere_virtual_machine` resource.

As there is a very good chance that any problems or requests described in this issue have been

[2018-01-11 19:33] #71 closed

[2018-01-11 19:34] vancluever commented on #73
Hello!

This issue details items mainly relevant to the vSphere provider before the 1.x release. Since the release of the vSphere 1.x release, several features have been added and several have been fixed, namely having to do with the features and functionality of the `vsphere_virtual_machine` resource.

As there is a very good chance that any problems or requests described in this issue have been

[2018-01-11 19:34] #73 closed

[2018-01-11 20:42] vancluever commented on #74
Hey all, just an update here: PR #303 will be hopefully merged in the next couple of weeks, at which point we will have OVA support via the vApp properties interface.

Where we go from there I'm still trying to decide, as this PR closes the hole in the feature set specific to `vsphere_virtual_machine`. Since you would now be able to clone a template that was the result of an OVF import, and set th

[2018-01-11 20:43] vancluever commented on #72
Hey all,

This inparticular feature is now available in the 1.x version of `vsphere_virtual_machine`. See the [resource documentation](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html) for more details on usage.

Thanks!

[2018-01-11 20:43] #72 closed

[2018-01-11 22:09] dandunckelman commented on #347
Secrets don't make friends 😉

[2018-01-11 22:36] qubitrenegade commented on #74
To be honest, the general response from the Packer community has been... rather insulting and combative regarding this issue, i.e.: the lack of a method to register an OVA with vSphere if we're not building a fresh OVA every time we run packer...  Which to our organization presents a serious gap in our automation workflow.

For technical reasons, I still am not convinced that Terraform is the appr

[2018-01-12 00:43] charandas opened #348 "vsphere_virtual_machine moid attribute desirable"
Hi there,

This is a feature request for re-exposing the `moid` for the resource `vsphere_virtual_machine`. A big refactor must have happened in separating this out of the main terraform repo sometime back, which has effectively removed the attribute.

### References

As this [PR](https://github.com/hashicorp/terraform/pull/14793) shows, it was once added. But the current version v1.2.0 does not e

[2018-01-12 07:10] den-is opened #349 "How to get id for existing Distributed Port Group"
I already have existing DistributedPortGroups under Virtual Distributed Switch and trying to attach one of them to new vm.
As I don't see data source for distributed_port_group, I have tried to "create" one with "vsphere_distributed_port_group" with the same name and vlan, hoping that it will omit creation and will just return ID of existing one.
But `terraform apply` informs me that resource will

[2018-01-12 08:01] johnmarcou commented on #59
I have the issue as well.

[code]

[2018-01-12 11:04] Lyoness commented on #74
Thanks for your work into this @vancluever !

[2018-01-12 18:32] den-is commented on #271
I have same issue on vSphere 5.5
plugin version 1.2.0

[2018-01-12 18:41] charandas commented on #348
@vancluever what worked for me after some more tinkering is this:

[code]

Coupled with something like this:
[code]

The combination of `lookup` with `[]` (another sugar over `element`) seems to get me the nested value in the map. Would be nice to just be able to get it from the resource `vsphere_virtual_machine` though.

[2018-01-12 19:11] deberon commented on #342
Ah thanks for the clarification @vancluever. In the mean time, is there anyway I can force the virtual_machine resource to destroy instead of rename? It seems like just changing the name and source template of the resource isn't enough to trigger a destroy/create.

[2018-01-12 19:25] vancluever commented on #348
Hey @charandas, glad you have a workaround. Indeed there's no reason why we can't re-add this though, so we will re-expose it in a future minor release.

Thanks!

[2018-01-12 19:27] vancluever commented on #349
@den-is can you run `govc ls` and see if you can drill down to the network you want to use, and try using the full path to the network instead?

Thanks!

[2018-01-12 19:44] Lucius- commented on #271
We're also running into the same issue. It doesn't matter if the template we're using is marked as a template or not. We have no issues locating the VM or template (by UUID or otherwise) via PowerCLI tools, the `govc` binary or via the MOB.

Issue occurs on both  v1.1.1 and 1.2.0 of the plugin. We're running vSphere Version 6.0.0 Build 5318172

I've attached the output of TF_LOG=DEBUG, hope that h

[2018-01-12 20:52] jason-azze commented on #342
@deberon If the source template has a new UUID, it should force a new resource. Just renaming the source template doesn't cause the UUID to change, but (for example) making a new VM from the template and converting _that_ to a template results in a fresh UUID. I learned this the hard way in #182. :-)

[2018-01-12 21:43] vancluever commented on #342
Just a note on the disk stuff - this is a stop-gap and won't be around for much longer. The work in #295 will be worked on soon so we have something for either 1.3.0 or 1.4.0. It's a priority though because it addresses problems like this.

[2018-01-15 06:13] den-is commented on #349
thanks for the hint!
Yes I'm able to iterate over vSphere objects with govc and find network objects.
It approved assumption that same names for networks clash and it's impossible to use full path to network object.
Renaming DGP has solved issue:
[code]
Sad, if it's not possible to find specific DGPs of DVS as foreign_keys/children

[2018-01-15 09:36] chrisipa commented on #308
Same error here. Please fix ...

[2018-01-15 10:04] richardlock commented on #61
Thanks.  I tried previously with vsphere_resource_pool (as a vApp is a special resource pool type), but it did not work.  I will test again with the latest version.  We use vApps for startup/shutdown order for multi-tier apps, so this would be very useful.  At the moment, we can deploy VMs with terraform, but then have to move them into vApps manually which breaks the state.  Might it be possible

[2018-01-15 10:05] richardlock commented on #60
Great, thanks.

[2018-01-15 13:33] notuscloud commented on #309
Hi,

Any news on the subject? I'm not skilled enough at the moment to propose a fix.
Unfortunately, this version of the vSphere provider is not usable...

Best regards

[2018-01-15 15:47] jason-azze opened #350 "vsphere provider 1.2.0 plan wants to delete and rename some disks made with 1.1.1"
### Terraform Version
[code]
### Affected Resource(s)

Please list the resources as a list, for example:
- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]

### Disk created with provider version 1.1.1
The one and only one disk attached to the VM created with 1.1.1 has this path is in the datastore:
[code]
### Plan output with provider 1.2.0
TF wants to rename it to meet my ori

[2018-01-15 16:01] jason-azze commented on #350
UPDATE:
False alarm. I applied the plan, and TF beautifully renames the disk, causing no harm to the running VM.
[code]

[2018-01-15 17:52] vancluever commented on #61
Hey @richardlock, as mentioned, I think the best thing to do would be to test with the current data source (as again, the vApp container is a subclass of the ResourcePool object and hence may be able to be looked up) and if it's still an issue we can possibly make a `vsphere_vapp_container` that source that exports the resource pool base object form a discovered vApp container.

If you can let me

[2018-01-15 18:21] vancluever commented on #349
Hey @den-is, I'm guessing the snippet you posted was from _after_ the rename - were the paths exactly the same _before_? Just want to confirm.

There are ways we can select the exact object when doing the network MO search, due to how we are searching. I've switched this issue to be an enhancement request to reflect that. No ETA on getting it out, but it's something we can add for sure.

In the me

[2018-01-15 18:24] den-is commented on #349
Yes I confirm
Two network paths were identical
[code]
Other network objects which I've not yet renamed, because no need atm, are identical as well.

Thank you very much!

[2018-01-15 19:48] almoore opened #351 "Make datastore optional on vsphere_virtual_machine"
This is an enhancement.
I would like to have the datastore argument for a vsphere_virtual_machine resource be optional.
At my organization we use a datastore cluster the does load balancing and migration of resources and running terraform apply on a VM or a group of VMs in the plan will put them back on the datastore that is hard coded in the terraform plan. That will cause failures at times and c

[2018-01-15 20:04] jason-azze commented on #351
@almoore This goes all the way back to #2 . I'd like to +1 this enhancement request. I hadn't thought of the fact that VMs will be migrated back to the datastore that they were born on from some other datastore in the cluster on every subsequent TF run. That could, indeed, be a nasty surprise.

[2018-01-15 21:16] jason-azze commented on #300
@rismoney I was able to add a cdrom with path set to `""`.
I have:
[code]
and then I set `iso_path = ""` and it seems to work.
[code]
I ended up with a CD/DVD device with just the datastore name in its target.
![cdrom-with-datastore-only](https://user-images.githubusercontent.com/1788669/34961788-c18b200a-fa0e-11e7-8268-f26aa109d761.png)

I did have to power off the VMs before applying the plan be

[2018-01-15 21:25] vancluever commented on #351
Hey @almoore and @jason-azze, datastore cluster support will be coming in the next few months, however either a datastore or datastore cluster will _always_ be required for creating a virtual machine. Until said support is implemented, we can't reasonably change the top-level `datastore_id` to an optional parameter as it adds a level of ambiguity to the resource's functionality that we have been m

[2018-01-15 21:25] #351 closed

[2018-01-15 21:27] vancluever commented on #300
Hey @jason-azze, are you saying that CDROM operations require restarts?

If that's the case then that might be able to be fixed for sure and I think it's issue worthy :slightly_smiling_face:

[2018-01-15 22:45] almoore commented on #351
@vancluever Can you add that tip to the docs as well? It would have helped with some other issues as well.

[2018-01-16 12:31] m4r10k commented on #264
I even have a similar strange behavior. If I do not set `linked_clone = false` terraform apply fails with no information on what parameter is not set.
[code]

If I add the parameter, then the apply works. What? And some more thing: Setting the disk size through template access does not work - returns 0. So I have to set it manually. Is there any documentation about `data.template`, what are the pr

[2018-01-16 12:40] m4r10k commented on #231
@vancluever to let you know. Working with an Ubuntu 16.0.4 VMware template and cloning it, does work without any hassle. So, it seems like, that my report is specific to LinuxKit Boot from Iso

[2018-01-16 20:15] davep95 opened #352 "Cannot Destroy a Resource, cannot find `domain` variable"
### Terraform Version

Terraform v0.11.2

### vSphere Provider Version

terraform-provider-vsphere_v1.2.0_x4

### Affected Resource(s)

- `vsphere_virtual_machine`

If this issue appears to affect multiple resources, it may be an issue with
Terraform's core, so please mention this.

### Terraform Configuration Files

[code]

### Debug Output

https://gist.github.com/davep95/65a1a4da544c7c820968477

[2018-01-16 22:28] rismoney commented on #350
This has become a critical issue for me.   Where we can no longer manage the infrastructure without it corrupting existing gear.  Not sure when this started, but it was this past week iirc.

[code]

[2018-01-16 23:26] rowanjacobs commented on #243
Since PR #303 was merged I'm going to go ahead and close this issue.

[2018-01-16 23:26] #243 closed

[2018-01-17 14:08] rismoney opened #353 "cloning templates"
currently the clone sub-resource requires a template_uuid.

Currently we have a process that updates the template (a packer job), which is essentially a destroy and rebuild the vm template.  If I use lifecycle ignore changes, (since I'm in a module) I can't ever update the resource to say "latest"

Is it possible to provide a name, instead of a uuid to prevent TF from forcing new resource upon tem

[2018-01-17 16:44] bpoland opened #354 "Cannot destroy cloned VM when template has been removed"
Hello,

Looking for some guidance or suggestions about how to handle this.  I clone VMs from a template using terraform, so I have a block like this to reference the template:

`data "vsphere_virtual_machine" "template" {
  name          = "template-name"
  datacenter_id = "${data.vsphere_datacenter.dc.id}"
}`

When I want to destroy the VM, I can run "terraform destroy" and it destroys fine.  How

[2018-01-17 16:50] vancluever commented on #295
Next checklist!

- [ ] Add in fallback code for label and path naming
- [ ] Adjust diff normalization
- [ ] Ensure that you cannot roll back to using `name` and switching to `label`
- [ ] Ensure disk uuids are source of truth for device location with device addresses as fallback
- [ ] Remove (nearly) all vMotion restrictions
- [ ] Test vMotion of linked clones (acceptance test)
- [ ] Test vMotion

[2018-01-17 17:54] tenchi4u commented on #57
Could one of you elaborate or provide a generic example on what you mean by "full path to the VM....which should include the datacenter as well"?  I am new to Terraform and am having the same issue when trying to import an existing VM.

Thank you!

[2018-01-17 18:37] jason-azze commented on #354
@bpoland I think you'll need to `taint` the resources you want destroyed. It's like marking (the state of) a resource for death. :-)

For example, I made a modification to a template today that did not result in that template getting a new UUID, so I had to do some tainting to force two VMs that had been cloned from the earlier version of the template to be destroyed and re-provisioned.

[code]
On

[2018-01-17 19:10] surajsub opened #355 "Windows 2012 Deployment"
More of a question than an issue - Has anybody had success deploying 2012 using the new provider with version 1.1.

When deploying the windows template with 1.1 version - i see the screen is waiting to choose the keyboard layout.  However using the same template with 0.4.2 of the vsphere provider seems to be working ..

Here is my template file.
====================
##################### Variables

[2018-01-17 19:13] rismoney opened #356 "extra config not working"
Using latest provider version (1.1.1 and 1.2), and trying to do extra_config on windows vm.

Is this how it should be done?
[code]

Subsequent runs I get attempts to change:
13:48:39   ~ module.mybox.vsphere_virtual_machine.wks
13:48:39       extra_config.%:                                            "0" => "1"
13:48:39       extra_config.svga.vramSize:                                "" => "419430

[2018-01-17 20:15] jason-azze opened #357 "Bug report - "diffs didn't match during apply""
While executing `terraform apply` on a plan that resulted in the forced creation of two new resources (because template UUIDs had changed)...
[code]

### Error Details
Terraform Version: 0.11.2
provider.vsphere v1.2.0
Resource ID: vsphere_virtual_machine.linux.0
Mismatch reason: attribute mismatch: disk.1.attach
Diff one and two Gist links appear below.

### Affected Resource(s)

Please list the r

[2018-01-17 20:39] jason-azze opened #358 "cdrom operations require restarts"
As discussed in the comments of #300, adding a CD/DVD device to a running VM that lacks one fails. VMWare can't add CD/DVD devices to powered on VMs.

### Terraform Version
Terraform v0.11.2
+ provider.vsphere v1.2.0

### Affected Resource(s)
- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]

### Debug Output

[code]
### Expected Behavior

TF should force a restart when trying

[2018-01-17 21:05] lampwins opened #360 "Issue with clone customization using json config"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform
issue trackers reserved for bug reports and feature requests. For general usage
questions, please see: https://www.terraform.io/community.html.

### Terraform Version
v0.11.2

Run `terraform -v` to show the version. If you are not running the latest
version of Terraform, you can try upgrading, depending on if

[2018-01-17 21:37] lampwins commented on #360
Seems like this is a simple misunderstanding of the json structure on my part as the HCL version of the same config works fine. That being said, I have tried to make `customize` a list and nest another dict inside of it with no luck.

[2018-01-17 22:44] lampwins commented on #360
Following a vaguely relevant comment here: https://github.com/hashicorp/terraform/issues/15647, when `network_inteface: {}` is changed to `network_inteface: [{}]` it works. So looks like problem with the HCL/json parser...

[2018-01-17 23:21] ggund opened #361 "Issue with VM Customization - Provisioning VM from VM"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform
issue trackers reserved for bug reports and feature requests. For general usage
questions, please see: https://www.terraform.io/community.html.

### Terraform Version

v0.11.1

Run `terraform -v` to show the version. If you are not running the latest
version of Terraform, you can try upgrading, depending on if

[2018-01-18 02:08] vancluever commented on #295
Just a FYI this is moving along and is looking pretty positive. General behaviour for transitioning is looking stable during smoke testing. Our acceptance tests will need to be updated mostly, and we will probably add a couple specifically for the transition and move some cases that were error cases before to expect success instead. But otherwise I'm pretty excited about how this is looking :+1:

[2018-01-18 06:08] alternico commented on #150
Would b a nice one to have.
Thanks

[2018-01-19 16:47] surajsub commented on #355
Issue has been resolved - was missing this line in the template -
scsi_type = “${data.vsphere_virtual_machine.template.scsi_type}” - Stupid me :-)

[2018-01-19 16:47] #355 closed

[2018-01-19 17:08] vancluever commented on #355
Glad you worked it out @surajsub!

PS: When pasting your config, you can enclose the text in  "```" to ensure it all comes in preformatted. You might want to see https://guides.github.com/features/mastering-markdown/ for more details.

This will ensure your configs get posted correctly formatted, like this:

[code]

Anyway, glad it worked out again!

[2018-01-19 18:12] ephos commented on #271
I am seeing the same issue as @Lucius- where even with the template converted to a virtual machine its stll throwing the `* vsphere_virtual_machine.vm: cannot locate virtual machine or template with UUID "4216eeb6-dcee-aae0-5fb2-b1b2c313be72": virtual machine with UUID "4216eeb6-dcee-aae0-5fb2-b1b2c313be72" not found` error.  Latest tests were with version 1.2.0.

[2018-01-19 18:45] vancluever commented on #271
Paging @genevievelesperance and @rowanjacobs - was this something you were still planning on working on? Thinking that I want to fast-track this as we are getting more reports.

[2018-01-19 18:48] genevievelesperance commented on #271
We are a little strapped for bandwidth on the team right now so we will not be able to get to this anytime soon.

[2018-01-19 19:02] vancluever commented on #271
Great thanks for replying @genevievelesperance - I'll take it over based on our discussions in #318.

[2018-01-19 19:41] ram-sadhanala opened #362 "How to assign static ip to a clone without using customization? (As customization is wiping admin user and giving a default admin)"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform
issue trackers reserved for bug reports and feature requests. For general usage
questions, please see: https://www.terraform.io/community.html.

### Terraform Version

Run `terraform -v` to show the version. If you are not running the latest
version of Terraform, you can try upgrading, depending on if your pro

[2018-01-22 07:20] hashibot opened #364 "Removing Admin password while cloning the template"
_This issue was originally opened by @dharmendrajet as hashicorp/terraform#17145. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

### Expected Behavior

#

[2018-01-22 16:16] eouti opened #365 "Requested fixed IPv4, end up with IPv6, why?"
Hi there,

I want to deploy Linux VM on my vSphere.
My env is fixed IPs.
I fill my TF files, set IP, gateway, hostname and so on...
Unfortunately I end up with IPv6 VM :(

I use to run vSphere provider 0.4 and i didn't have this kind of problem.

### Terraform Version
Terraform v0.11.2
tested also with v0.10.8 (same behaviour)

### vSphere Provider Version

vSphere Provider ~> 1.2

### Affected Re

[2018-01-22 16:46] rismoney opened #366 "dial tcp: lookup context canceled"
### Terraform Version

0.11.1

### vSphere Provider Version

1.1.1
### Affected Resource(s)

simple terraform run

### Terraform Configuration Files

any TF code

### Panic Output

[code]

### Expected Behavior

TF should have run successfully and connected to vsphere.

### Actual Behavior

TF apply or plan failed. Subsequent runs may succeed usually after 1 additional run, sometimes 2.
Almost alw

[2018-01-22 17:02] vancluever commented on #366
@rismoney are you on a VPN with split DNS or full DNS over the VPN for that matter?

This is more than likely a systemic issue with the Go DNS resolver and we are tracking it in hashicorp/terraform#3536.

Unfortunately I don't have much in the way of mitigation - this happens to me too during acceptance tests which is particularly frustrating. What I usually do is turn up my DNS resolver options t

[2018-01-22 17:12] vancluever commented on #365
Hey @eouti, unless your template's IPv6 explicitly turned off (via sysctl values and the like), your VM will always have an IPv6 link-local address derived from your interfaces's MAC address. This is normal and not controlled by customization.

If your IPv4 address is missing, there was more than likely a problem with the customization process. You will want to check `/var/log/vmware-imc/toolsDepl

[2018-01-22 17:12] #365 closed

[2018-01-22 17:23] rismoney commented on #366
no VPN in most of my use cases.  (Have even tested in local segment adjacent to vsphere).
Do see it definitely on site to site VPN with EC2 servers.  I'm not having DNS resolving issues that I can see outside of TF.

TF is running on windows in all these scenarios.

[2018-01-22 17:24] vancluever commented on #362
Hi @ram-sadhanala, I'm closing this as there is no content in the message. If you can please next time provide some content in the body of the message (and remove the template body if it's not relevant) that would be helpful.

To answer the question in your subject generally, you can view the customization options for `vsphere_virtual_machine` [here](https://www.terraform.io/docs/providers/vsphere

[2018-01-22 17:32] vancluever commented on #361
Hi @ggund, what you pasted is actually your Terraform state, not the configuration.

Can you reply with the contents of your `*.tf` files?

Thanks!

[2018-01-22 18:21] rismoney commented on #356
Yes.  When I look at the Video card, total video memory, it is 128MB.  So I believe it is not read/writing it properly.  That's probably a default for v10 VMs.  I probably don't want it to be 4MB, after learning this.  https://kb.vmware.com/s/article/1024990.   I think it might have been originally 1MB, maybe on older VM versions.   I think 128MB might be sufficient so I can probably remove this f

[2018-01-22 18:57] dhekimian commented on #356
@rismoney I was just looking at video memory sizes for HW v10 - HW v13  over the weekend:

**HW v10 - HW v13**

- Windows Guests (2012, 2008R2, 8, 7) = 8MB Default `(svga.vramSize = "8388608")`
- RHEL 6/7 (Centos 6/7) = 8MB Default `(svga.vramSize = "8388608")`
- Ubuntu = 4MB Default

I pulled the `svga.vramSize` values from the .vmx and noticed that it was not present in the Ubuntu VM, thus the E

[2018-01-22 20:41] vancluever commented on #353
Hey @rismoney,

Unfortunately you can't supply a template name - this was the old behaviour and to be consistent with our continued efforts to make sure that all resources in the provider take unique inputs (versus the old state where it took the more ambiguous names and paths), this was changed to be a UUID, and won't be reverted.

What might help in understanding the situation (and possibly why

[2018-01-22 20:42] #353 closed

[2018-01-22 21:05] rismoney commented on #353
So to confirm IIUC, the issue is that I am dynamically discovering the template UUID via
[code]

If I instead supply the clone `template_uuid` parameter through say via an external variable I can ensure this is a static value.  I'm hoping if I delete the underlying template, it leaves existing topology in place.  The data source is what is performing the uuid lookup against a name, not the resourc

[2018-01-22 22:29] rismoney commented on #366
so i switched the name of the vsphere server to ip address, and it seems to be working flawless.  i think this confirms a DNS resolving issue, but I'm pretty certain it is within TF, and not the system.

[2018-01-23 01:26] vancluever commented on #353
@rismoney exactly. If the UUID doesn't change, then TF won't force a new resource as part of the plan, so if you supply it without the data source, you'll be good!

[2018-01-23 01:36] vancluever commented on #366
@rismoney that's what we are saying as well, more specifically it has do to with the Go resolver - and since you are on Windows it's even more complicated, kind of the same deal on OS X as well, since since both OSes have a very specific DNS resolver implementation that Go does not use (on Linux, the Go resolver at least pulls options from the right place - `resolv.conf`, but this is not used on W

[2018-01-23 01:36] #366 closed

[2018-01-23 07:01] sofixa commented on #353
@vancluever, and what happens if the UUID no longer exists? Won't terraform block on refreshing and want to destroy the ressource?

[2018-01-23 15:21] rismoney commented on #353
This will work!  Thank you for all your help.

One final question-
If I only have the uuid, can I infer the network_interface_types exported by that resource?  Not sure how to get the template name with just knowing the uuid.   Currently the data source vsphere_virtual_machine requires a name to be passed in.

I would think we would want to be able to go from both uuid->name and name-> uuid.

[2018-01-23 15:24] bpoland commented on #354
@vancluever thanks for the response (and also for all your hard work on this provider recently!)

I have worked around for now by setting a count on the data source and setting the count to zero when I want to destroy.  It works but it's a bit ugly.

I was reading your response in another thread (https://github.com/terraform-providers/terraform-provider-vsphere/issues/353) and think it applies to

[2018-01-23 18:37] jonhatalla commented on #352
I am actually having a similar issue, it seems like `domain` is missing from the state file - but it seems like it should no longer be needed?

[2018-01-23 19:38] sidhurana commented on #165
@dougm : Sorry, i saw that issue is closed but i am facing same issue with govc 0.16.0 version as well. I have tried with %2f as well.

Is this also related to : terraform-provider-vsphere version ?

[2018-01-24 10:50] virtrixke opened #367 "HostAffinity with DRS groups"
### Terraform Version

v0.11.2

### vSphere Provider Version

v1.1

### Affected Resource(s)

- `vsphere_virtual_machine`

### Expected Behavior

Is there a way to set a virtual machine (our group of virtual machines) to a specific host group (Host Affinity)?
The idea would be to say that the virtual machine should or must run on a specific host or set of hosts.

[2018-01-24 12:34] rwaffen opened #368 "vsphere_virtual_machine network_interface wrong order of ip configuration"
Hi there,

i have a strange ordering problem with the vsphere provider. i want to have 4 interfaces out of 4 different networks. but the specified ip for the last interface get configured on the first. After this it proceeds in order.

### Terraform Version
Terraform v0.11.1

### vSphere Provider Version
provider.vsphere v1.2.0

### Affected Resource(s)
- `vsphere_virtual_machine`

### Terraform C

[2018-01-24 15:11] SurferL opened #369 "Unable to find file after file upload"
### Terraform Version
Terraform v0.11.1

### vSphere Provider Version
1.1.0

### Affected Resource(s)
- `vsphere_virtual_machine`
- `provisioner file`
- `provisioner "remote-exec"`

### Issue

I'm having an issue where, I'm using the terraform-provider-vsphere, to stand up a VM in vsphere, and upload a python script, and then run the python script. However, on some occasions (seems random), after

[2018-01-24 16:14] vancluever commented on #369
Hey @SurferL, provisioners are more the responsibility of [Terraform Core](https://github.com/hashicorp/terraform) and not the providers.

If you can open up an issue against that repo that would be great.

PS: The error message you have pasted indicates that the file is attempting to be located on the local filesystem, not the remote one (indicative by the `.terraform/modules` part of the path).

[2018-01-24 16:14] #369 closed

[2018-01-24 16:37] SurferL commented on #369
Sure - thanks for the response! :)

[2018-01-24 19:56] ryancurrah commented on #308
We just compiled master branch with PR [363](https://github.com/terraform-providers/terraform-provider-vsphere/pull/363) change, tested it and we confirm it fixes this issue

[2018-01-24 20:03] jcreedon opened #370 "Improved Syntax for Custom Attributes"
I'm very excited to finally have custom attributes for vsphere in terraform. However the syntax is annoying if you want to do more than one custom attribute. Either you have to deal with a very long string or a here doc.

(Sorry if the below formatting isn't right, I wasn't sure the best way to shoe horn a feature request into the issue template.)

### Terraform Version

`Terraform v0.11.2`

### v

[2018-01-25 13:31] Mihai-CMM commented on #56
Hi guys,
This is yet not fixed in 11.2 with Openstack provider
[crash.log](https://github.com/terraform-providers/terraform-provider-vsphere/files/1664126/crash.log)

panic: runtime error: index out of range
2018-01-25T15:24:28.251+0200 [DEBUG] plugin.terraform-provider-openstack_v1.2.0_x4:
2018-01-25T15:24:28.251+0200 [DEBUG] plugin.terraform-provider-openstack_v1.2.0_x4: goroutine 574 [running]:

[2018-01-25 17:14] vancluever commented on #370
@jcreedon the awkward tagging interface here is due to how vSphere works with tags versus AWS. In AWS, tags are simple key/value pairs, in vSphere, they there are more complicated pre-configured data sets that need to be attached to objects via their IDs. We we have a framework in the vSphere provider of allowing as little arbitrary data as possible in downstream resources, you first either have t

[2018-01-25 17:54] vancluever commented on #370
Hey @jcreedon I just confirmed that since we are focusing on HCL2 that this is more than likely where it will be fixed.

With HCL2, we will be implementing a couple of things that pertain to what you are trying to do here:

* Functions will no longer require quoting in strings or the HIL enclosure (`"${}"`), so you will be able to use the `map` function directly, properly indented.
* Even better,

[2018-01-25 17:54] #370 closed

[2018-01-25 18:08] jcreedon commented on #370
HCL2 looks to be the right solution. I look forward to seeing it. Thanks!

[2018-01-25 21:12] vancluever commented on #295
#363 was merged, so this is pretty much done. Everything works as intended and nothing out of the ordinary came out of the smoke tests, except an unrelated issue for which a fix has been submitted as #371.

One last thing I'm testing before we commit to a release is what happens when someone does something like add multiple disks with the same UUID. Again, this should never happen during regular o

[2018-01-25 22:03] vancluever commented on #295
Alright, all three of these operations are safe in terms of not destroying data, and ultimately providing errors when Terraform detects a UUID conflict in the read cycle. The differences in the above three scenarios lies in _where_ Terraform fails:

* **Disk added in console with UUID in state:** Terraform fails on the next plan.
* **Disk added in console with UUID not in state:** Terraform will r

[2018-01-25 22:03] #295 closed

[2018-01-26 00:02] jeremycornett opened #373 "Packer/Terraform Reprovisioning Golden VM"
Terraform Version: 0.11.2
vSphere Provider Version: 1.2.0
Affected Resources: vsphere_virtual_machine

I think this is operating as designed, but it seems less than ideal to me. I want to get your feedback to see if my expectations are valid or off-base.

I setup Packer to provision a VM to my vSphere instance. I set this Packer process to run once a week because it's helpful to catch anything tha

[2018-01-26 00:20] rismoney commented on #373
https://github.com/terraform-providers/terraform-provider-vsphere/issues/353
I had the same issue.  I resolved it by avoiding using the data source to determine the template uuid and instead hard code the uuid for my guests.  Then if I want to update the guests, I update the uuid against the new template uuid when I'm ready for upgrading.

To help, i added a packer script to put the uuid in an ann

[2018-01-26 00:58] charandas opened #374 "vapp property feature in vsphere_virtual_machine resource not working in v1.2.0 release"
Hi there,

This is regarding the vapp feature released in 1.2 in #303. It does not work when using the official binaries, whether I download them [manually](https://releases.hashicorp.com/terraform-provider-vsphere/1.2.0/), or allow `terraform init` to set it up for me.

It however **does work**, when I build the current `master` locally and provide the path through `$HOME/.terraformrc`.

### Terr

[2018-01-26 01:05] vancluever commented on #374
Hey @chandras, that feature hasn’t shipped yet and is slated for 1.3.0 (which is why it works off of master).

As a sanity check I checked the CHANGELOG to make sure there wasn’t an error there and there isn’t. 😊

[2018-01-26 01:35] charandas commented on #374
Whoops 😬 sorry @vancluever. I apologize for my lack of diligence.

[2018-01-26 01:35] #374 closed

[2018-01-26 14:46] bpoland commented on #373
Maybe you could use ignore_changes in the lifecycle block to avoid recreating the VM?

[2018-01-26 15:25] ram-sadhanala opened #375 "Authentication Error: Inspite of providing the same credentials it was showing authentication error atleast once out of three times."
It is little weird as i was having authentication error while using terraform plan and terraform apply for atleast once out of three times to be accurate i have 30% failures due to authentication problem.

### Terraform Version

Terraform v0.11.2
provider.vsphere v1.2.0

### vSphere Provider Version
v1.2.0_x4
### Affected Resource(s)

Please list the resources as a list, for example:
- `vsphere_vi

[2018-01-26 16:00] ram-sadhanala commented on #362
Hello @vancluever Thanks for the suggestion.

[2018-01-26 16:40] rismoney commented on #373
if it's within a module, ignore_changes becomes clunky if you want to do it on a case by case basis as there may be other items to ignore at a global module level.

[2018-01-26 16:43] bpoland commented on #373
Ah, true.

[2018-01-26 16:49] vancluever commented on #373
Hey all, @rismoney's mention of #353 and the methods discussed there to do this are the correct method. There is a lot more detail as to the relationship between the resource and the data source and our rationale behind the structure of providing template UUIDs there.

Thanks!

[2018-01-26 16:49] #373 closed

[2018-01-26 20:10] kdunn-pivotal commented on #207
I saw this issue when the template VM didn't already have VMWare Guest Tools installed and set to autostart.

[2018-01-26 23:40] jeremycornett commented on #353
@rismoney I tried to put a static value for the UUID which matched the current UUID of the template.

I then reran my Packer script which recreated the template VM, and then I reran my terraform plan. The plan failed. Am I misunderstanding the proposed solution here?

[2018-01-28 19:11] johnjelinek opened #376 "cannot locate virtual machine or template with UUID"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform
issue trackers reserved for bug reports and feature requests. For general usage
questions, please see: https://www.terraform.io/community.html.

### Terraform Version

[code]

### vSphere Provider Version

`1.3.0_x4`

### Affected Resource(s)

- `vsphere_virtual_machine`

### Terraform Configuration Files

[co

[2018-01-28 19:27] johnjelinek commented on #376
oh -- I guess I can reproduce this in `govc`:
[code]

[2018-01-28 19:31] johnjelinek commented on #376
Opened this for `govc`: https://github.com/vmware/govmomi/issues/1020

[2018-01-29 06:54] den-is commented on #376
same here :(
and probably people here https://github.com/terraform-providers/terraform-provider-vsphere/issues/271 have same issue

[2018-01-29 07:00] den-is commented on #271
well...upgrade to plugin v1.3.0 wasn't able to fix issue

[2018-01-29 15:02] jason-azze commented on #346
@vancluever It looks like this is a blocker for me. I'm stuck with conflicting requirements. I need the guest OS naming magic provided by the VM customization process, but the accompanying mandatory SID change for Windows ruins local user account permissions that we rely on.

Is there an obvious strategy for getting the guest OS hostname to match the VM name that I'm missing, which doesn't involve

[2018-01-29 15:12] bpoland commented on #353
Proposed solution is to remove the vsphere_virtual_machine data source, and only provide the UUID when cloning (which you would have to grab beforehand with govc or another method).  But as @rismoney said above, it's not clear how to grab details about that template VM if you only have the UUID (for example network interface types which is also needed for cloning).

[2018-01-29 15:50] johnjelinek commented on #271
ya, I opened a bug for this upstream: vmware/govmomi#1020. As a workaround, would searching by name instead of UUID (and matching on UUID) work until they fix this upstream?

[2018-01-29 16:26] vancluever commented on #271
Hey all, as mentioned, we will be fixing this using a different kind of approach to locating the UUID for a template. Sorry this work has been delayed for so long.

This is not a SDK bug, this is an issue with a (currently undocumented) issue with the API where the call previously did not support searching templates via UUID. You can find more info here:

We won't be implementing any workarounds t

[2018-01-29 16:55] vancluever commented on #346
Hey @jason-azze,

I don't think it's possible using any current method - I was thinking of maybe if you could do it using `windows_sysprep_text`, but only if the generalization options are exposed through the sysprep.inf file, and I'm not too sure if they are.

For now, you might have to do your customization through a provisioner.

We will be exposing this though, so I will leave this open until

[2018-01-29 16:57] vancluever commented on #376
Hey all, as this is a duplicate of #271, I'm closing this issue. You can follow the progress over there.

Thanks!

[2018-01-29 16:57] #376 closed

[2018-01-29 17:57] johnjelinek commented on #271
You're missing the link after `You can find more info here:`. Looks like there's a CLI equivalent workaround, maybe we can implement that workaround in code https://github.com/vmware/govmomi/issues/1020#issuecomment-361323887

[2018-01-29 18:08] johnjelinek commented on #271
@vancluever: looks like this code implementation could help here: https://github.com/vmware/govmomi/issues/1020#issuecomment-361333460 What do you think?

[2018-01-29 18:17] vancluever commented on #271
Hey @johnjelinek, indeed this is the method we will be using - this was documented in #318 as well. We have used this method for searching other MO's (namely networks). It will be implemented as a fallback method for vSphere versions previous to a specific version so that we can continue to use more direct calls on versions that support it.

Thanks!

[2018-01-30 20:54] nowhammies commented on #271
Just in case you missed it from #318

I am experiencing this behavior is 6.0 as well

Name: VMware vCenter Server
Vendor: VMware, Inc.
Version: 6.0.0
Build: 5318203
OS type: linux-x64
API type: VirtualCenter
API version: 6.0
Product ID: vpx
UUID: 15d87409-30cd-4865-9b65-437022dca8d7

[2018-01-30 21:41] jason-azze commented on #346
Thanks, @vancluever. Your hint reminded me of some work I did with `remote-exec` back before I tried making sysprep work.

For posterity, the following code worked for renaming a Windows 7 guest OS that has Cygwin SSHD installed. (I did not try the winrm connection method for this provisioner, but that might be a better bet if you have it turned on.)

[code]
The user does not have to be the actual

[2018-01-31 12:21] avinash-fissionhq commented on #262
provider "vsphere" {
  user           = "${var.vsphere_user}"
  password       = "${var.vsphere_password}"
  vsphere_server = "${var.vsphere_server}"

  # if you have a self-signed cert
  allow_unverified_ssl = true
}

data "vsphere_resource_pool" "pool" {}

resource "vsphere_virtual_machine" "vm" {
  name             = "terraform-test"
  resource_pool_id = "${data.vsphere_resource_pool.pool.id}"

[2018-01-31 13:00] hmalinov commented on #353
@rismoney You may try using ignore changes like:

[code]

This way even if you change the template it will not apply the changes. However I am not sure if this is the best way.

[2018-01-31 16:18] davep95 commented on #352
I still cannot destroy VM's with provider version 1.x. Can someone take a look at this issue please?

[2018-01-31 21:42] #271 closed

[2018-02-01 06:47] avinash-fissionhq opened #379 "Terraform - Error : ServerFaultCode: unexpected element tag "capacityInBytes""
Unable to create windows server 2012 VM in esxi 5.1. Below is the template. Terraform version 0.11.0
=========
main.tf
=========
provider "vsphere" {
  user           = "${var.vsphere_user}"
  password       = "${var.vsphere_password}"
  vsphere_server = "${var.vsphere_server}"
  allow_unverified_ssl = true
}

data "vsphere_datacenter" "dc" {}

data "vsphere_datastore" "datastore" {
  name

[2018-02-01 12:42] maxramqvist commented on #320
@vancluever this seems to destroy a lot of usage scenarios for this provider..? Like if we want to use computed hostnames for our vSphere machines. We just want to call them something like vsphere0-9999 or something like that. Do I misunderstand or do you have a nice way of supporting this? Thanks ;)

[2018-02-01 16:49] vancluever commented on #379
Hey @avinash-fissionhq, vSphere versions below 5.5 are not supported by this provider. Sorry!

[2018-02-01 16:49] #379 closed

[2018-02-01 17:07] vancluever commented on #54
Hello!

This issue details items mainly relevant to the vSphere provider before the 1.x release. Since the release of the vSphere 1.x release, several features have been added and several have been fixed, namely having to do with the features and functionality of the `vsphere_virtual_machine` resource.

As there is a very good chance that any problems or requests described in this issue have been

[2018-02-01 17:38] matthewvalimaki commented on #349
I have hit this exact same issue. Network paths are identical but the types are different. For now I can get around this by using a different distributed port group name. `govc find -u ... -type=n .` does not provide type or such to distinguish so I wonder if it is fixable?

[code]

[2018-02-01 18:21] den-is commented on #349
@matthewvalimaki rename helped me.
none of running VMs suffered this procedure - probably they are bound to some kind of UUID of port-group and not path/name.
I've renamed port groups not native vmware networks.

[2018-02-01 21:51] ryancurrah opened #380 "Attaching tags to virtual machines fails intermittently"
Attaching vSphere tags to virtual machines fails intermittently when deploying more than one virtual machine at the same time

### Terraform Version

`0.10.8`

### vSphere Provider Version

`1.3.0`

### Affected Resource(s)

Please list the resources as a list, for example:
- `vsphere_virtual_machine`

### Terraform Configuration Files

**Variables.tfvars file**

[code]

**Variables.tf**

[code]

[2018-02-02 06:36] sdemura opened #381 "New 'vapp' options do not work with Ubuntu 14.04/16.04 OVA"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform
issue trackers reserved for bug reports and feature requests. For general usage
questions, please see: https://www.terraform.io/community.html.

### Terraform Version
[code]
### vSphere Provider Version

[code]

### Affected Resource(s)

Please list the resources as a list, for example:
- `vsphere_virtual_mach

[2018-02-02 17:04] benfab commented on #348
I am facing the same issue as @charandas , so it would be great to have the moid exposed ;-).

[2018-02-02 17:41] sdemura commented on #381
I have been able to get this work.

In order to inject ovfEnv variables into a vSphere VM, an CDROM device with an appropriate ISO needs to be attached. The `govc` and vSphere GUI do this automatically for you, but `terraform` does not.

If I add a CDROM, then the VM boots as expected with the desired configurations:
[code]

[2018-02-02 17:41] vancluever commented on #381
Hey @sdemura, thanks for opening this. Funny enough I was looking at this last night!

I'll investigate this a bit more to see why, but I didn't have much success getting this working 100% by just doing a OVF import from govc and just booting the VM without setting any of the options. Not too sure why, but on my end the OVF would not boot properly - I got an error upon startup and then it hung for

[2018-02-02 17:43] sdemura commented on #381
@vancluever looks like we posted at the same time. see above ^

[2018-02-02 17:47] vancluever commented on #381
@sdemura I saw! Glad you figured it out and I was suspecting this might be the case.

Sounds like we need to prioritize some of the CDROM update work to ensure that OVF templates with ISO transports work as expected. We have other work that is pending here (#300 and #358), so maybe we can group this all together.

[2018-02-02 20:43] johnjelinek opened #382 "multiple virtual machines withUUID found"
### Terraform Version & vSphere Provider Version

[code]

### Debug Output

[code]

### Expected Behavior

It should've found the template by UUID

### Actual Behavior

It found multiple templates (and the other ones didn't match the UUID)

### Steps to Reproduce

1. `terraform plan`

### Important Factoids

This filter is "finding" more than one instance:
https://github.com/terraform-providers/te

[2018-02-02 20:56] vancluever commented on #382
Hey @johnjelinek, this is something that I am actually tracking in #282, so the plan is to eventually migrate to instance UUID. There are also details in there on when a UUID might be duplicated.

How was this template generated? Was it generated from a clone in vSphere or via some sort of other process? Can you try cloning the VM again and see if get a different UUID? If so, this can be the worka

[2018-02-02 21:04] sdemura commented on #231
I'm also seeing this on Ubuntu 14.04, which as much as I'd love to get away from, I still can't.

[2018-02-02 21:06] johnjelinek commented on #382
@vancluever: The template was generated with Packer from an ISO and then I use `govc ova.import` to ship it to a vSphere host. It does get a different UUID if I ship it again. But even after that, multiple entires show up again (but it's a different set of multiple entries).

[2018-02-02 21:11] johnjelinek commented on #382
I changed the filter to `config.instanceUuid` and I get more details:
[code]

it's real strange that it mentions that it's specifically searching for a uuid that isn't associated with the template I'm referencing:
`wrong`
[code]
`right`
[code]

[2018-02-03 17:18] Chris-Carmichael commented on #382
I'm having the same problem.  I've dumped out every VM + UUID and verified only one exists:

[code]

But the 1.3.1 provider errors out like so:

[code]

I'm forcing the provider to 1.3.0 until this is resolved.

[2018-02-04 15:15] nhi-vanye commented on #382
+1

Took the same approach as Chis and forced 1.3.0

[2018-02-04 17:54] matthewvalimaki opened #384 "resolv.conf search is not set if dns_suffix_list contains multiple entries"
### Terraform Version
[code]

### vSphere Provider Version

`provider.vsphere ~> 1.3`

### Affected Resource(s)
`vsphere_virtual_machine`

### Terraform Configuration Files

[code]

[code]

[code]

### Expected Behavior

A new VM should be provisioned and customized with `dns_suffix_list` so that in `/etc/resolv.conf` `search` would contain all in the list.

### Actual Behavior

A new VM is provis

[2018-02-05 05:48] vancluever commented on #382
Hey all, I'll be looking at this tomorrow. Sorry for the issues this has caused.

The note in tag change is mostly acknowledgement that from reports, this seemed to be working in 1.3.0 (albeit perhaps in lesser capacity), but is now completely broken in 1.3.1.

More info tomorrow.

Thanks!

[2018-02-05 09:13] rickardrosen commented on #320
To add to @maxramqvist comment; as per the process we create records in inventory/cmdb before creation of the actual VM.
We need to be able to set properties dynamically, or else the workflow breaks with regards to terraform workspaces and other integrations.

How do you propose we utilize this new provider for a module with terraform workspaces for example?

[2018-02-05 11:14] ranjanm1 commented on #2
Hi, just checking is the feature has been progressed?

[2018-02-05 21:35] rismoney opened #385 "reconfigure virtual machines"
Is it possible to change Terraform's behavior such that, changes to existing VMs (which require a power cycle), the powercycle can be deferred to a later time?

I suppose this would be a tweak of shutdown_wait_timeout/force_power_off handling or similar.  When you make a change in the GUI, essentially the change is deferred until a subsequent restart.  With TF, at the time of `apply` the node will

[2018-02-05 23:40] chiccat opened #386 "network not found"
Hi there,

I have an issue with vsphere 6.5 & terraform.
Could it be because networks have spaces in naming?

Thank you

### Terraform Version

v0.11.2

### vSphere Provider Version

v1.2.0

### Affected Resource(s)

- network_interface

### Terraform Configuration Files

data "vsphere_datacenter" "testdc_dc" {
  name = "testdc"
}

data "vsphere_datastore" "datastore01" {
  name          = "testdc

[2018-02-05 23:43] chiccat commented on #386
Closing this

[2018-02-05 23:43] #386 closed

[2018-02-06 08:44] den-is commented on #384
+1

[2018-02-06 08:51] den-is commented on #382
just FYI +1
have same issue when trying to create multiple machines with `count` loop
my vm template is manually created from virtual machine in vsphere 5.5

[2018-02-06 13:17] JamesTGrant opened #387 "Can "Latency Sensitivity" be configured for newly created VMs?"
Terraform version 0.11.3
terraform-provider-vsphere_v1.3.1_x4.exe

Some of the VMs I manage require Latency Sensitivity="high"

Is it possible to control this setting when creating VMs using Terraform with the vsphere provider plugin? If so, how can I do this?
If not, please could it be added?

vCenter web UI, VM edit settings -> VM Options -> Advanced -> Latency Sensitivity

vCenter API
Data Obje

[2018-02-06 16:19] vancluever commented on #382
Hey all,

For anyone having this issue (I'm still trying to track it down), can you do the following for me:

* Run `govc find / -type m -config.uuid "UUID_GOES_HERE"`, and locate the virtual machines that match.
* From there, using the MOB (instructions on how to use the MOB [here](https://code.vmware.com/doc/preview?id=4205#/doc/PG_Appx_Using_MOB.21.2.html#994699)), locate the virtual machines,

[2018-02-06 16:37] ronmessana-concerto opened #388 "NIC not connected when cloning VM from template"
### Terraform Version
Terraform v0.11.3

### vSphere Provider Version
provider.vsphere v1.3.0

### Affected Resource(s)
- `vsphere_virtual_machine`

### Terraform Configuration Files

[code]
[code]

### Debug Output

Debug Output:
https://gist.github.com/ronmessana-concerto/c91829184833ccad7991e3665f6cda95

### Panic Output
n/a

### Expected Behavior

What should have happened? When cloning a VM f

[2018-02-06 16:52] jason-azze commented on #388
@ronmessana-concerto I have a silly question but want to ask to be sure. :-)

Are the "connected" and "connect at power on" checkboxes checked in the template? That is, if you make a clone from the template "manually" using the vSphere client, will the resulting VM have the checkboxes checked and behave as expected?

[2018-02-06 16:59] ronmessana-concerto commented on #388
on the template, "connected" is grayed out and unchecked, since it's powered off, but "connect at power on" is checked. i just ran a "manual" clone from the template, and the "connected" and "connect at power on" are checked as expected. We clone VMs from templates all the time using powershell and manually in the vsphere client without issue.

[2018-02-06 17:00] johnjelinek commented on #382
[code]

![cloudapp annotation 2018-02-06 at 10 56 55 am png](https://user-images.githubusercontent.com/873610/35872443-76ef90ba-0b2c-11e8-874c-2ff2b9630a1f.png)

[code]

![cloudapp annotation 2018-02-06 at 10 50 56 am png](https://user-images.githubusercontent.com/873610/35872408-5fa5fe30-0b2c-11e8-85ed-f5b8be26d8e7.png)

[code]

[code]

![cloudapp annotation 2018-02-06 at 10 58 41 am png](https:/

[2018-02-06 17:05] johnjelinek commented on #382
It looks like the `/DC0/vm/Discovered virtual machine/avm` that shows up in all of those is an orphaned VM.

[2018-02-06 17:08] vancluever commented on #382
@johnjelinek:

The orphaned VM is a side effect of Packer and the fact that the `vmware-iso` builder is not using API, but rather SSH, "manual" generation of the VMX file, and esxcli (this is why I was trying to reproduce this using Packer).

But the strange part to me is that the MOB says they have different UUIDs, but the inventory finder in `govc` doesn't differentiate.

I'm going to change the

[2018-02-06 17:10] vancluever commented on #382
One thing - does `/DC0/vm/Discovered virtual machine/avm` show up in the MOB? If it does, what UUID does it have?

[2018-02-06 17:17] johnjelinek commented on #382
ya, I can try this off of master. Also, I haven't yet found `/DC0/vm/Discovered virtual machine/avm` in the MOB. Also, this particular orphaned VM was not created by packer.

[2018-02-06 17:22] johnjelinek commented on #382
Found it:
![cloudapp annotation 2018-02-06 at 11 21 54 am png](https://user-images.githubusercontent.com/873610/35873668-fb8fbcfc-0b2f-11e8-812f-5865cfd14795.png)

[2018-02-06 17:34] surajsub opened #389 "Query on shared disk -"
This is more of a question than an issue

### Terraform Version
0.10.7

### vSphere Provider Version

1.1

### Affected Resource(s)
vsphere_virtual_machine

So is there  a way to provision a disk resource and make it visible as a shared disk when we provision 'n' vm's so that it can be attached during provisioning the vm resources.

[2018-02-06 17:39] vancluever commented on #389
Hey @surajsub, you don't necessarily mean using the [`attach`](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#attach) parameter do you?

That's basically the workflow right now for attaching external disks:

* Disk gets created with `vsphere_virtual_disk`
* Disk gets attached as an eternal disk using the `attach` parameter of the `disk` sub-resource

Let me know if that hel

[2018-02-06 17:40] vancluever commented on #382
OK, that is interesting for sure and something I think we need to account for full stop in the update. I think it's useful for govmomi in general too as if the entire `config` data object is missing, then it sounds like `RetrieveFilter` has a false positive issue with missing keys.

Will work on the fix here shortly.

[2018-02-06 17:46] den-is commented on #382
[code]

But I can't find two instances of same `UUID`
[code]

there is only one template shown above with such template
confused :/

[2018-02-06 18:56] surajsub commented on #389
@vancluever  - that's right -
Can i attach the disk post vm creation or does this have to be done during the vm create ?

[2018-02-06 19:44] vancluever commented on #389
@surajsub I think the answer to that is two part:

* Yes, you can modify a `vsphere_virtual_machine` resource _after_ creation and add it. No problem there, and this should work as intended (just like if you added new disks to a VM after).
* In the provider's resource hierarchy, this is unfortunately, the only path right now - in the future we might be adding a `vsphere_virtual_disk_attachment` re

[2018-02-06 20:01] vancluever commented on #387
Hey @JamesTGrant, there is no way to do this in the vSphere provider currently so it would have to be exposed. You might be able to change it using `govc` in a provisioner, but YMMV:

[code]

(Note that you would need to have your env set up for govc if you do do this - see [here](https://github.com/vmware/govmomi/tree/master/govc#usage))

I've tagged this as an enhancement so that we might be abl

[2018-02-06 20:12] vancluever commented on #385
Hey @rismoney, the current behaviour is actually there because there can be several operations that actually require the VM to be powered down in order to be changed. If they are changed via API an error is issued.

I'm not too sure if the behaviour is different from GUI to GUI, but a lot of the settings that do require a restart were determined by actually looking at the new HTML5 vSphere client

[2018-02-06 20:35] surajsub commented on #389
@vancluever  - thanks for the response - Appreciate it

[2018-02-06 20:35] #389 closed

[2018-02-06 20:36] vancluever commented on #389
No problem @surajsub! Hope it helped!

[2018-02-06 20:38] vancluever commented on #388
@ronmessana-concerto one other question. Is the network that the source template is set to visible to the hosts that you are cloning to?

If it's not, can you try changing that and trying again?

PS: I'm marking this as a bug anyway as this is something that we should probably be fixing anyway during post-clone.

Thanks!

[2018-02-06 20:46] vancluever commented on #380
Hey @ryancurrah, sorry for the delay in responding to this.

This is actually a long-standing issue in all of TF, as we, much like the other issues you have linked, work off of the standard library's default resolver.

Unfortunately this is not an issue that we have an easy answer. We are tracking this in more detail in issues such as hashicorp/terraform#3536. Once a better answer is available, I

[2018-02-06 20:46] #380 closed

[2018-02-06 20:51] ronmessana-concerto commented on #388
@vancluever The network on the source template is available on all hosts. In the environment, all networks are available on all hosts in the datacenter as a standard.

[2018-02-06 22:22] Chris-Carmichael commented on #382
Hey guys, sorry I was short on time as usual and didn't give an exhaustive methodology on how I verified there weren't duplicate SIDs.

I dumped out the entire datacenter's VMs + UUIDs and searched for the "offending" UUID in the Terraform error.  It's definitely not a dupe.  Here is some PowerCLI code for those interested.  It's very quick and dirty, so don't judge.  😁

[code]

[2018-02-06 22:23] ryancurrah commented on #380
No problem I appreciate the response. And will follow the linked issue.

[2018-02-06 23:01] vancluever commented on #382
Thanks @Chris-Carmichael!

I think we are getting close to a fix here - if you want to try #391 it's already been verified as fixing it for @johnjelinek, I'm just waiting on verification of the latest commit that should speed up the search a lot. :slightly_smiling_face:

[2018-02-07 01:25] soumyapanigrahi-k8s commented on #351
@vancluever is it possible to get to get the list and size(available/consumed)of data stores that are part of a resource-pool so creation of VM's can be automated without having to manually enter the data-store names.

[2018-02-07 01:42] vancluever commented on #382
Everyone, 1.3.2 will be out shortly with a fix for this. If everyone having this issue can test against the new version and let me know if it solves your issues, that would be great!

[2018-02-07 07:55] den-is commented on #382
awesome!!1 works now! thanks for the great job

only, optional, thing left to do is to fix provisioning of multiple dns_suffixes https://github.com/terraform-providers/terraform-provider-vsphere/issues/384 (centos74 in my case) and I will never look in this repo again :P

[2018-02-07 17:49] sdemura commented on #388
I've noticed that if `customize` is used, then the template will boot with the NIC connected.
If `customize` is NOT used, then the VM boots as desired, but `wait_for_guest_net_timeout =0` must be used in order for `terraform apply` to complete.

`wait_for_guest_net_timeout=0` is not an option for me because I run into https://github.com/terraform-providers/terraform-provider-vsphere/issues/231

[2018-02-07 18:12] charandas commented on #74
That's excellent and I have been using [#303](https://github.com/terraform-providers/terraform-provider-vsphere/pull/303) with coreos projects.

With ubuntu and cloud-init, its not working as fluidly, as the OVF transport used by default does not work for cloud-init. However, using the CDROM transport works.

@vancluever or anyone else, if you have some details on why `cdrom` option for terraform

[2018-02-07 18:22] vancluever commented on #74
Hey @charandas, the vApp option delivery over ISO quirks are currently being tracked in #381, and a workaround is documented there as well, so long as you don't need the CDROM drive for anything else.

Transparent vApp option ISO delivery and empty CDROM device support are both things that we want to support, so it's just a matter of time before they are all added.

Thanks!

[2018-02-07 18:32] ronmessana-concerto commented on #388
@sdemura  I'm using the following 'customize' block

``hcl

customize {
        windows_options {
        computer_name  = "terraform-test"
      }
[code]

[2018-02-07 18:32] charandas commented on #381
Great. Its quite a coincidence, I have been grappling, struggling and learning from similar work with ubuntu OVA images in the last week as well.

Did anyone notice a method for providing network config through user-data?

This [gist](https://gist.github.com/smoser/635897f845f7cb56c0a7ac3018a4f476) seems to imply, that the OVF transport of ISO at least supports network-config as independent from u

[2018-02-07 18:42] sdemura commented on #388
@ronmessana-concerto I'm using linux, but I add an empty `network_interface` which is DHCP. I did just notice now that you are trying to use static, though.

[code]

[2018-02-07 20:23] ronmessana-concerto commented on #388
@sdemura I changed my configuration to use DHCP and the results are the same. I don't have any linux templates to test, I'll see about making one and report back

[2018-02-08 11:53] JamesTGrant commented on #387
Most excellent, thank you.
I’m running Terraform on Windows, but I’ll take the idea and run with it!

Kind regards,

James Grant
Mobile +44 (0) 7881 91 4053
james.j.grant@ericsson.com
From: Chris Marchesi [mailto:notifications@github.com]
Sent: 06 February 2018 20:02
To: terraform-providers/terraform-provider-vsphere <terraform-provider-vsphere@noreply.github.com>
Cc: James Grant J <james.j.grant@

[2018-02-08 15:08] jason-azze commented on #74
I'm not working with OVAs yet, but I have been able to create empty CDROM devices using this method:

My data source:
[code]
My cdrom device instantiation:
[code]

Now set the value of `iso_path` to nothing at runtime. I set

[code]
and `images_datastore_designator` to some real vSphere datastore at runtime:

[code]
Where `dev-ops` is a folder that exists and `nubrdata01-nu01` is a datastore that

[2018-02-08 15:50] vancluever commented on #387
Hey @JamesTGrant, I don't know why I didn't tell you before as well, but you could possibly put this in `extra_config` map as well:

[code]

Again, this may or may not work, as usually values that are editable otherwise in the GUI or API are not necessarily editable in `extra_config`, however people have had success updating certain values this way before.

[2018-02-08 16:14] vancluever commented on #74
Hey all, now that #303 has been merged and has been available for a few weeks now, I'm going to close this. For the ISO transport issues please watch #381.

To answer the elephant in the room question on whether or not Terraform should support uploading OVAs, I think at this point in time, the answer is no, as I really do believe that this kind of thing should be the job of Packer or some other to